@using MyHebrewBible.Client.Features.Parasha.Enums

@inject ILogger<HaftorahVerses>? Logger

@if (DataExists)
{
	@foreach (var item in HaftorahVersesList!)
	{
		@* <div class="card-body"></div> *@
		<VerseParagraph VerseParagraphRange="item" />
	}
}

@code {
	[Parameter, EditorRequired] public Enums.Triennial? CurrentReading { get; set; }

	private bool DataExists = false;
	private List<VerseParagraphRange>? HaftorahVersesList;

	protected override void OnParametersSet()
	{
		if (CurrentReading!.HaftorahVerses is not null && CurrentReading!.HaftorahVerses.Any())
		{
			HaftorahVersesList = new List<VerseParagraphRange>();
			foreach (var item in CurrentReading.HaftorahVerses)
			{
				HaftorahVersesList.Add(new VerseParagraphRange(item.BegId, item.EndId, item.BibleBook.Title + " " + item.ChapterVerse));
			}
			DataExists = true;
		}
		else
		{
			HaftorahVersesList?.Clear();
		}

		DataExists = true;
	}

}
