@using ParashaEnums = MyHebrewBible.Client.Features.Parasha.Enums

	<div class="card-body pb-0">
		<div class="d-flex justify-content-center">
			<div class="pe-3 text-center"><b>Torah</b><br /><b>@CurrentReading!.TorahAbrv</b></div>
			<div class="pe-3 text-center"><b>Next Shabbat</b><br /><b>@ParashaEnums.Constants.GetNextShabbatDate().ToString(DateFormat.YYYY_MM_DD)</b></div>

			@if (MediaQuery == GlobalEnums.MediaQuery.MdOrLgOrXl)
			{
				<div class="pe-3 text-center"><b>Name</b><br /><i>@CurrentReading!.ParashaName</i></div>
				<div class="pe-3 text-center"><b>Meaning</b><br />@CurrentReading!.Meaning</div>
			}

			<div class="pe-3 text-center">
				<b>Ahavta</b><br />
				<a href="@CurrentReading.AhavtaURL"
				 title="@CurrentReading!.AhavtaURL [@CurrentReading.Value] " target="_blank">
					<i class="fas fa-external-link-alt"></i>
				</a>
			</div>

		</div>
	</div>

@code {
	[Parameter, EditorRequired] public ParashaEnums.Triennial? CurrentReading { get; set; }
	[Parameter, EditorRequired] public GlobalEnums.MediaQuery? MediaQuery { get; set; }
}
