@using MyHebrewBible.Client.Features.Parasha.Enums

@inject ILogger<TorahVerses>? Logger
@if (DataExists)
{
	@* <div class="card-body"></div> *@
	<VerseParagraph VerseParagraphRange="Verses" />
	
}

@code {
	[Parameter, EditorRequired] public Enums.Triennial? CurrentReading { get; set; }

	private bool DataExists = false;
	private VerseParagraphRange? Verses;

	protected override void OnParametersSet()
	{
		Verses = new VerseParagraphRange(
			CurrentReading!.TorahVerse.BegId, CurrentReading.TorahVerse.EndId
			, CurrentReading.TorahVerse.BibleBook.Title + " " + CurrentReading.TorahVerse.ChapterVerse);

		DataExists = true;
	}

}
