@page "/VerseList"
@page "/VerseList/{BegId:long?}/{EndId:long?}"

@using MyHebrewBible.Client.Enums;

@*
This is how it used to be
https://myhebrewbible.com/Verse/jer-31-1-9/Englishonly
*@

<PageHeader PageEnum="@MyHebrewBible.Client.Enums.Nav.VerseList" />

<p class="text-warning">ToDo: Add a typeahead / search component</p>

<VerseListParagraph VerseRangeDTO="VerseRangeDTO" />

@code {
	[Parameter] public long? BegId { get; set; }
	[Parameter] public long? EndId { get; set; }

	protected long BegId2;
	protected long EndId2;

	private VerseRangeDTO? VerseRangeDTO;
	
	protected override void OnInitialized()
	{
		base.OnInitialized();
		BegId2 = BegId ?? 3;
		EndId2 = EndId ?? 4;
		VerseRangeDTO = new VerseRangeDTO(BegId2, EndId2, "Gen 1:3-4");

		//VerseRangeDTO = new VerseRangeDTO(4, 3, "Gen 1:4-3 ???");
	}

	/*
	ToDo: do I need this?
	Maybe it belongs with Components/`VerseListParagraph.razor`

	Yes, what I need is to add a "typeahead / search component" mentioned above

	See `MyHebrewBible.Client\HealthChecks\VerseList\Index.razor` where I do stuff like...

		<li class=""><a class="" href="/VerseList/1/2">VerseList/1/2</a></li>
		<li class=""><a class="" href="/VerseList/2/1">VerseList/2/1</a></li>
		<li class=""><a class="" href="/VerseList/1/303">VerseList/1/303</a></li>

	@page "/VerseList/{BegId:long?}/{EndId:long?}"
	[Parameter] public long? BegId { get; set; }
	[Parameter] public long? EndId { get; set; }
	 */

}