
@if (BibleVerseWithAT != null)
{
 <p class="fs-5">
		<sup class="text-primary"><b>@BibleVerseWithAT.Verse</b></sup>
		
		@if (BibleVerseWithAT.VerseOffset != "NULL")
		{
			<sup class="text-black-50">&nbsp;@BibleVerseWithAT.VerseOffset&nbsp;</sup>
		}
		else
		{
			<text>&nbsp;</text>
		}
		@((MarkupString)@BibleVerseWithAT.KJV!)
		@ParagraphEnd
	</p>
}


@code {
	[Parameter, EditorRequired] public BibleVerseWithAT? BibleVerseWithAT { get; set; }
	[Parameter, EditorRequired] public RenderFragment? ParagraphEnd { get; set; } /* DrillDownButton GetSAT */
}
