
@if (BibleVerseBC != null)
{
 <p class="fs-5">
		<sup class="text-primary"><b>@BibleVerseBC.Verse</b></sup>
		
		@if (BibleVerseBC.VerseOffset != "NULL")
		{
			<sup class="text-black-50">&nbsp;@BibleVerseBC.VerseOffset&nbsp;</sup>
		}
		else
		{
			<text>&nbsp;</text>
		}
		@((MarkupString)@BibleVerseBC.KJV!)
		@ParagraphEnd
	</p>
}


@code {
	[Parameter, EditorRequired] public BibleVerseBC? BibleVerseBC { get; set; }
	[Parameter, EditorRequired] public RenderFragment? ParagraphEnd { get; set; } /* DrillDownButton GetSAT */
}
