@inject ApiClient Api
@inject ILogger<Sections>? Logger
@inject IToastService? Toast

@using AlephTavEnums = MyHebrewBible.Client.Features.AlephTav.Enums

<LoadingComponent IsLoading="verses==null" TurnSpinnerOff="TurnSpinnerOff">
	@foreach (var item in verses!)
	{
		@if (item.DescH != "NULL") { <p class="text-danger text-center fs-4 mt-1 mb-2">@item.DescH</p>	}
		
		@if (item.DescD != "NULL") {<p class="text-secondary fs-6 text-end mb-0"><em>@item.DescD</em></p> }

		if (FocusScriptureId == 0)
		{
			<ParagraphKjv BibleVerse="item">
				<ParagraphEnd>
					<AppendixSAT VerseNumber="item.Verse" SatVerseList="SatVerseList" />
					<AppendixDrillDownButton ScriptureId="item.ID" VerseNumber="item.Verse"
																	 OnVerseSelected="ReturnedVerse" />
				</ParagraphEnd>
			</ParagraphKjv>
		}
		else
		{
			if (item.ID == FocusScriptureId)
			{
				<div class="card border-primary mt-2 mb-4">
					<div class="card-header">
						<HeaderKjvWordPart BibleVerse="item" BookAndChapter="BookAndChapter" 
															 VerseNumber="item.Verse"
															 OnClose="ReturnedCloseEvent" />
					</div>
					<div class="card-body">
						<ParagraphKjvWordPart ScriptureId="FocusScriptureId" 
																	OnStrongsSelected="ReturnedStrongs" />
					</div>
					<HebrewTable ScriptureId="FocusScriptureId" 
											 StrongsAndWordCount="CurrentStrongsAndWordCount"
											 OnStrongsSelected="ReturnedStrongs" />
				</div>
			}
			else
			{
				<ParagraphKjv BibleVerse="item">
					<ParagraphEnd>
						<AppendixSAT VerseNumber="item.Verse" SatVerseList="SatVerseList" />
						<AppendixDrillDownButton ScriptureId="item.ID" VerseNumber="item.Verse"
																		 OnVerseSelected="ReturnedVerse" />
					</ParagraphEnd>
				</ParagraphKjv>
			}
		}
	}
</LoadingComponent>

@code {
	[Parameter, EditorRequired] public BookAndChapter? BookAndChapter { get; set; }

	protected long FocusScriptureId;
	protected long VerseNumber;

	private List<AlephTavEnums.ChapterVerse>? SatVerseList = null;

	protected bool TurnSpinnerOff = false;
	private ICollection<BibleVerse>? verses = null;

	protected override async Task OnParametersSetAsync()
	{
		try
		{
			FocusScriptureId = 0;
			if (BookAndChapter is not null && BookAndChapter!.BibleBook is not null)
			{
				verses = await Api!.GetBookChapterAsync((long)BookAndChapter!.BibleBook, (long)BookAndChapter.Chapter);
				SatVerseList = MyHebrewBible.Client.Components.Helper.GetSatVerseList(BookAndChapter.BibleBook, BookAndChapter.Chapter);
			}
		}
		catch (Exception ex)
		{
			Logger!.LogError(ex, "{Method}", nameof(OnParametersSetAsync));
			Toast!.ShowError($"{Global.ToastShowError} {nameof(Sections)}!{nameof(OnParametersSetAsync)}");
		}
		finally
		{
			TurnSpinnerOff = true;
		}

	}

	private void ReturnedVerse(ScriptureIdAndVerseNumber scriptureIdAndVerseNumber)
	{
		FocusScriptureId = scriptureIdAndVerseNumber.ScriptureID;
		VerseNumber = scriptureIdAndVerseNumber.VerseNumber;
	}

	StrongsAndWordCount? CurrentStrongsAndWordCount = new StrongsAndWordCount(0, 0);
	private void ReturnedStrongs(StrongsAndWordCount strongsAndWordCount)
	{
		CurrentStrongsAndWordCount = strongsAndWordCount;
	}

	private void ReturnedCloseEvent()
	{
		FocusScriptureId = 0;
	}

}
