@using BLBEnum=MyHebrewBible.Client.Enums
@using MyHebrewBible.Client.Helpers

<div class="card border-info my-2">

	<div class="card-body py-1">
		<div class="card-header">
			<div class="d-flex justify-content-center">
				<span class="fs-4 badge bg-warning-subtle text-black">Genesis Rabbah and 10 Tribes</span>
				<span class="float-end"><ToggleButton OnShowDetails="OnToggleChanged" /></span>
				<!-- Topics: FirstAndList, Aleph and the Tav, SynOfSatn -->
			</div>
		</div>
	</div>

	@if (showDetails)
	{

	<div class="card-body py-1">
			<sup class='text-black-50'>27:56</sup>
		<p class="card-text">
			<b>T-Bone</b>: I would like if you’d explain <b>Genesis Rabbah</b> a little bit,
			where it’s from, what it is, that sort of thing.
		</p>

		<p class="card-text">

			<b>Nehemia</b>: Okay, so Genesis Rabbah is a Midrash, and it dates to around the year 500, but it contains much earlier material.
			That’s actually something you’ll often hear in early Rabbinical literature, “It’s from the year 200 but it contains much earlier material,”
			and it’s true. So, for example, other people who are much greater experts in Genesis Rabbah than I am have pointed out that
			there are three clear connections between the <b>Epistles of Paul and Genesis Rabbah</b>.
			For example, where he talks about the Torah being a teacher, that is based on a sermon in Genesis Rabbah, in this Midrash.

			<br />
			And what this Midrash does is, it’s basically a series of interpretations of the Book of Genesis and other books when there’s some association,
			that are in the Midrashic method – which means, they’re not necessarily saying, “Okay, if we read this text,
			what meaning will we derive from it?” But there’s an association we can create from this text,
			and if we want to give a sermon in the synagogue, we could build it around this text.
			And that’s called the “Midrashic method of interpretation”, 
			it’s sometimes described as reading meaning into the text instead of deriving meaning from the text,
			but often the Rabbis have a certain concept and they want to teach that concept, 
			so they hang it on some verse from which you’d never get it from that verse alone,
			but they already have the concept and they want to teach it.

			<br />
			And there are <b>three very clear connections</b> between the <b>Epistles of Paul and Genesis Rabbah</b>
			which show you that that material goes back to the time when <b>Paul</b>,
			according to his description, <b>was sitting under Gamaliel and teaching</b>.
			So, even though it was written down in 500, it contains much, much earlier material that goes back to the 1st century, and probably earlier than that.

			<br />
			So when there’s this teaching that there’ll be <b>people from the Ten Tribes</b> - I guess, 11 Tribes – who will call themselves <b>“Yehudi’im”</b>,
			that could be from 500, it could be from 500 BC. We don’t know. Probably not from 500 BC, right?
			But it probably does go back to <b>Second Temple times</b>. 
			
			Is this a reference to that here,
			that there are people who claim to be from the <b>Ten Tribes</b> and to be Judaic and they’re not?
			They’re the Synagogue of Satan? I mean, what on earth…? 

			<br />
			I mean, the first thought I had is, this is a reference to <b>replacement theology</b>,
			where the Catholic Church and the Orthodox Church say that they are the <b>new Israel</b>.
			The old Israel’s done away with. They are the new Jews. The old Jews are done away with.
			I don’t know if that’s what this is talking about.
			I’m going to leave that for the listeners to search it out for yourself and pray about it, because it’s a very fascinating passage.
		</p>

		<p class="card-text">
			<b>JKM</b> ToDo: Insert my comment here

		</p>

		
	</div>

	} <!-- if ShowDetils -->
</div> <!-- card -->

@code {
	//string HebrewSize = "hebrew"; // hebrew30
	private bool showDetails = false;
	private void OnToggleChanged(bool newState)
	{
		showDetails = !showDetails;
	}
}
