@using MyHebrewBible.Client.Helpers

<div class="card border-info my-2">

	<div class="card-body py-1">
		<p class="card-title">@HtmlGeneration.TranscriptHeader("B", "King and Messenger", "11:13")</p>
	</div>
	<div class="card-body py-1">

		<p class="card-text">
			<b>JKM:</b> Interesting word study comparing King and Messenger...they are not from the same Hebrew root.
		</p>

		<p class="card-text">
			<b>Nehemia</b>
			So, “angelos” means “messenger”, and it’s just as ambiguous as Hebrew.
			In other words, in the Tanakh, “mal’ach” can be both a human or a spirit messenger, and there’s no way to know except the context.
			And in Greek as well, “angelos” is just “messenger”.
			So a human messenger is also called “angelos” in Greek.
			So it’s ambiguous – meaning, whenever you see the word “angel”, know that word can be a human messenger as well.
			And that’s in the Tanakh, that’s in the New Testament, that’s everywhere that both Hebrew and Greek have this word that has this ambiguity.

			In fact, “malachai” means “my messenger, my angel”. It’s “malachi”, “my main angel”.
			And he’s referred as his “mal’achut”, his messengership, meaning referring to malachi.
			And then the King Balak sends messengers, which are also called angel, “malach”.
			So, it’s only from the context you could know whether it’s angel or messenger. It’s the same in Hebrew and Greek.
		</p>

		<p class="card-text">
			<b>AJ Bernard</b>: Okay. And does that share the root with “melech” meaning “king?”
		</p>

		<p class="card-text">
			<b>Nehemia</b>:
			No, absolutely not. Melech, the root is Mem-Lamed-Khaf.
			Noun, adjective and verb in the Hebrew language is based on a three-letter root.
			This is the most basic concept - literally, the most basic concept.
			It’s the root concept, no pun intended – or maybe pun intended – of the Hebrew language,
			that every word has a three-letter root.
			It doesn’t apply to prepositions and things, but every adjective, noun and verb has a three-letter root.
			And the root of “melech”, king is <b>Mem-Lamed-Khaf</b>. The root of angel, “mal’ach,” is <b>Lamed-Aleph-Kaf</b>.
			And “la’achah” means “to send, to send somebody to do something.”
			So, mal’ach is “the one who is sent”, that’s the literal translation.
		</p>

	</div>
</div>

@code {

}
