@using BLBEnum=MyHebrewBible.Client.Enums
@using MyHebrewBible.Client.Helpers

<div class="card border-info my-2">

	<div class="card-body py-1">
		<div class="card-header">
			<div class="d-flex justify-content-center">
				<span class="fs-4 badge bg-warning-subtle text-black">Nicolaitans</span>
				<span class="float-end"><ToggleButton OnShowDetails="OnToggleChanged" /></span>
			</div>
		</div>
	</div>

	@if (showDetails)
	{
		<div class="card-body py-1">

			<sup class='text-black-50'>17:05</sup>

			<p class="card-text">
				<b>AJ Bernard:</b> The one thing I really wanted to hit on was the word “Nicolaitans” @Enums.BibleAnchors.StrongsG(3531, "nikolaitēs").
				Nicolaitans, because it comes from the Greek, it’s a transliteration of the Greek.
				I looked in the Hebrew text, and it had the transliteration there.
				The Greek word - a couple of ideas of where it may come from:
				One, a conjugation of “nicai’o” which means “to rule over” from the Greek god Nike, and the word that becomes “laity”
			</p>

			<p class="card-text">
				<b>Nehemia</b>: Oh, so it’s to Nike over laity, to be victorious over the laity.
			</p>

			<p class="card-text">
				<b>AJ Bernard</b>: Right. <b>Nehemia</b>: Oh, wow.
			</p>

			<p class="card-text">
				<b>AJ Bernard</b>: Yeah, to rule over the people.
				And I’ve heard people say that this talks about the idea of the clergy,
				the professional clergy, lording their religion over the people.
			</p>

		</div>

		<div class="card-body py-2">
			<div class='fs-4'>Greek words borrowed by Hebrew</div>
		</div>

		<div class="card-body py-1">
			<sup class='text-black-50'>18:18</sup>
			<p class="card-text">
				<b>Nehemia:</b>
				...but yeah. It is interesting that you have a Greek word here in the Hebrew.
				I should point out that in this period, when Hebrew was heavily influenced by both Greek and Aramaic,
				for example, there are two key concepts in Rabbinical literature from this period, one will be probably
				very well-known to many members of the audience, it’s the word “gematria.”
				Gematria is simply the Greek word for “mathematics”, but it appears all over Hebrew literature,
				both Hebrew and Aramaic literature of Jewish sources.

				Gematria is where you take words and you turn them into numbers, and then find other words that have the same number.
				And that is actually a Greek concept, that they would take Alpha, Beta and Gamma and turn them into numbers.
				It actually came from the Greek schools of Alexandria.

				And then the other word you have, which probably isn’t going to be too familiar to anybody but Hebrew scholars,
				is the word “notarikon”, which is another Greek word that you find all over Rabbinical literature in Hebrew and in Aramaic.
				And it’s another method of interpretation that comes out of the Greek schools of Alexandria.
				Notarikon actually makes a lot more sense in Greek than it does in Hebrew, because it’s identifying compound words.
				Hebrew doesn’t really have so many compound words, it’s quite rare. But in Greek, “Nicolaitans” is an example of a compound word. It’s the word “nicao”, victory and laity, right? So, compound words are much more natural in Greek.

				<b>So, you do have Greek words in Hebrew of this period.</b>
				You have Aramaic words. We just saw a Persian word that goes back to the time of King Solomon, right,
				because he’s writing in Ecclesiastes, assuming he wrote Ecclesiastes.
				<b>So, you do have foreign loaned words occasionally</b>.
				They tend to be rare, depending on your period you might have more.
				So yeah, you have all kinds of Greek words in Hebrew sources of this period.
				You have “famalia” which is the word “family”, but it actually means an “entourage” or a “royal entourage”.
				You have “palatin” which is a word that appears all over the Rabbinical writings in Hebrew of this period.
				“Palatin” is the word “palatine” and it means “palace”. It’s actually the source of the word “palace”.

				In other words, the original Hebrew, whether this is the original Hebrew or not I don’t know,
				but <b>it’s very possible the original Hebrew did have the word “Nicolaitim” or something like it, Nicolaitans</b>. It’s very possible.
			</p>
		</div> <!-- Greek words borrowed by Hebrew -->

		<div class="card-body py-2">
			<div class='fs-4'>Victorious and Conquerors</div>
		</div>

		<div class="card-body py-1">
			<sup class='text-black-50'>19:30</sup>
			
			<p class="card-text">
				<b>T-Bone</b>: I’ve seen some people connect the <b>Nicolaitans</b> back to the same meaning as <b>“Balaam”</b>.
			</p>

			<p class="card-text">
				<b>JKM</b>: See @BLBEnum.BLB.KJV.AnchorBCV(Enums.BibleBook.Revelation.Value, 2, 14) regarding the message to the 3<sup>rd</sup> church <b>Pergamum</b>
			</p>

			<p class="card-text bg-info-subtle mt-3 ps-4">
				<i class="fas fa-quote-left"></i>
				But I have a few things against thee, because thou hast there them that hold the <b>doctrine</b> @Enums.BibleAnchors.StrongsG(1322, "didachē") of <b>Balaam</b>,
				who taught Balac to cast a stumblingblock before the children of Israel,
				to eat things sacrificed unto idols, and to commit fornication.
			</p>

			<p class="card-text">
				<b>JKM</b>: and also @BLBEnum.BLB.KJV.AnchorBCV(Enums.BibleBook.Revelation.Value, 2, 15)
			</p>

			<p class="card-text bg-info-subtle mt-3 ps-4">
				<i class="fas fa-quote-left"></i>
				So hast thou also them that hold the <b>doctrine of the Nicolaitans</b>, which thing I hate.
			</p>

			<p class="card-text">
				<b>AJ Bernard</b>: Yeah, I’ve heard that as well.
			</p>

			<p class="card-text">
				<b>Nehemia</b>: And tell me about that, what’s the connection with Balaam?
			</p>

			<p class="card-text">
				<b>AJ Bernard</b>: I don’t have it in front of me, but it says like the “conqueror of the people.” I’d have to look it up. <b>JKM</b>: See above
			</p>

			<p class="card-text">
				<b>Nehemia</b>: Okay, interesting. I think it’s interesting, this word the <b>“victorious”</b>.
				Is there something different in the Greek there?
				“I will let the <b>victorious eat of the tree of life</b>.”
				Just the tree of life is an amazing concept.
				We just talked about a <b>pardes</b>, a holy orchard, and in that orchard there are two trees,
				the <b>tree of life</b> and the <b>tree of knowledge</b> of good and evil in the Garden of Eden.
				And we were never forbidden from eating of the tree of life,
				we were only forbidden to eat of the tree of knowledge of good and evil.
				If we had only just not eaten from the tree we were forbidden to eat from,
				and eaten from the tree where we were allowed to eat from, we would have had eternal life,
				but because we disobeyed God, that was taken away from us.

				And then you have this concept, especially in Proverbs, <b>“Eitz chaim hi lemachazikim ba.”</b>
				<b>“The Torah is a tree of life for those who grab hold of it.”</b>
				The Tanakh concept is that through the Torah, we get a second crack at eating of the tree of life,
				the one that we gave up that opportunity when we ate of the tree of knowledge.
				Now we have a second chance to eat of that tree of life, and <b>get eternal life</b>…
			</p>

			<p class="card-text">
				<b>AJ Bernard</b>: Hallelujah
			</p>

			<p class="card-text">
				<b>Nehemia</b>:
				…in the terms of the Tanakh. So, that’s pretty cool.
				I do think it’s interesting the victorious, because the words <b>“lamenatze’ach”</b> could also mean <b>“the conductor”</b>,
				that is, the conductor of a <b>choir</b>.
				And remember, I mentioned that <b>“makelim”</b>, which is <b>congregations</b>, could also be translated as <b>“choir”</b>.
				I just realized that. Maybe there’s some kind of play on words there, I don’t know.
			</p>

			<p class="card-text">
				<b>AJ Bernard</b>: And then, the Greek word “victorious” here gets translated in English as “conquers”, is actually “nikamti”, which comes Nike.
			</p>

			<p class="card-text">
				<b>Nehemia</b>: Wow! <b>AJ Bernard</b>: Yes
			</p>

			<p class="card-text">
				<b>Nehemia</b>: So, we may have a word pun in the Greek connecting Nicolaitans with the victorious.
			</p>

			<p class="card-text">
				<b>T-Bone</b>: The conquerors who oppose them, yes.
			</p>

			<p class="card-text">
				<b>Nehemia</b>: Wow. So there are the ones who conquer the laity,
				“We don’t like that. We hate that,” meaning whoever’s speaking here, but for the ones who are victorious in something else,
				maybe victorious in the Spirit, because the Spirit is talking?
				I don’t know. That’s theology that I’m not sure we want to get into.

				But there’s this other group that are victorious without being victorious over the laity,
				<b>victorious in the word</b>, <b>victorious in the Torah</b> or whatever it is,
				they’re going to get to eat of the tree of life. That’s pretty cool.
			</p>

			<p class="card-text">
				<b>AJ Bernard</b>: That’s awesome.
			</p>

			<p class="card-text">
				<b>Nehemia</b>: That’s cool. And look, that might be an argument for a Greek original, at least, of that passage.
				I don’t know. That’s interesting. It’s hard to deny that there’s a connection there in the Greek.
				But maybe the Greek translator from the original Hebrew wove that in.
				Maybe there was something in the Hebrew that’s not lost. In other words, maybe the original Hebrew said something like,
				“I hate the actions of the <em>menatzchei ha’am</em>, the ones victorious over the people.”

				But <em>lamenatze’ach</em>, the conductor of the choir, the one who is victorious in Torah,
				he’s going to get to eat of the tree of life. Here I’m speculating, I don’t know.
				I don’t have that text, right? We have a copy of a copy of a copy, possibly a translation.
			</p>
		</div> <!-- Victorious and Conquerors -->

	} <!-- if ShowDetils -->

</div><!-- card -->
@code {

	private bool showDetails = false;
	private void OnToggleChanged(bool newState)
	{
		showDetails = !showDetails;
	}
}
