
@using BLBEnum=MyHebrewBible.Client.Enums
@using MyHebrewBible.Client.Helpers

<div class="card border-info my-2">

	<div class="card-body py-1">
		<p class="card-title">@HtmlGeneration.TranscriptHeader("F", "TITLE", "33:31")</p>
	</div>

	<div class="card-body py-1">

		<p class="card-text">
			<!-- COMMENTS 
			<b>T-Bone</b>: 
			<b>AJ Bernard</b>:
			-->
			
			<!--
				<p class="card-text"><b>SPEAKER</b>:CONTENT</p>
			-->

			<b>Nehemia</b>:
			All right. To me, this is one of the three big pearls in this passage, one of the three golden nuggets.
			<ul>
				<li>
					<sup class="text-black-50">[1]</sup> You’ve got Yehovah with the vowels in chapter 1 verse 8, 
				</li>
				<li>
					<sup class="text-black-50">[2]</sup> you’ve got the nails,
				</li>
				<li>
					<sup class="text-black-50">[3]</sup> and you have this reference to Yehudi’im versus Yehudim.
				</li>
			</ul>
			This is some cool stuff. 
			And again, I don’t know if this is a translation from some lost Greek or Latin version, or if it is just the original Hebrew, I have no idea. 
			But there’s something really fascinating about this text. 
			Let’s read on.
		</p>

		<p class="card-text">
			<b>Nehemia</b>: 
			Verse 10,
			“Al tira shehutzrach unot vehinei ha’avadon yiten mikem el beit hasohar lenasotchem. 
			Velachem tzara asar yamim. Heyeh ne’eman ad mavet venatati lecha ateret hachayim.” 
		</p>

		<p class="card-text">
			That’s pretty cool.	What’s the crown of life? It sounds like a good thing, whatever it is. [laughing]
		</p>

		<p class="card-text">
		<b>AJ Bernard</b>: Yeah, it could be a reference to a victor’s crown from the Greek games.
		<b>Nehemia</b>:So, we’re back to the victors, like in the earlier verse. <b>AJ Bernard</b>: Right. <b>Nehemia</b>:Okay, nice. Nice.
		</p>

		<b>T-Bone</b>: It says, “And behold destruction, Abaddon, will give some of you to the prison.” 
		The word “Abaddon”, couldn’t that be construed as an adversary in that point?

		Nehemia: Well, it’s not good. [laughing]

		AJ Bernard: No, it’s not good.

		Nehemia: Meaning, “avadon” is destruction. It certainly is not a pleasant experience, whatever it is. 
		And of course, in the Book of Revelation in 9:11, do you want to read it?

		AJ Bernard: Yeah, 
		
		JKM: See comments above

		Nehemia: And I think that’s really interesting. This is one of the signs that at least this has Hebrew sources, and his name is “Avadon”, “Destruction” and in the Greek the “v” becomes a “b”, Abadon. There’s no “v” in Greek. So, Avadon, Destruction is mentioned again, but you wouldn’t know that from the Greek of Revelation 2:10, but in the Hebrew here it’s “Avadon is going to give you over to the prison.” So, just real quick, what do we have in the Greek there?

		AJ Bernard: Diabolos.

		Nehemia: Wow!

		AJ Bernard: Yeah.

		Nehemia: So, there’s “Diabolos”, which is “the Devil”. 
		You don’t even need to speak Spanish to know Diabolos is the devil, meaning something like Satan or maybe it’s “a diabolos”, “a devil”.
		Wow, so that’s interesting. 
		So, there’s another thing where you have to say, “Why on earth, if he’s translating this from Greek, why would he translate “Diabolos” as “Avadon?” 
		And you could make the argument, “Well, he read later in Revelation.” I wish we had Revelation 9 of this Hebrew text.

		AJ Bernard: Yeah, no doubt.

	</div>
</div>

		<!-- 33:55 Rev 2:10 --> 


@code {
	//string HebrewSize = "hebrew"; // hebrew30  Rev210AvadonTreeOfLife
}
