@using BLBEnum=MyHebrewBible.Client.Enums
@using MyHebrewBible.Client.Helpers

<div class="card border-info my-2">

	<div class="card-body py-1">
		<div class="card-header">
			<div class="d-flex justify-content-center">
				<span class="fs-4 badge bg-warning-subtle text-black">double-edged Cherub</span>
				<span class="float-end"><ToggleButton OnShowDetails="OnToggleChanged" /></span>
			</div>
		</div>
	</div>

	@if (showDetails)
	{
		<div class="card-body py-1">

			<sup class='text-black-50'>38:32</sup>

			<p class="card-text">



				<b>Nehemia: </b>
				Let’s do verse 12 and 13,
				<br />
				“Velamal’ach hamakel bePergamos ktov heina omer, ‘la’asher hakerev pipiyot, yodea ani et ma’asecha ve’eifo yoshev eh hamoshav haSatan.”

				<br />
				“And to the angel of the congregation of Pergamos write here saying,
				‘He who has the double-edged cherub, I know your deeds and where he is sitting,
				where the seat of Satan is.’”
			</p>

			<p class="card-text">

				And by the way, that’s the end of the manuscript, or I should say, it’s the end of the text - the manuscript goes on for another 20 or so pages.

				And that’s the middle of verse 13, right? So, it ends in the middle of the verse, and presumably, the source this was based on was just a fragment,
				and when he copied it there was nothing more to copy. [laughing]
			</p>


			<p class="card-text">
				<b>Nehemia</b>: Talk to me about the “double-edged sword” which here is “cherub”.
				So, the Hebrew word for cherub here is “kerev”, which I would expect to be “kroov”, and so therefore,
				it’s very possible that this is a scribal error for “cherev”.

				<b>Nehemia</b>: So, it’s a difference between the Chet and the Kaf.
				So, “cherev” and “kerev”. But let’s deal with the text as we have it, meaning the original probably said, “double-edged sword”.
				But what would a double-edged cherub be?

			</p>

			<p class="card-text">
				<b>AJ Bernard</b>: Two-sided angel? I don’t know.

				<br />

				<b>Nehemia</b>: I don’t know. Well, on top of the Ark there were two cherubs facing each other.	<b>AJ Bernard</b>: Wow.
			</p>

			<p class="card-text">
				<b>T-Bone</b>: Could it be translated as “double cherub”? On the edge of the seat, of the seat of mercy?

				<b>Nehemia</b>: You know what? That is the translation, “double-edged cherub”.
				So, maybe it’s a double cherub. I mean, you could literally translate it as a cherub with two mouths.

				<b>AJ Bernard</b>: Okay.

			</p>

			<p class="card-text">
				<b>Nehemia</b>: Because really, when you say a “double-edged sword” it’s a sword with <b>two mouths</b>,
				because a sword is described in Hebrew as “devouring”, and a double-edged sword is actually a two-mouthed sword, technically speaking.
			</p>

			<p class="ps-3 card-text">
				<b>JKM:</b> The mouth has a set of "swords" in that there's an upper row of teeth and a lower row of teeth.
			</p>

			<p class="card-text">
			So, what comes to mind for me is <b>Genesis 3:24</b>,
			

			“So he drove out the man and he placed at the east of the Garden of Eden cherubim and a flaming sword which turns every way to keep the way of the tree of life.”
			Interesting.

			<b>AJ Bernard</b>: Okay.

			<b>Nehemia</b>: We have a sword that turns every way, or cherubs with these multi-faceted swords.
			And here is a double-edged cherub. I don’t know. It could just be a scribal error, who knows.
			</p>

			<p class="card-text"></p>
			<b>AJ Bernard</b>: Now, the Greek word <b>“Pergamos”</b> comes from <b>“gami”</b>, meaning <b>marriage</b>.
			The Church at Pergamum is the <b>Church that marries the world</b>. So, this is <b>one of the seven letters about which there’s nothing good said</b>.

			<b>Nehemia</b>: Okay. You probably didn’t want to receive one of these letters, is what you’re trying to tell me.

			<b>AJ Bernard</b>: No, no, no. You didn’t want to be at Pergamos if you did.

			<b>Nehemia</b>: Okay.

			<br />
			<b>AJ Bernard</b>: Yeah, because <b>the rest of the letter is just condemnation after condemnation for the Church of Pergamos</b>.


			<!--
			<b>Nehemia</b>: Can I be <b>really controversial now</b>?

			<b>AJ Bernard</b>: Sure.

			<b>Nehemia</b>: So, I know there are some Christians who have the concept of <b>“once saved, always saved”</b>.
			So, if I’m in Pergamos and I’m once saved, always saved because I believe in the death and resurrection of Jesus Christ – and that’s an if, that’s not me – hypothetical, right?
			What do I care that I get this letter? I’m already saved. I’m in heaven. I know I’m going to heaven.
			I said the Sinners’ Prayer, I know I’m going to heaven. What do I care? Why would I even bother with this letter?

			<b>AJ Bernard</b>: Right, yeah. It’s a difficult concept.

			Okay, so the idea of once saved, always saved, sounds strong academically,
			but when you find someone in such a situation who says that he was saved and then 20 years later he’s a murderer on death row and convicted of multiple homicides or something,
			you’d have to say he was never saved in the first place.

			<b>Nehemia</b>: Okay, so I guess it’s a pretty flexible concept. [laughing]

			<b>AJ Bernard</b>: Yeah, it doesn’t want to be, but it ends up practically that it is.

			<b>Nehemia</b>: So would you have to say that the people of Pergamos if you’re once saved, always saved, that they were never saved, and hence they’re getting this letter?
			Or maybe this letter is in effect their salvation, just Satan sitting among their congregation, but they’re still saved?

			<b>AJ Bernard</b>: Yeah, it’s tough. If you were going to take the once saved, always saved hard line, you’d have to say they were never saved.


			

			<b>Nehemia</b>: Well, I wish we had more of this text, but so far that’s all we’ve discovered, unless T-Bone can dig up more.
			T-Bone, can you find us the rest of verse 13 and the rest of Revelation?

			T-Bone: I think we can.

			<b>Nehemia</b>: Wow, I’m excited. [laughing]

			<b>AJ Bernard</b>: That would be awesome.

			T-Bone: It’ll cost money, though.

			<b>Nehemia</b>: Guys, I just want to tell you something about T-Bone.
			He has seen the name “Yehovah” in more places in more Hebrew manuscripts probably than any other living human being, including me.

			<b>AJ Bernard</b>: Wow.

			<b>Nehemia</b>: And that’s because he’s looked through thousands of pages by now of,
			I think about…Well, we’ve found it in 21 manuscripts, but we’ve looked in more than 21.
			We didn’t find it in all of them.
			But I’ve looked through hundreds and hundreds of pages, but just for the Aleppo Codex alone he has me beat.
			That’s 593 pages. I didn’t read every page of the Aleppo Codex in the Codex.
			Wow, so if it’s out there, he can find it.
			And we’re going to work on that, and he just said it costs money.
			I just got an email from him this morning where they’re talking about, “Yeah, you want a photo of this?
			It’s going to cost you. We’ve got to have a team come and photograph this manuscript for you to know what’s in it.”
			And I think we’re going to pursue that. I think we have to. So, this is exciting.

			We’ve had two amazing discussions here. We’ve gone on for over two hours between the two discussions.
			I’m going to end with a prayer. I’m so excited by finding this text. Look, I’m not a Christian.
			I’m not a Messianic. I want to make that really clear.
			I’m finding an ancient Hebrew text and I’m excited by what it has to say. How can you not be excited?
			I literally shouted when I saw this.

			<b>AJ Bernard</b>: Absolutely, yeah.

			<b>Nehemia</b>: And seeing the name “Yehovah” with the full vowels, that was so exciting to me,
			whether this is the Book of Revelation or any other Hebrew book that is testifying to this name with the vowels, that excites me.
			I don’t know how you can not be excited by that. That’s just who I am.

			<b>AJ Bernard</b>: Amen.

			Nehemia:
			Yehovah, Avinu shebashamayim, Yehovah our Father in Heaven,
			Yehovah, I look forward to seeing the <mark><b>bar enosh</b></mark>, <b>the son of man, coming on the clouds</b>,
			the one described in the Book of Daniel chapter 7.
			The one who will come and he’ll have victory over all the nations and he’ll conquer.
			He’ll appear before Your throne in victory and everybody will see Him.
			And He will bring peace to this world.
			Yehovah, You are the one that haya, that was and always has been.
			You are the one that hoveh, that is, and You are the one that yihyeh, the one that will always be. You are haya, hovey, yihyeh.
			You are one, Yehovah, and Your name is one.

			<b>AJ Bernard</b>: Yes.

			<b>Nehemia</b>: And so many things are being revealed in this time, Yehovah.
			I’m so blessed. We are all so blessed to live in this period of time where so much information about Your name and who You are is being revealed to mankind.
			And I thank you for this wonderful gift of Your name and the knowledge to be able to read these ancient Hebrew texts and the drive,
			the calling that You’ve given me and AJ and T-Bone to share this with people.
			This is a gift that I do not discount, that I know is a precious gift.
			It’s this burning inside me that I can’t explain. It doesn’t come from me - I know it comes from You.

			<b>AJ Bernard</b>: Yes.

			<b>Nehemia</b>: And I ask you to continue to reveal whatever truth You have for me soon in our days, Amen.

			<b>AJ Bernard</b>: Amen. Gal einai ve’abita nifla’ot miToratecha.

			<b>Nehemia</b>: Amen. Uncover my eyes that I may see the wonderful hidden things of Your Torah. Amen.

			-->


		</div>

	} <!-- if ShowDetils -->
</div> <!-- card -->
@code {

	private bool showDetails = false;
	private void OnToggleChanged(bool newState)
	{
		showDetails = !showDetails;
	}
}
