@using BLBEnum=MyHebrewBible.Client.Enums
@using MyHebrewBible.Client.Helpers

<div class="card border-info my-2">

	<div class="card-body py-1">
		<p class="card-title">@HtmlGeneration.TranscriptHeader("E", "Chapter 2 8-?", "23:00")</p>
		<!-- Topics: FirstAndList, Aleph and the Tav, SynOfSatn -->
	</div>

	<div class="card-body py-1">

		<p class="card-text">
			<b>Nehemia</b>:
			Now we’re going to get to one of the most exciting verses in the whole thing.
			I’m going to read to the end, but then we’ll go back and discuss it.
			So, verse <strike>9</strike>8 @* 23:09 *@
		</p>

		<div class="card-body py-1">
			<p class="card-title">@HtmlGeneration.TranscriptHeader("", "Rev 2:8", "23:07")</p>
		</div>

		<p class="car-text mt-3 ps-4">
			<i class="fas fa-quote-left"></i>
			<sup>NGV Rev 2:8</sup> <em>"U’chtov lemal’ach hamakel beSmyrna, veheina omer harishon veha’acharon shehaya met vechaya.”</em>
		</p>

		<p class="card-text">
			<b>Nehemia</b>:
			Can you read my English translation of that, AJ?
		</p>

		<p class="card-text">
			<b>AJ Bernard</b>: Sure.
		</p>

		<p class="card-text">
			<b>JKM</b> ToDo: Port the text of the <code>NGI</code> (Nehemia Gordon Interlinear) 😁 into a <code>SmartEnum</code>
			This will give me the option of inserting individual verses as the commentary goes along.
		</p>

		<p class="card-text bg-success-subtle mt-3 ps-4">
			<i class="fas fa-quote-left"></i>
			<sup>KJV Rev 2:8</sup> “And right for the angel of the congregation of Smyrna and hear say the first and the last that was dead and lives.”
		</p>

		<p class="card-text">
			<b>Nehemia</b>: And who’s that referring to? <b>AJ Bernard</b>: Well, that’s <b>obviously Yeshua</b>.
		</p>

		<p class="card-text">
			<b>Nehemia</b>:
			Somebody who is dead and is now…
			<b>That’s pretty cool</b>.
			And again, I’m not a Christian. I’m not Messianic. I’m reading this text saying,
			“What does it say?” I’m just a simple Jew who believes in the Tanakh,
			but let’s understand what the text says in its own terms.

			<br />He goes on,
		</p>

		<div class="card-body py-1">
			<p class="card-title">@HtmlGeneration.TranscriptHeader("", "Rev 2:9", "23:35")</p>
		</div>

		<p class="card-text mt-3 ps-4">
			<i class="fas fa-quote-left"></i>
			<sup>KJV Rev 2:9</sup> <em>“Yode’ah ani hamasecha vehatzara vehadalah ki’im kaved ata. Vehanatzat hamedabrim Yehudi’im lihiyot, ve’lo hema, ki im knesset hasatan…”</em>
		</p>

		<p class="card-text">
			<b>Nehemia</b>:
			And there’s a lot to discuss here.
			Here’s the English translation:
		</p>

		<p class="card-text bg-success-subtle mt-3 ps-4">
			<i class="fas fa-quote-left"></i>
			<sup>KJV Rev 2:9</sup> “I know your deeds and the suffering and the poverty, but you are rich, and the despising
			of those who speak to be <b>Judaic</b>, and they are not, but rather the Synagogue of Satan.”
		</p>

		<p class="card-text">
			<b>Nehemia</b>:
			Wow. [laughing] This is interesting.
			<br />
			So first of all, talk to me in verse 8 about this phrase,
			“the first and the last that was dead and now lives,”
			because in chapter 1:8 we said,
			“Well, it’s ambiguous.
			When he says the <b>Aleph and the Tav</b>, that could be <b>Yehovah speaking</b>.” Actually,
			it says, <mark>“omer Yehovah”</mark>, <b>it has to be Yehovah speaking</b>,
			but here I don’t think anybody can dispute that presumably, Yehovah has never been dead.
			So presumably this is not Him speaking. So, what does Yeshua mean when He says, “<b>I am the first and the last</b>?”
		</p>


		<p class="card-text">
			<b>JKM</b>: Content skipped
		</p>


		<RevOneEight ShowRed="ShowRed" OnShowRedSelected="ReturnedShowRed" />

		<p class="card-text">
			<b>JKM</b>: Content skipped
		</p>


		<p class="card-text">
			<b>Nehemia</b>:	All right, let’s go back to the text. So, who is clearly speaking in chapter 2:8?
		</p>

		<p class="card-text">
			<b>AJ Bernard</b>: Oh, that would be clearly Yeshua, because he was dead and is now alive.
		</p>

		<p class="card-text">
			<b>Nehemia</b>: And I think we all agree that the Father, Yehovah, has never been dead. <b>AJ Bernard</b>: Right, absolutely.
		</p>

		<p class="card-text">
			<b>Nehemia</b>:
			Okay, and He’s calling Himself “the first and the last”.
			I’ll let Christian theologians hash out what that means, that’s interesting.
			Verse 9 is really much more interesting to me, because it talks about the “despising of those who speak to the Yehudi’im”.
			Read me what it says in the English for that passage.
		</p>

		<p class="card-text">
			<b>AJ Bernard</b>: Okay. From the Greek <sup>25:45</sup>
		</p>

		<p class="card-text bg-info-subtle mt-3 ps-4">
			<i class="fas fa-quote-left"></i>
			<sup>KJV Rev 2:9</sup>
			“I know your tribulation, your poverty, (but you are rich).
			And the slander of those who say they are Jews and are not but are a Synagogue of Satan.”
		</p>

		<p class="card-text">

			<b>Nehemia</b>: Wow,
			“those who say they are Jews but they are not,” and so that would be in Hebrew, “Yehudim”.
			But instead of Yehudim it has “Yehudi’im”, which is the adjective form.
			You could almost translate it as “Jewish-like”, or I translated here as “Judaic”.
			It’s not the same as Jew or Jews. And I looked this up because I thought, “Okay, so what is the difference between Jews and Judaic?
			Isn’t that the same thing?”
			And I found this amazing text, Genesis Rabbah section 97.
			And there, it’s speaking about how Judah, back in the time of the forefathers, was able to keep the tribes from sinning by killing Joseph.
			Unfortunately, [laughing] it didn’t turn out so well for Joseph, but at least he wasn’t killed.

			And then they say here, “Also in this world, you will be honored that all the tribes will call themselves Yehudi’im just as you are called Yehudah.”
			And the semantic distinction that’s created here in Genesis Rabbah 97 is between Jews and those who are of the tribes and call themselves “Yehudi’im”
			rather than “Yehudim”.
			And Yehudi’im are people basically from the <mark>10 lost tribes</mark> who will be called “Yehudi’im”.
			That’s an incredible concept here.
			Where are these Ten Tribes?

			And so, if that’s the meaning - and I don’t know if it is – but if that’s the meaning,
			if either the translator or the writer was familiar with that semantic distinction,
			the explanation of Revelation 2:9 from this Hebrew text is that there are people who are going to call themselves “Yehudi’im”,
			meaning they’re going to be from the Ten Tribes and they’re going to say, “Look, we’re not Jews but we’re Judaic,” and they’re not Judaic,
			they’re a Synagogue of Satan. I mean, whoa! [laughing]
		</p>

		<p class="card-text">
			<b>AJ Bernard</b>: Yeah.  <b>Nehemia</b>: Wow. So, give me your Methodist take on that.
		</p>

		<p class="card-text">
			<b>AJ Bernard</b>:
			Well, Yeshua teaches in a couple of parables about corruption within the Church,
			and that the Church is going to grow into something that it shouldn’t, that it’s a perverted version of what He wants it to be.
			I don’t know if that’s the meaning here.
		</p>

		<p class="card-text">
			<b>Nehemia</b>: I don’t know. We’ve established what the text says, now the interpretation is less clear.
			<b>AJ Bernard</b>: Sure.
		</p>


	</div>
</div>

@code {
	bool ShowRed = false;

	private void ReturnedShowRed(bool showRed)
	{
		ShowRed = showRed;
	}
}
