<h3>RevTwo11</h3>


Nehemia: That’s interesting. All right, let’s read verse 11.
“L’asher ozen yishma mah haruach omeret lamakelim hagover lo yenugam min hamavet hasheini.” 
“He who has an ear will hear what the Spirit says to the congregations, the one who overcomes will not be smitten by the second death.” Okay, 
AJ. [laughing]

AJ Bernard: [laughing] The common Christian interpretation of this is simply that the first death is the death of the body. 
The second death is the eternal death in hell.

Nehemia: So, Jews, I think, have the same understanding, and that comes from Daniel 12 verse 2, 
where it talks about “Many of those sleep in the dust of the earth shall arise, some for eternal life and some for eternal derision and shame.”
And the understanding there is that “eternal derision and shame” is, if you’re not judged for eternal life you just die, and it’s a permanent death. 
That’s a common Jewish understanding. 
But that this is something that’ll happen at the time of the resurrection, at least based on Daniel 12:2, and Isaiah 66 also has a discussion about that.
Is that a similar concept to what you understand?

AJ Bernard: Yeah, absolutely.

Nehemia: Okay, cool. I mean, in the Tanakh it’s never called the “second death”, but it’s understood. So okay, interesting. 


@code {

}
