@using BLBEnum=MyHebrewBible.Client.Enums
@using MyHebrewBible.Client.Helpers

<div class="card border-info my-2">

	<!-- 34:31 -->
	<div class="card-body py-1">
		<p class="card-title">@HtmlGeneration.TranscriptHeader("F", "CURRENTLY NOT USED", "30:25")</p>
	</div>



	<!-- COMMENTS -->
	<div class="card-body py-1">
		<p class="card-text">
			<b>T-Bone</b>:
			<b>Nehemia</b>:
			<b>AJ Bernard</b>:

		AJ Bernard: Now, the word “smyrna”, am I correct in saying that this comes Hebrew “myrrh”?

		Nehemia: Oh, I assumed it was a Greek word, because it’s the name of a Greek city.

		AJ Bernard: But myrrh is a plant that you crush…

		Nehemia: Absolutely.

		AJ Bernard: …and it releases a beautiful smelling oil. It’s also used in embalming fluid.

		Nehemia: So, why does it have a Samach in the front of it?

		AJ Bernard: Maybe just because of the corruption of the Greek or…

		Nehemia: Yeah, I’m not buying it. I’m not buying it, but I guess it’s possible.

		AJ Bernard: I get it, the similarities, it’s just that this Church has a lot of bad things happen to them. They get crushed, they get beaten up, that sort of thing.

		Nehemia: Okay, like myrrh, huh? But they smell good.

		AJ Bernard: Yeah.

			Nehemia: All right. So, that’s a nice little midrash. It’s a good thing to share as a homily. 
			I don’t know that’s what it… And look, it’s actually possible that Smyrna means something in Greek, because the word “myrhh” or “mor” in Hebrew, 
			is the name of this plant, and it had that plant in probably many, many languages. So, in Greek it is called “myrrh” or something like that. 
			So, maybe Smyrna is related to that. I don’t know, it’s possible. Or maybe it’s not even a Greek name, right? 
			Greeks lived in that city, but maybe some other tribe lived there before and gave it the name. 
			I just don’t know enough about it.
			
		</p>

		<p class="card-text"><b>SPEAKER</b>:CONTENT</p>

	</div>
</div>


@code {

}
