@using BLBEnum=MyHebrewBible.Client.Enums
@using MyHebrewBible.Client.Helpers

<div class="card border-info my-2">

	<div class="card-body py-1">
		<p class="card-title">@HtmlGeneration.TranscriptHeader("F", "Knesset haSatan | Synagogue of Satan", "30:25")</p>
	</div>

	<div class="card-body py-1">
		<p class="card-text">
			<b>T-Bone</b>: and I’d kind of like a deep understanding of what a synagogue is. Is it a system, is it a congregation? That sort of thing.
		</p>

		<p class="card-text">
			<b>Nehemia</b>: So, it literally says, <b>“Knesset haSatan”</b>, which if we want to be technical is “the knesset of the Satan”.
			[laughing] That’s without translating it. And the word for synagogue is beit knesset, the house of the gathering.
			And knesset is gathering, so it’s the gathering of the Satan. Satan really shouldn’t have a capital S.
			In fact, let’s change it right now and make it “the satan” with a small S, because if you say “the” in Hebrew, then it’s not a name.
			Then again, this is kind of a strange text where he adds “the” to almost everything, so maybe it is a name here.
			But normally in Hebrew if you have a “the” in front of a word it’s “the satan, the elohim.” Elohim then isn’t a name.
			<br />
			So, this is a big concept. What is the “knesset of the satan”? Is it necessarily a synagogue?
			So, for example, Israel’s parliament is called “the Knesset” and where that comes from is not the word “synagogue” but an earlier concept that there’s something called
			“the men of the Great Assembly, haKnesset haGdola, the Great Knesset”.
			And that dates back to around 400 BC. Supposedly Chaggai, Zecharia and Malachi or Haggai, Zechariah and Malachi were members of the <b>Knesset haGdola</b>.
			<br />
			So, knesset without the word “beit” in front of it, arguably is not synagogue.
			It could be some kind of what I think the call in Greek a “synod”, that is a counsel.
			And it’s interesting, because we have the word “congregation” here and it’s makelim, But with this word “synagogue”,
			so basically it’s the “counsel of the satan”, I mean, satan means “enemy”,
			but where you see about “hasatan” in the Tanakh it’s a type of angel, or perhaps a single angel, that’s arguable.
			So, we have this “counsel of the satan”. I don’t know, what is that? Thoughts?
		</p>

		<p class="card-text">
			<b>Nehemia</b>:  So, it’s the “counsel of the satan, gathering of the satan”. I don’t know what that is.
			Maybe it’s some counsel that took place in the 1st century that John of Patmos is saying,
			“This counsel, that’s the decided a certain thing. They’re way off.” 
			I have no idea. 
			Or maybe it’s an enemy counsel, I don’t know.
			Presumably then, it would be a counsel that’s in Smyrna, which is what we were talking about. I don’t know.
		</p>

		<!-- 33:03 -->
		<p class="card-text">
			<b>AJ Bernard</b>: Right, and those that are of the Synagogue of Satan are the Yehudi’im. They’re the ones who claim to be Jews but they’re not.
		</p>

		<p class="card-text">
			<b>Nehemia</b>:  In fact, they claim to be Judaic. <b>AJ Bernard</b>: Right.
		</p>

		<!-- 33:13 -->
		<p class="card-text">
			<b>Nehemia</b>: 
			They’re from the Ten Tribes and claim to be Judaic, but they’re not. And it’s not clear,

			<ul>
				<li>
					<sup class="text-black-50">[1]</sup> are they not from the Ten Tribes,
				</li>
				<li>
					<sup class="text-black-50">[2]</sup> or are they from the Ten Tribes but not really Judaic?
				</li>
				<li>
					<sup class="text-black-50">[3]</sup> Maybe they’re from the Ten Tribes and they claim to be Judaic but <b>they don’t follow the Torah and therefore they’re not</b>.
				</li>
			</ul>
			I mean, I don’t know. We’re trying to figure out what a text said both in Greek and in Hebrew.
			Yeah, I don’t know. I think whole books have been written about this.
		</p>

	</div>
</div>

@code {
	string HebrewSize = "hebrew"; // hebrew30
}
