<div class="card border-success mb-2">
	<div class="card-header"><h6>@nameof(HebrewTable)</h6></div>

	<div class="card-body pb-0">
		<div class="d-flex justify-content-start">
			<div class="pe-3"><b>ScriptureId:</b><br /> @ScriptureId</div>
			<div class="pe-3"><b>Strongs:</b><br /> @Strongs</div>
		</div>
	</div>

</div>

@code {
	[Parameter, EditorRequired] public long ScriptureId { get; set; }
	[Parameter, EditorRequired] public long Strongs { get; set; }
}
