@using MyHebrewBible.Client.CommonVerses

<LearnMoreModalTemplate BtnSize="btn-xs"
												HeaderBackGround="bg-info"
												BodyBackGround="bg-info-subtle"
												Icon="fas fa-info"
												IconColor="btn-outline-info">
	<ChildHeaderContent>
		<h4 class="modal-title">Render unto...</h4>
	</ChildHeaderContent>
	<ChildBodyContent>
		<div class="card card-border-dark-subtle">
		<div class="row text-center">
			<div class="col-6"><b>Left</b></div>
			<div class="col-6"><b>Right</b></div>
		</div>
		<div class="row text-center">
			<div class="col-6">The <b>worldly</b> things</div>
			<div class="col-6">The <b>heavenly</b> things</div>
		</div>
		</div>

		<p class="mt-5 text-center"><b>ToDo</b></p>
		<p class="">Expand on this showing how the text in the <code>Footer</code> AEAIJ and John Marsing are examples of different jurisdictions and capacities.</p>

		<Mat_22_15_22 />

	</ChildBodyContent>
</LearnMoreModalTemplate>

@code {

}
