@* bg-body-secondary justify-content-between *@

<div class="d-flex justify-content-center bg-secondary-subtle">
	<div class="ps-1 pe-3">
		<small><sup>&copy; @DateTime.Now.Year - AEAIJ, a <a href="http://en.wikipedia.org/wiki/Religious_corporation">Religious Corporation Sole</a></sup></small>
	</div>
	<div class="pe-1 ps-3">
		<small><sup>MyHebrewBible is the creation <br /> and intellectual property of John Marsing</sup></small>
	</div>
</div>

@code {

}
