@using MyHebrewBible.Client.Enums

<div class="bg-secondary-subtle p-0  mt-2">
	<div class="d-flex justify-content-center hebrew bg-secondary-subtle">
		<a class="@FontSize pe-1 text-decoration-none" title='Aleph'>א</a>
		<a class="@FontSize pe-1 text-decoration-none" title='Bet'>ב</a>
		<a class="@FontSize pe-1 text-decoration-none" title='Gimel'>ג</a>
		<a class="@FontSize pe-1 text-decoration-none" title='Dalet'>ד</a>
		<a class="@FontSize pe-1 text-decoration-none" title='He'>ה</a>
		<a class="@FontSize pe-1 text-decoration-none" title='Vav'>ו</a>
		<a class="@FontSize pe-1 text-decoration-none" title='Zayin'>ז</a>
		<a class="@FontSize pe-1 text-decoration-none" title='Cheth'>ח</a>
		<a class="@FontSize pe-1 text-decoration-none" title='Teth'>ט</a>
		<a class="@FontSize pe-1 text-decoration-none" title='Yodh'>י</a>
		<a class="@FontSize pe-1 text-decoration-none" title='Kaph'>כ</a>
		<a class="@FontSize pe-1 text-decoration-none" title='Lamed'>ל</a>
		<a class="@FontSize pe-1 text-decoration-none" title='Mem'>מ</a>
		<a class="@FontSize pe-1 text-decoration-none" title='Nun'>נ</a>
		<a class="@FontSize pe-1 text-decoration-none" title='Samek'>ס</a>
		<a class="@FontSize pe-1 text-decoration-none" title='Ayin'>ע</a>
		<a class="@FontSize pe-1 text-decoration-none" title='Pe'>פ</a>
		<a class="@FontSize pe-1 text-decoration-none" title='Tsade'>צ</a>
		<a class="@FontSize pe-1 text-decoration-none" title='Qoph'>ק</a>
		<a class="@FontSize pe-1 text-decoration-none" title='Resh'>ר</a>
		<a class="@FontSize pe-1 text-decoration-none" title='Shin'>ש</a>
		<a class="@FontSize pe-1 text-decoration-none" title='Tav'>ת</a>

		@if (MediaQuery == MediaQuery.SmOrMdOrLgOrXl)
		{
			<span>&nbsp;&nbsp;&nbsp;</span>
			<a class="@FontSize pe-1 text-decoration-none text-info" title='Kaph Sofit'>ך</a>
			<a class="@FontSize pe-1 text-decoration-none text-info" title='Mem Sofit'>ם</a>
			<a class="@FontSize pe-1 text-decoration-none text-info" title='Nun Sofit'>ן</a>
			<a class="@FontSize pe-1 text-decoration-none text-info" title='Pe Sofit'>ף</a>
			<a class="@FontSize pe-1 text-decoration-none text-info" title='Tsade Sofit'>ץ</a>
		}
	</div>

</div>

@code {
	[Parameter, EditorRequired] public MediaQuery? MediaQuery { get; set; }

	protected string? FontSize;

	protected override void OnParametersSet()
	{
		MediaQuery!
		.When(MediaQuery.Xs).Then(() => FontSize = "hebrew16")
		.When(MediaQuery.Sm).Then(() => FontSize = "hebrew")
		.When(MediaQuery.Md).Then(() => FontSize = "hebrew30")
		.When(MediaQuery.Lg).Then(() => FontSize = "hebrew36")
		.When(MediaQuery.Xl).Then(() => FontSize = "hebrew44");
	}


	protected string alephbet2 = "אָלֶף־בֵּית עִבְרִי";
}
