
<hr class="my-0" />

<div class="bg-secondary-subtle">

	<div class="d-flex justify-content-between">

		<div class="px-1">
			<p style="@fontSize">
				<span class="text-danger"><b>AEAIJ</b></span>, a
				<a href="http://en.wikipedia.org/wiki/Religious_corporation" target="_blank">Religious Corporation Sole</a> &copy; @DateTime.Now.Year
				<br />
				&nbsp; &#x21B3; the things that are <span class="text-danger"><b><i>Caesar's</i></b></span>
			</p>
		</div>

		<div class="p-2 ">
			<FooterAboutItructions />
		</div>


		<div class="px-1 font">
			<p style="@fontSize">
				<span style="color:purple"><b>John Marsing</b></span>, creator of <b>MyHebrewBible</b>
				<br />
				&nbsp; &#x21B3; the things that are <span style="color:purple"><b><i>Elohim's</i></b></span>
			</p>
		</div>
	
	</div>

</div>

@code {
	string fontSize = "font-size:11px;";
}
