

<hr class="my-0" />

<div class="bg-secondary-subtle">
	
	<div class="row">
		<div class="col-6">
			<div class="mt-2 ps-3 pe-5 text-center">
				<small>
					<sup>
						&copy; @DateTime.Now.Year - AEAIJ, a
						<a href="http://en.wikipedia.org/wiki/Religious_corporation" target="_blank">Religious Corporation Sole</a>
					</sup>
				</small>
			</div>
		</div>
		<div class="col-6">
			<div class="mt-2 ps-5 pe-3 text-center">
				<small>
					<sup>
						MyHebrewBible is the creation and intellectual property of John Marsing
					</sup>
				</small>

			</div>
		</div>
	</div>
</div>

@code {

}
