@using MyHebrewBible.Client.Enums

<div class="bg-secondary-subtle p-0  mt-2">
	<div class="d-flex justify-content-center hebrew bg-secondary-subtle">
		<a class="@FontSize pe-1 text-decoration-none" title='Aleph'>א</a>
		<a class="@FontSize pe-1 text-decoration-none" title='Bet'>ב</a>
		<a class="@FontSize pe-1 text-decoration-none" title='Gimel'>ג</a>
		<a class="@FontSize pe-1 text-decoration-none" title='Dalet'>ד</a>
		<a class="@FontSize pe-1 text-decoration-none" title='He'>ה</a>
		<a class="@FontSize pe-1 text-decoration-none" title='Vav'>ו</a>
		<a class="@FontSize pe-1 text-decoration-none" title='Zayin'>ז</a>
		<a class="@FontSize pe-1 text-decoration-none" title='Cheth'>ח</a>
		<a class="@FontSize pe-1 text-decoration-none" title='Teth'>ט</a>
		<a class="@FontSize pe-1 text-decoration-none" title='Yodh'>י</a>
		<a class="@FontSize pe-1 text-decoration-none" title='Kaph'>כ</a>
		<a class="@FontSize pe-1 text-decoration-none" title='Lamed'>ל</a>
		<a class="@FontSize pe-1 text-decoration-none" title='Mem'>מ</a>
		<a class="@FontSize pe-1 text-decoration-none" title='Nun'>נ</a>
		<a class="@FontSize pe-1 text-decoration-none" title='Samek'>ס</a>
		<a class="@FontSize pe-1 text-decoration-none" title='Ayin'>ע</a>
		<a class="@FontSize pe-1 text-decoration-none" title='Pe'>פ</a>
		<a class="@FontSize pe-1 text-decoration-none" title='Tsade'>צ</a>
		<a class="@FontSize pe-1 text-decoration-none" title='Qoph'>ק</a>
		<a class="@FontSize pe-1 text-decoration-none" title='Resh'>ר</a>
		<a class="@FontSize pe-1 text-decoration-none" title='Shin'>ש</a>
		<a class="@FontSize pe-1 text-decoration-none" title='Tav'>ת</a>
	</div>
</div>

@code {
	protected string? FontSize = "hebrew16";
}
