@inherits LayoutComponentBase

<div class="d-flex justify-content-end mb-3">

	<div class="p-2 bd-highlight">
		<ul class="list-inline">
			<li class="list-inline-item"><a class="" href="/">Home</a></li>
			<li class="list-inline-item"><a class="" href="/sample">Sample</a></li>
			<li class="list-inline-item"><a class="" href="/bookchapter">Book Chapter</a></li>
		</ul>
	</div>

</div>

<div class="container-fluid">
	@Body
</div>

<div id="blazor-error-ui">
	An unhandled error has occurred.
	<a href="" class="reload">Reload</a>
	<a class="dismiss">🗙</a>
</div>
