@using MyHebrewBible.Client.Components

<LearnMoreModalTemplate Icon="fas fa-info" IconColor="btn-primary">
	<ChildHeaderContent>
		<h4 class="modal-title">BLANK ChildHeaderContent</h4>
	</ChildHeaderContent>
	<ChildBodyContent>
		BLANK ChildHeaderContent
	</ChildBodyContent>
</LearnMoreModalTemplate>

@code {

}
