@using MyHebrewBible.Client.Enums

<a href="@Nav.Sitemap.Index" class="btn btn-primary" title="@Nav.Sitemap.Title">
	<i class="@Nav.Sitemap.Icon"></i>
</a>


@code {
	/* <span class="fas fa-bars"></span> 
	 * 

	<button class="btn btn-primary"
	<span class="fas fa-bars"></span>
	</button>


	*/
}
