@using MyHebrewBible.Client.Helpers
<div class="btn-group-vertical @buttonGroupSize" role="group" aria-label="Vertical button group">
	<button type="button" class="btn @buttonColor @ButtonSize dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
		<i class="fas fa-cogs"></i>
	</button>
	<ul class="dropdown-menu">
		<li class="fs-5 fw-bold dropdown-header">Language</li>
		@foreach (var item in Enums.DisplayLanguage.List.OrderBy(o => o.Value))
		{
			<li class="dropdown-item">
				<button @onclick="@(e => ButtonClick(item))"
				type="button" class="btn btn-outline-primary">
					@item.Title
				</button>
			</li>
		} 
	</ul>

</div>

@code {
	[Parameter] public EventCallback<Enums.DisplayLanguage> OnMenuItemSelected { get; set; }
	[CascadingParameter] public CascadingAppState? State { get; set; }

	string buttonColor => BtnColors.Primary;
	string buttonGroupSize => BtnGroupSize.Sm;
	string headerColor => TextColors.Success;
	private string ButtonSize = " btn-sm";

	private void ButtonClick(Enums.DisplayLanguage item)
	{
		OnMenuItemSelected.InvokeAsync(item);
	}

}
