@using MyHebrewBible.Client.Helpers

@foreach (var item in Enums.DisplayLanguage.List.OrderBy(o => o.Value))
{
	<li class="dropdown-item">
		<button @onclick="@(e => ButtonClick(item))"
						type="button" class="btn @BtnOutlineColors.Primary">
			@item.Title
		</button>
	</li>
}

@code {
	[Parameter, EditorRequired] public EventCallback<Enums.DisplayLanguage> OnLanguageSelected { get; set; }

	private void ButtonClick(Enums.DisplayLanguage language)
	{
		OnLanguageSelected.InvokeAsync(language);
	}
}
