@using MyHebrewBible.Client.Layout
@using MyHebrewBible.Client.Helpers

<nav class="navbar navbar-expand bg-primary-subtle fixed-top">
	
	<div class="d-flex justify-content-start">

		<div class="px-1">
			@HomeButtonContent
		</div>
	</div>

	<div class="collapse navbar-collapse justify-content-between">

		<div class="px-1">
			@PrevButtonContent
		</div>

		<div class="col">
			@ProgressBarContent
		</div>
		<div class="px-1">
			@NextButtonContent
		</div>

	</div>

	<div class="d-flex justify-content-end pe-1">
		<div class="">
			@RightMenuContent
		</div>
	</div>

</nav>
<br />

@code {
	[Parameter] public RenderFragment? HomeButtonContent { get; set; }
	[Parameter] public RenderFragment? PrevButtonContent { get; set; }
	[Parameter] public RenderFragment? ProgressBarContent { get; set; }
	[Parameter] public RenderFragment? NextButtonContent { get; set; }
	[Parameter] public RenderFragment? RightMenuContent { get; set; }

}
