@using MyHebrewBible.Client.Helpers

<button @onclick="ButtonClick" class="btn @BtnOutlineColors.Primary"
				type="button" title="Table of Contents">
	Table of Content
</button>

@code {
	[Parameter, EditorRequired] public EventCallback OnOpen { get; set; }

	private void ButtonClick()
	{
		OnOpen.InvokeAsync();
	}
}
