@if (Parasha != null)
{
 <p class="fs-5">
		<sup class="text-primary"><b>@Parasha.Verse</b></sup>
		
		@if (Parasha.VerseOffset != "NULL")
		{
			<sup class="text-black-50">&nbsp;@Parasha.VerseOffset&nbsp;</sup>
		}
		else
		{
			<text>&nbsp;</text>
		}
		@((MarkupString)Parasha.KJV!)
		@ParagraphEnd
	</p>
}


@code {
	//[Parameter, EditorRequired] public BibleVerse? BibleVerse { get; set; }
	[Parameter, EditorRequired] public Parasha? Parasha { get; set; }
	[Parameter, EditorRequired] public RenderFragment? ParagraphEnd { get; set; } /* DrillDownButton GetSAT */
}
