
<LearnMoreModalTemplate Icon="fas fa-info" IconColor="btn-primary">
	<ChildHeaderContent>
		<h4 class="modal-title">Drill down to see the Hebrew❗</h4>
	</ChildHeaderContent>
	<ChildBodyContent>
		<p class="mt-3"><b>1<sup>st</sup></b> Click 
			<button type="button" class="btn btn-outline-primary btn-xs"><i class="fas fa-chevron-down"></i></button>
			to see details about the verse,
			with the top portion showing the verse in English and the bottom portion showing a table with the verse in Hebrew and English.
		</p>
		
		<p class="ms-3 mt-1">
			The top portion shows the English words broken down into segments. Each word segment are <i>click-able</i> i.e. they are highlighted and underlined.
			<br /> e.g. <span class="bg-info-subtle me-2 text-decoration-underline">In the beginning</span> <span class="bg-info-subtle text-decoration-underline me-2">God</span> <span class="bg-info-subtle me-2">...</span>
		</p>
		
		<p class="mt-4"><b>2<sup>nd</sup></b> Click one of the word segment to see the Hebrew word.</p>
		
		<p class="ms-3 mt-1">
			Doing this will highlighted  the rows showing the Hebrew word(s) that correspond to the chosen word segment.
			<br /> e.g. <span class="bg-info-subtle me-2 ">In the beginning | H7225 | בְּרֵאשִׁית | </span>
		</p>

		<p class="mt-4"><b>3<sup>rd</sup></b> Click <button type="button" class="btn btn-outline-primary btn-xs"><i class="fas fa-chevron-up"></i></button>
			will collapse the detailed information.
		</p>

	</ChildBodyContent>
</LearnMoreModalTemplate>

@code {

}
