
<div class="card border-danger text-black-50 text-center">
	<div class="card-body p-1 m-1">
		<h5 class="card-title">Select <b>Chapter</b></h5>
		<div class="row">
			<div class="col d-flex justify-content-center"><b><span style="font-size:11px;">Descr</span></b></div>
			<div class="col d-flex justify-content-center"><b>100s</b></div>
			<div class="col d-flex justify-content-center"><b>10s</b></div>
			<div class="col d-flex justify-content-center"><b>1s</b></div>
			<div class="col d-flex justify-content-center"><b>W</b></div>
		</div>
		<div class="row">
			<div class="col d-flex justify-content-center"><b><span style="font-size:11px;">Book</span></b></div>
			<div class="col d-flex justify-content-center">@BibleBook!.ChapterHundreds</div>
			<div class="col d-flex justify-content-center">@BibleBook!.ChapterTens</div>
			<div class="col d-flex justify-content-center">@BibleBook!.ChapterOnes</div>
			<div class="col d-flex justify-content-center"> <span>@(BibleBook.ChapterIsWhole ? "T" : "F")</span>  </div>
		</div>

@* 
		<div class="row">
			<div class="col d-flex justify-content-center"><b><span style="font-size:11px;">Active</span></b></div>
			<div class="col d-flex justify-content-center">@ActiveHundreds</div>
			<div class="col d-flex justify-content-center">@ActiveTens</div>
			<div class="col d-flex justify-content-center">@ActiveOnes</div>
			<div class="col d-flex justify-content-center">&nbsp;</div>
		</div>
 *@

		<div class="row">
			<div class="col d-flex justify-content-center"><b><span style="font-size:11px;">Selected</span></b></div>
			<div class="col d-flex justify-content-center">@CurrentPlaceValue!.Hundreds</div>
			<div class="col d-flex justify-content-center">@CurrentPlaceValue!.Tens</div>
			<div class="col d-flex justify-content-center">@CurrentPlaceValue!.Ones</div>
			<div class="col d-flex justify-content-center">&nbsp;</div>
		</div>
	</div>
</div>

@code {
	[Parameter, EditorRequired] public GlobalEnums.BibleBook? BibleBook { get; set; }
	[Parameter, EditorRequired] public PlaceValue? CurrentPlaceValue { get; set; }

}
