
@TitleContent

<div class="d-flex justify-content-between">

	@if (StepState!.HundredPlaceIsVisible)
	{
		<div class="d-flex justify-content-center">
			@HundredsColumn
		</div>
	}

	<div class="d-flex justify-content-center">
		@TensColumn
	</div>

	<div class="d-flex justify-content-center">
		@OnesColumn
	</div>
</div>

@if (IsDebug)
{
@FooterDebugContent
}

@Footer

@code {
	[Parameter, EditorRequired] public StepState? StepState { get; set; }
	[Parameter] public bool IsDebug { get; set; }
	[Parameter, EditorRequired] public RenderFragment? TitleContent { get; set; }
	[Parameter] public RenderFragment? HundredsColumn { get; set; }
	[Parameter] public RenderFragment? TensColumn { get; set; }
	[Parameter] public RenderFragment? OnesColumn { get; set; }
	[Parameter] public RenderFragment? FooterDebugContent { get; set; }
	[Parameter] public RenderFragment? Footer { get; set; }

}
