
<button id="backspace" @onclick="() => ButtonClick()"
				type="button" title="@BackSpaceTitle" class="btn btn-primary btn-sm @BackSpaceDisable">
	<i class="fas fa-backspace"></i>
</button>

@code {
	[Parameter, EditorRequired] public Enums.Place? Place { get; set; }
	[Parameter, EditorRequired] public EventCallback<Enums.Place> OnPlaceSelected { get; set; }

	protected string? BackSpaceTitle;
	protected string? BackSpaceDisable;

	protected override void OnParametersSet()
	{
		BackSpaceTitle = "Reset Chapter";
	}

	private void ButtonClick()
	{
		OnPlaceSelected.InvokeAsync(Place);
		//Logger!.LogInformation("{Method}, number: {number}", nameof(ClickReset), number);
		//placeValue!.ResetAll();
		//Set(Place.Tens, number);
		//BackSpaceDisable = makeDisabled ? "disabled" : "";
	}
}
