@using MyHebrewBible.Client.Features.Parasha.Enums

<div class="card">

	<div class="card-body pb-0">
		<div class="d-flex justify-content-start">
			<div class="pe-3 text-center"><b>Next Shabbat</b><br /><b>@Constants.GetNextShabbatDate().ToString(DateFormat.YYYY_MM_DD)</b></div>
			<div class="pe-3 text-center"><b>Name</b><br /><i>@CurrentReading!.ParashaName</i></div>
			<div class="pe-3 text-center"><b>Meaning</b><br />@CurrentReading!.Meaning</div>
			<div class="pe-3 text-center">
				<b>Ahavta <i class="fas fa-external-link-square-alt"></i></b><br />
				@CurrentReading!.AhavtaURL
				<a href="@CurrentReading.AhavtaURL"
					 title="Ahavta URL [@CurrentReading.Value]" target="_blank">
					<i class="fas fa-external-link-alt"></i>
				</a>
			</div>
		</div>
	</div>

</div>

@code {
	[Parameter, EditorRequired] public Triennial? CurrentReading { get; set; }
}
