@using H = MyHebrewBible.Client.Features.Haggadah.Helper

<p class="@H.VerseClass">
	<b>@Title</b><br />
	@((MarkupString)H.VerseIcon)
	<sup class="@H.VerseSupClass">10</sup>
	Blessed are You, Yehovah our Elohim, King of the universe, who feeds the entire world in His goodness,
	with grace, with kindness, with mercy. He gives food to all flesh, His kindness forever it endures.
	And through His great goodness we have never lacked, may we never lack for food for all of eternity.
	For the sake of His great Name, because He is God who feeds and sustains and benefits all and prepares food for all of His creatures which He has created.
	Blessed are You, Yehovah, Who feeds all.
	Amein.
</p>

@code {
	
	[Parameter, EditorRequired] public string? Title { get; set; }
}