@using H = MyHebrewBible.Client.Features.Haggadah.Helper

<p class="@H.VerseClass">
	<b>@Title</b><br />
	@((MarkupString)H.VerseIcon)
	<sup class="@H.VerseSupClass">15</sup>
	... And after I have uprooted them , I will again have compassion on them...
</p>

@code {
	
	[Parameter, EditorRequired] public string? Title { get; set; }
}