@using H = MyHebrewBible.Client.Features.Haggadah.Helper

<p class="@H.VerseClass">
	<b>@Title</b><br />
	@((MarkupString)H.VerseIcon)
	<sup class="@H.VerseSupClass">35</sup>Yeshua says. I am the bread of life...
</p>

@code {
	
	[Parameter, EditorRequired] public string? Title { get; set; }
}