@using H = MyHebrewBible.Client.Features.Haggadah.Helper

<p class="@H.VerseClass">
	<b>@Title</b><br />
	@((MarkupString)H.VerseIcon)
	<sup class="@H.VerseSupClass">38</sup>
	For I have come down from heaven, not to do My own will, but the will of Him who sent Me.<br />
</p>

@code {
	
	[Parameter, EditorRequired] public string? Title { get; set; }
}