@using H = MyHebrewBible.Client.Features.Haggadah.Helper

<p class="@H.VerseClass">
	<b>@Title</b><br />
	@((MarkupString)H.VerseIcon)
	<sup class="@H.VerseSupClass">24</sup>
	...this thing is of me
</p>

@code {
	
	[Parameter, EditorRequired] public string? Title { get; set; }
}
