@using H = MyHebrewBible.Client.Features.Haggadah.Helper

<p class="@H.VerseClass">
	<b>@Title</b><br />
	@((MarkupString)H.VerseIcon)
	<sup class="@H.VerseSupClass">16</sup>
	What portion do we have in David? We have no heritage in the son of Jesse.
</p>

@code {
	
	[Parameter, EditorRequired] public string? Title { get; set; }
}
