@using MyHebrewBible.Client.Enums

<div class="d-flex justify-content-center mb-n1">
	<a class="@FontSize pe-1 text-decoration-none" title='Aleph'>א</a>
	<a class="@FontSize pe-1 text-decoration-none" title='Bet'>ב</a>
	<a class="@FontSize pe-1 text-decoration-none" title='Gimel'>ג</a>
	<a class="@FontSize pe-1 text-decoration-none" title='Dalet'>ד</a>
	<a class="@FontSize pe-1 text-decoration-none" title='He'>ה</a>
	<a class="@FontSize pe-1 text-decoration-none" title='Vav'>ו</a>
	<a class="@FontSize pe-1 text-decoration-none" title='Zayin'>ז</a>
	<a class="@FontSize pe-1 text-decoration-none" title='Cheth'>ח</a>
	<a class="@FontSize pe-1 text-decoration-none" title='Teth'>ט</a>
	<a class="@FontSize pe-1 text-decoration-none" title='Yodh'>י</a>
	<a class="@FontSize pe-1 text-decoration-none" title='Kaph'>כ</a>
	<a class="@FontSize pe-1 text-decoration-none" title='Lamed'>ל</a>
	<a class="@FontSize pe-1 text-decoration-none" title='Mem'>מ</a>
	<a class="@FontSize pe-1 text-decoration-none" title='Nun'>נ</a>
	<a class="@FontSize pe-1 text-decoration-none" title='Samek'>ס</a>
	<a class="@FontSize pe-1 text-decoration-none" title='Ayin'>ע</a>
	<a class="@FontSize pe-1 text-decoration-none" title='Pe'>פ</a>
	<a class="@FontSize pe-1 text-decoration-none" title='Tsade'>צ</a>
	<a class="@FontSize pe-1 text-decoration-none" title='Qoph'>ק</a>
	<a class="@FontSize pe-1 text-decoration-none" title='Resh'>ר</a>
	<a class="@FontSize pe-1 text-decoration-none" title='Shin'>ש</a>
	<a class="@FontSize pe-1 text-decoration-none" title='Tav'>ת</a>

</div>

<div class="d-flex justify-content-center mt-n1">
	<a class="@FontSize pe-1 text-decoration-none" title='Kaph Sofit'>ך</a>
	<a class="@FontSize pe-1 text-decoration-none" title='Mem Sofit'>ם</a>
	<a class="@FontSize pe-1 text-decoration-none" title='Nun Sofit'>ן</a>
	<a class="@FontSize pe-1 text-decoration-none" title='Pe Sofit'>ף</a>
	<a class="@FontSize pe-1 text-decoration-none" title='Tsade Sofit'>ץ</a>

</div>

@code {
	// <div class="row col-12 px-0 mt-4 mb-2 mx-0">
	[Parameter, EditorRequired] public MediaQuery? MediaQuery { get; set; }

	protected string? FontSize;

	protected override void OnParametersSet()
	{
		MediaQuery!
		.When(MediaQuery.Xs).Then(() => FontSize = "hebrew16")
		.When(MediaQuery.Sm).Then(() => FontSize = "hebrew")
		.When(MediaQuery.Md).Then(() => FontSize = "hebrew30")
		.When(MediaQuery.Lg).Then(() => FontSize = "hebrew36")
		.When(MediaQuery.Xl).Then(() => FontSize = "hebrew44");
	}


	protected string alephbet2 = "אָלֶף־בֵּית עִבְרִי";
}