@using Microsoft.AspNetCore.Components.WebAssembly.Hosting
@inject IWebAssemblyHostEnvironment Env

<div class="card">
  <div class="card-header">
    Environment
  </div>
  <div class="card-body">
    @if (IsDevelopmentMode)
    {
      <h3>In developer mode.</h3>
    }
    else
    {
      <h3>NOT in developer mode.</h3>
    }
  </div>

  <div class="card-body">
    <h3>Env.Environment: @Mode</h3>
  </div>

</div>


@code {
  // You would think the if == IsDevelopmentMode then Mode == Development but you would be wrong
  private bool IsDevelopmentMode => Env.IsDevelopment();
  private string? Mode => Env.Environment.ToString();
}
