@using MyHebrewBible.Client.Helpers

@* 
ToDo: can this be changed to handle the modal open/close from the parent component?	
See Features\BookChapter\Toolbar\PageInstructions.razor
*@

<div class="@modalClass" style="display:@(modalOpen?"block":"none");">
	<div class="modal-dialog modal-md">
		<div class="modal-content">
			<div class="modal-header @BgAndText.DangerSubtle">

				@ChildHeaderContent

				<button type="button" class="close" @onclick="CloseModal">
					<span>&times;</span>
				</button>
			</div>

			<div class="modal-body @BgAndText.Light">
				@ChildBodyContent
			</div>
		</div>
	</div>
</div>

@code {
	[Parameter, EditorRequired] public RenderFragment? ChildHeaderContent { get; set; }
	[Parameter, EditorRequired] public RenderFragment? ChildBodyContent { get; set; }

	#region Modal Code
	bool modalOpen = true; 
	string modalClass = "modal show"; 
	
	void CloseModal()
	{
		modalOpen = false;
		modalClass = "modal";
	}
	#endregion
}
