@using MyHebrewBible.Client.Layout
@using MyHebrewBible.Client.Enums

<PageTitle>
	@if (String.IsNullOrEmpty(PageTitle))
	{
		@PageEnum.Title
	}
	else
	{
		@PageTitle
	}
</PageTitle>

<nav class="navbar navbar-expand bg-info-subtle fixed-top">

	<div class="collapse navbar-collapse justify-content-start">
		<div class="ps-1">
			<HomeButton />
		</div>
	</div>

	<div class="collapse navbar-collapse justify-content-center">
		<div class="">
			<h5 class="text-center"><i class="@PageEnum.Icon"></i>&nbsp;&nbsp;@PageEnum.Title</h5>
		</div>
	</div>

	<div class="collapse navbar-collapse justify-content-end">

		@* ToDo: a bit of a hack *@
		@if (PageEnum == Nav.AlephTavs)
		{
			<div class="ps-1">
				<MyHebrewBible.Client.Features.AlephTav.NavToAlephTavListButton />
			</div>
		}

		@if (PageEnum == Nav.AlephTavList)
		{
			<div class="ps-1">
				<MyHebrewBible.Client.Features.AlephTavList.NavBackToAlephTavsButton />
			</div>
		}

		<div class="ps-1">
			<a class="btn btn-primary" title="Configuration" href="">
				<i class="fas fa-cog"></i>
			</a>
		</div>

	</div>

</nav>

<div class="mt-5">
	<br />
</div>


@code {
	[Parameter, EditorRequired] public Nav PageEnum { get; set; } = Nav.Home;
	[Parameter] public string? BorderCSS { get; set; } = "border-bottom border-info";
	[Parameter] public string? PageTitle { get; set; }

}
