@page "/Articles"
@page "/Article"

@using MyHebrewBible.Client.Features.Articles.Search
@using MyHebrewBible.Client.Features.Articles.Search.Enums

@inject IToastService? Toast

<PageHeader PageEnum="@MyHebrewBible.Client.Enums.Nav.Article" />

<div class="card">
	<div class="card-header">
		Search Article by...
	</div>

	<div class="row">
		<div class="col-md-3">

			<div class="card-body">
				<h5 class="card-title">Title</h5>
				@* <BlazoredTypeahead SearchMethod="SearchPeople" @bind-Value="person.Name" Placeholder="Search for a person..." /> *@
			</div>

		</div>

		<div class="col-md-3">
			<div class="card-body">
				<h5 class="card-title">Article Id</h5>
				<ArticleIdForm OnArticleIdSelected="ReturnedArticleId" />
			</div>

		</div>

		<div class="col-md-3">
			<div class="card-body">
				<h5 class="card-title">Strong's: H[1234]</h5>
				<StrongsForm StrongsType="@StrongsType.Hebrew" OnStrongsNumberSelected="ReturnedStrongsNumber" />
			</div>
		</div>

		<div class="col-md-3">
			<div class="card-body">
				<h5 class="card-title">Strong's: G[1234]</h5>
				<StrongsForm StrongsType="@StrongsType.Greek" OnStrongsNumberSelected="ReturnedStrongsNumber" />
			</div>
		</div>

	</div>

</div>


@if (CurrentArticleId != 0)
{
	<Details ArticleId="@CurrentArticleId" />
}

@code {

	protected long CurrentArticleId;
	private void ReturnedArticleId(long articleId)
	{
		CurrentArticleId = articleId;
	}


	private void ReturnedStrongsNumber(SearchType searchType) 
	{
		if (searchType.StrongsType == StrongsType.Hebrew)
		{
			Toast!.ShowWarning($"This feature is in the works | H{searchType.StrongsNumber}. ");
		}
		else
		{
			Toast!.ShowWarning($"This feature is in the works | G{searchType.StrongsNumber}. ");
		}
	}
}
