@page "/Articles"
@page "/Article"

@using MyHebrewBible.Client.Features.Articles.Search

<PageHeader PageEnum="@MyHebrewBible.Client.Enums.Nav.Article" BorderCSS="" />

<div class="@GlobalEnums.MediaQuery.Xs.DivClass">
	<Typeahead OnArticleIdSelected="ReturnedArticleId" IsXs=true /> 
</div>

<div class="@GlobalEnums.MediaQuery.SmOrMdOrLgOrXl.DivClass">
	<Typeahead OnArticleIdSelected="ReturnedArticleId" IsXs=false />
</div>

@* <p>SelectedArticleId: @SelectedArticleId</p> *@

@if (SelectedArticleId != 0)  
{
	<Details ArticleId="SelectedArticleId" />
}

@code {
	
	public long SelectedArticleId=0;

	private void ReturnedArticleId(long articleId)
	{
		SelectedArticleId = articleId;
	}

}