@page "/Articles"
@page "/Article/{Id:int}"

@using MyHebrewBible.Client.Features.Articles.Search

<PageHeader PageEnum="@MyHebrewBible.Client.Enums.Nav.Article" BorderCSS="" />

@if (Id is not null)
{
	<LoadingProgress>
		<Details ArticleId="Id2" />
	</LoadingProgress>
}
else
{

	<LoadingProgress>
		<div class="@GlobalEnums.MediaQuery.Xs.DivClass">
			<Typeahead OnArticleIdSelected="ReturnedArticleId" IsXs=true />
		</div>

		<div class="@GlobalEnums.MediaQuery.SmOrMdOrLgOrXl.DivClass">
			<Typeahead OnArticleIdSelected="ReturnedArticleId" IsXs=false />
		</div>

		@* <p>SelectedArticleId: @SelectedArticleId</p> *@

		@if (SelectedArticleId != 0)
		{
			<Details ArticleId="SelectedArticleId" />
		}
	</LoadingProgress>
}
@code {
	[Parameter] public int? Id { get; set; }

	public long Id2 = 0;
	public long SelectedArticleId = 0;

	protected override void OnParametersSet()
	{
		if (Id is not null)
		{
			Id2 = (long)Id;
		}
	}

	private void ReturnedArticleId(long articleId)
	{
		SelectedArticleId = articleId;
	}

}