@page "/about"
@using MyHebrewBible.Client.Enums
@using MyHebrewBible.Client.Components

<PageHeader PageEnum="Client.Enums.Nav.About" />

<p class="text-danger">NOT DONE YET!</p>

@* <Environment /> *@

@code {

}
