@page "/sample"

<PageTitle>Sample</PageTitle>

<div class="pb-n1 mt-2 mb-3 border-bottom border-info">
	<h5 class="text-center">Sample</h5>
</div>

<WordPartTable ScriptureId="1" />
<br />
<br />
<WordPartKjvTable ScriptureId="1" />
<br />
<br />
<VerseParagraph BookId="1" Chapter="1" />


@code {

}
