@page "/sample"

<PageTitle>Sample</PageTitle>

<p>
	<b>ToDo</b>: Debug <code>ToggleButton</code>  ShowSearch: <span>@(@ShowSearch ? "❌" : "✔️")</span>
</p>

<ToggleButton CurrentBoolValue="@ShowSearch"
							ButtonSize="Helpers.ButtonSize.Lg"
							OnToggleSelected="@ReturnedToggle" />

<div class="pb-n1 mt-2 mb-3 border-bottom border-info">
	<h5 class="text-center">Sample</h5>
</div>

<div class="card border-primary mb-3">
	<div class="card-header">WordPartTable</div>
	<div class="card-body">
		<WordPartTable ScriptureId="1" />
	</div>
</div>

<div class="card border-info mb-3">
	<div class="card-header">WordPartKjvTable</div>
	<div class="card-body">
		<WordPartKjvTable ScriptureId="1" />
	</div>
</div>

<div class="card border-info mb-3">
	<div class="card-header">VerseParagraph</div>
	<div class="card-body">
		<VerseParagraph BookId="1" Chapter="1" />
	</div>
</div>

@code {
	private bool ShowSearch = false;
	private void ReturnedToggle(bool showSearch)
	{
		ShowSearch = showSearch;
		StateHasChanged();
	}
}
