@*  *@
<div class="d-flex justify-content-end">
	@foreach (var item in Enums.Filter.List.OrderBy(o => o.Value))
	{
		<div class="pe-1">
			<button @onclick="@(() => OnClick(item))" title="Filter by @item.Title"
							class="btn btn-outline-primary btn-sm  @ActiveFilter(item)">
				@item.Title
			</button>
		</div>
	}
</div>

@* 	
	<div class="row mt-3">
	<div class="col-12">
</div>
</div> 
*@


@code {
	[Parameter, EditorRequired] public Enums.Filter? CurrentFilter { get; set; }
	[Parameter, EditorRequired] public EventCallback<Enums.Filter> OnFilterSelected { get; set; }

	private async Task OnClick(Enums.Filter filter)
	{
		await OnFilterSelected.InvokeAsync(filter);
	}

	public string ActiveFilter(Enums.Filter filter)
	{
		if (filter == CurrentFilter) { return "active"; }
		else { return ""; }
	}
}
