@using BLBEnum=MyHebrewBible.Client.Enums.BLB

<h5 class="card-title text-center">
	<span>
		@BLBEnum.WLC.AnchorBCV(BookAndChapterAT!.BookChaptersVerses.BibleBook!.Value,
					(int)SummaryVM!.Chapter, (int)SummaryVM!.Verse)
	</span>

	@if (SummaryVM!.HasTwo == 1) @* 1==true *@
	{
		<text>&nbsp;</text>
		<span class="text-danger">את</span> <span class="text-danger">את</span>
	}
</h5>

@code {
	[Parameter, EditorRequired] public BookAndChapterAT? BookAndChapterAT { get; set; }
	[Parameter, EditorRequired] public SummaryVM? SummaryVM { get; set; }
}
