@page "/alephtav"
@page "/alephtavs"

@using MyHebrewBible.Client.Enums
@using Page = MyHebrewBible.Client.Enums.Nav
@using MyHebrewBible.Client.Features.AlephTav.Toolbar
@using MyHebrewBible.Client.Features.AlephTav.Section

@* @inject IToastService? Toast  *@

<PageTitle>@Page.AlephTavs.Title</PageTitle>

<NavbarAlephTavList CurrentBookChaptersVerses="CurrentBookChaptersVerses"
										ShowIntroToggle="ShowIntro"
										OnBookChaptersVersesSelected="ReturnedBookChaptersVerses"
										OnShowIntroSelected="ReturnedShowIntro" />

@if (CurrentBookChaptersVerses is not null)
{
	<div class="mt-5">
		<br />

		<ChapterList BookChaptersVerses="CurrentBookChaptersVerses"
								 OnChapterSelected="ReturnedChapter" />

		@if (@BookAndChapterAT is not null)
		{
			<LoadingProgress>
				<Sections BookAndChapterAT="BookAndChapterAT" />
			</LoadingProgress>
		}
	</div>
}
else
{
	<div class="mt-5">
		<br />
		<div class="@GlobalEnums.MediaQuery.Xs.DivClass">
			<Introduction IsXs=true />
		</div>

		<div class="@GlobalEnums.MediaQuery.SmOrMdOrLgOrXl.DivClass">
			<Introduction IsXs=false />
		</div>
	</div>
}

@code {


	/*	
	protected override void OnInitialized()
	{
		CurrentBookChaptersVerses = Enums.BookChaptersVerses.Genesis;
		BookAndChapterAT = new BookAndChapterAT(CurrentBookChaptersVerses, 2);
	}
	*/
	
	public Enums.BookChaptersVerses? CurrentBookChaptersVerses { get; set; }

	private void ReturnedBookChaptersVerses(
		Enums.BookChaptersVerses bookChaptersVerses)
	{
		//Toast!.ShowWarning($"BookChaptersVerses Selected {bookChaptersVerses.BibleBook.Title}");
		ShowIntro = true;
		CurrentBookChaptersVerses = bookChaptersVerses!;
	}

	protected BookAndChapterAT? BookAndChapterAT;
	private void ReturnedChapter(int chapter)
	{
		//Toast!.ShowSuccess($"{nameof(Index)}!{nameof(ReturnedChapter)}; chapter: {chapter}");
		BookAndChapterAT = new BookAndChapterAT(CurrentBookChaptersVerses!, chapter);
	}

	protected bool ShowIntro = false;
	private void ReturnedShowIntro(bool toggle)
	{
		ShowIntro = toggle;
		CurrentBookChaptersVerses = null;
	}

}
