@page "/alephtav"
@page "/alephtavs"

@using MyHebrewBible.Client.Enums

<PageHeader PageEnum="@MyHebrewBible.Client.Enums.Nav.AlephTavs" />


<Filter CurrentFilter="CurrentFilter"
				OnFilterSelected="@ReturnedFilter" />

@if (CurrentFilter == Enums.Filter.Summary)
{
	<div class="@GlobalEnums.MediaQuery.Xs.DivClass">
		<Introduction IsXs=true />
	</div>

	<div class="@GlobalEnums.MediaQuery.SmOrMdOrLgOrXl.DivClass">
		<Introduction IsXs=false />
	</div>

}
else
{
	<LoadingProgress>
		<Anomalies />
	</LoadingProgress>
}

@code {

	[Parameter, EditorRequired] public EventCallback<BookAndChapter> OnBookAndChapterSelected { get; set; }

	protected Enums.Filter CurrentFilter { get; set; } = Enums.Filter.Summary;

	private async Task ReturnedFilter(Enums.Filter filter)
	{
		await Task.Delay(5);
		CurrentFilter = filter;
		//await OnArticleIdSelected.InvokeAsync(0);
		//await PopulateCollection(filter);
	}

}
