

<div class="card border-primary mt-2 mb-2">
	<div class="card-header text-center">
		<h2><span class="hebrew text-danger">את</span> Standalone Aleph Tav</h2>
	</div>

	<div class="card-body">
		<p class="fs-5">
			This page is a short introduction into the Standalone Aleph Tav.
			There are 612 verses (by my count) that have one of these special type of Aleph Tav's in them.
			One of the features of <b>My Hebrew Bible</b> is that they have been highligted in red <span class="text-danger">את</span>.
		</p>
	</div>

</div>

<div class="card border-primary mt-3 mb-2">
	<div class="card-header text-center">
		<h4>Why a Standalone Aleph Tav List?</h4>
	</div>

	<div class="card-body">
		<p class="fs-5">
			In the Hebrew language it is called a <a href="https://en.wikipedia.org/wiki/Modern_Hebrew_grammar#Direct_objects" target="_blank">direct object</a>,
			but I believe it <b>points</b> to the Messiah.
		</p>
	</div>

	<div class="card-body">
		<p class="fs-5 mb-1">
			Here is the first occurrence.  It is in the first verse of the bible
		</p>

		<h5 class="card-title mt-3">Genesis 1:1 WLC</h5>
		<p class="fs-5">
			<div class="hebrew">
				<span class="jt-enlarged-letter">&#64305</span>&#1456&#1512&#1461&#1488&#64298&#1460&#1497&#1514 &#64305&#1464&#1512&#1464&#1488 &#1488&#1457&#1500&#1465&#1492&#1460&#1497&#1501 <span class="at-red">&#1488&#1461&#1514</span> &#1492&#1463&#64300&#1464&#1502&#1463&#1497&#1460&#1501 &#1493&#1456&#1488&#1461&#1514 &#1492&#1464&#1488&#1464&#1512&#1462&#1509
			</div>
		</p>
	</div>

</div>


<div class="card border-primary mt-3 mb-2">
	<div class="card-header text-center">
		<h2>More Verses</h2>
	</div>

	<div class="card-body">

		<p class="fs-5">Here is the first verse of the book of John which I believe is alluding to Gen 1:1</p>
		<h5 class="card-title mt-3">Joh 1:1 KJV</h5>
		<p class="fs-5">
			<sup>1:1</sup> In the beginning was the Word, and the Word was with God, and the Word was God.
		</p>

		@if (!IsXs)
		{
			<img src="@BlobContent.ImagesUrl("Mt_Horev_Aleph_Tav.png")" alt="Mt. Horev Aleph Tav" class="img-thumbnail" />
		}

		<h5 class="card-title mt-3">Revelation 1:7-8 KJV</h5>
		<p class="fs-5">
			<sup>7</sup> Behold, he cometh with clouds; and every eye shall see him, and they also which pierced him: and all kindreds of the earth shall wail because of him. Even so, Amen.
			<sup>8</sup> <span class="text-danger">I am <del>Alpha and Omega</del> Aleph and Tav, the beginning and the ending</span>, saith the Lord, which is, and which was, and which is to come, the Almighty.
		</p>

		<h5 class="card-title mt-3">Zechariah 12:10 KJV</h5>
		<p class="fs-5">
			<sup>10</sup>
			I will pour upon the house of David, and upon the inhabitants of Jerusalem, the spirit of grace and of supplications:
			and they shall look upon <b>me</b> (<span class="text-danger">תא</span>)  whom they have pierced, and they shall mourn for him, as one mourneth for his only son,
			and shall be in bitterness for him, as one that is in bitterness for his firstborn.
		</p>


		<h5 class="card-title mt-3">Isaiah 52:10 KJV</h5>
		<p class="fs-5">
			<sup>52:10</sup> YHVH hath made bare his holy arm in the eyes of all the nations; and all the ends of the earth  (<span class="text-danger">תא</span>) shall see the salvation of our God.
		</p>

		<p class="hebrew">
			&#1495&#1464&#64299&#1463&#1507 &#1497&#1456&#1492&#1493&#1464&#1492 &#1488&#1462&#1514&#1470&#1494&#1456&#1512&#1465&#1493&#1506&#1463 &#1511&#1464&#1491&#1456&#64298&#1465&#1493 &#1500&#1456&#1506&#1461&#1497&#1504&#1461&#1497 &#64315&#1464&#1500&#1470&#1492&#1463&#64306&#1465&#1493&#1497&#1460&#1501 &#1493&#1456&#1512&#1464&#1488&#64309 &#64315&#1464&#1500&#1470&#1488&#1463&#1508&#1456&#1505&#1461&#1497&#1470&#1488&#1464&#1512&#1462&#1509<sup> 10</sup> <span class="at-red"> &#1488&#1461&#1514</span><sup> 11</sup> &#1497&#1456&#64298&#64309&#1506&#1463&#1514<sup> 12</sup> &#1488&#1457&#1500&#1465&#1492&#1461&#1497&#1504&#64309<sup> 13</sup>
		</p>
	</div>


	<div class="card-body">
		<div class="float-end">
			<span class="text-muted">Transliteration "...<b>aretz</b><sup> of the earth</sup> <span class="text-danger"><b>et</b></span> <b>yeshuat</b><sup> the salvation</sup> <b>eloHeinu</b><sup> of our God</sup></span> "
		</div>

	</div>

	<div class="card-body">

		<h5 class="card-title mt-4">Isaiah 53:5-6 KJV</h5>
		<p class="fs-5">
			<sup>5</sup> But he <span class="text-muted"><i>was</i></span> wounded for our transgressions, <span class="text-muted"><i>he was</i></span> bruised for our iniquities: the chastisement of our peace <span class="text-muted"><i>was</i></span> upon him; and with his stripes we are healed.
			<sup>6</sup> All we like sheep have gone astray; we have turned every one to his own way; and <span>יהוה</span> hath laid on <b>him</b> (<span class="text-danger">תא</span>) the iniquity of us all.
		</p>
	</div>

</div>

@if (IsXs)
{
	<div class="row">
		<div class="col-12">
			<TheRockModal />
		</div>
	</div>
}


<div class="card border-warning mt-3 mb-2">
	<div class="card-header text-center">
		<h5>Translation Notes</h5>
	</div>

	<div class="card-body">
		<p class="fs-5">
			<small>
				The quotes above are from the King James bible with some changes as an attempt to point out the meaning of the <i>Aleph</i> and <i>Tav</i>.
				The changes include of course the addition of the Hebrew letters <i>Aleph Tav</i> which are colored in red.
			</small>
		</p>

		<p class="fs-5">
			<small>
				<b>Rev 1:8""</b> In Rev 1:8 the Greek transliterated word <i>Alpha</i> and <i>Omega</i> is marked up with a strike through and
				the Hebrew equivalent transliteration of <i>Aleph</i> and <i>Tav</i> was appended next to it.
				Both of these sets of letters <i>Alpha</i> and <i>Omega</i> for the Greek and <i>Aleph</i> and <i>Tav</i> for the Hebrew are the first and last letters for their respective languages (in English it would be like A and Z).
				The change in the text was to emphasize the Hebrew roots of <i>Y'shua</i> (Jesus) and his disciple John the Revelator.
				The presumption made is that a Hebrew messiah speaking to a Hebrew prophet did so in the Hebrew language.
			</small>
		</p>

		<p class="fs-5">
			<small>
				<b>About the picture:</b> The picture of the rock which is found in <i>Kadesh</i> (Num 20) or <i>Meribah-Kadesh</i> (Deu 32:51).
				If you look closely, the letters <i>Aleph</i> and <i>Tav</i> have been embossed and are not found in the original picture.
				Artistic license was employed to express that the rock (<i>Tsur</i>) mentioned in Deu 32 and 1Cor 10:4 had followed them in the desert.
				And it was from this rock that the miracle of the spiritual / living water sprang forth.
				<br />
				The rock (<i>Tsur</i>) is also one of the names for God (<i>Elohim</i> i.e. &quot;&hellip;the Rock (<i>Tsur</i>) of his salvation (<i>yeshuato</i>)&quot; (Deu 32:15).
			</small>
		</p>

		<p class="fs-5">
			<small>
				<b>Other Notes</b><br />
				&bull;&nbsp; The word for <b>the LORD</b> in Isaiah 53:6 is substituted with the Hebrew word which is spelled <i>Yood Hey Vav Hey</i>.
				&bull;&nbsp; In Rev 1:8, the red letters are found in some version of the King James bible, so those colors therefore were not added.
			</small>
		</p>

	</div>

</div>


<div class="card border-danger mt-4 mb-1">
	<div class="card-header">

		<div class="d-flex justify-content-between">

			<div class="px-1">
				<span class="fs-3">Aleph Tav Anomalies</span>
			</div>
			<div class="px-1">
				<button @onclick="LearnMoreToggleButtonClick"
								class="btn btn-outline-primary btn-sm">
					@Title <i class='@Icon'></i>
				</button>
			</div>
		</div>

	</div>

	<div class="card-body text-center">
		A list of anomalies that I acquired when I created the list.
	</div>
</div>

@if (ContentIsShowing)
{
	<LoadingProgress>
		<Anomalies />
	</LoadingProgress>
}

<br />

@code {
	[Parameter, EditorRequired] public bool IsXs { get; set; }

	public bool ContentIsShowing = false;
	private string Title => ContentIsShowing ? "Hide " : "Learn more...";
	private string Icon => ContentIsShowing ? "fas fa-chevron-up" : "fas fa-chevron-down";

	protected void LearnMoreToggleButtonClick()
	{
		ContentIsShowing = !ContentIsShowing;
	}
}
