
@if (BibleVerse == null)
{
	<p><em>BibleVerse is Loading...</em></p>
}
else
{
	<p class="fs-5 my-3">
		<a title="@BibleVerse.BCV [@BibleVerse.ID]" @onclick="@(e => ButtonClick(BibleVerse.ID, BibleVerse.Verse))">
			<sup class="btn btn-outline-primary py-0 px-1">
				<b>@BibleVerse.Verse</b>
			</sup>
		</a>
		@if (BibleVerse.VerseOffset != "NULL")
		{
			<sup class="text-black-50">&nbsp;@BibleVerse.VerseOffset&nbsp;</sup>
		}
		else
		{
			<text>&nbsp;</text>
		}
		@((MarkupString)@BibleVerse.KJV!)
	</p>

}

@code {
	[Parameter, EditorRequired] public BibleVerse? BibleVerse { get; set; }
	[Parameter] public EventCallback<ScriptureIdAndVerseNumber> OnVerseSelected { get; set; }

	private void ButtonClick(long scriptureId, long verse)
	{
		OnVerseSelected.InvokeAsync(new ScriptureIdAndVerseNumber(scriptureId, verse));
	}
}
