
@* ONLY USED BY 'Features\BookChapter\Index.razor' AND CURRENTLY COMMENTED OUT *@

<button @onclick="ButtonClicked"
				class="btn @Color btn-lg ">
	@Title <i class='@Icon'></i>
</button>

@code {
	[Parameter, EditorRequired] public bool ShowSearch { get; set; }
	[Parameter, EditorRequired] public EventCallback<bool> OnToggleSelected { get; set; }

	//float-end
	private string Color => ShowSearch ? "btn-outline-success" : "btn-outline-success";
	private string Title => ShowSearch ? "Hide " : "Show "; //  string.Empty;
	private string Icon => ShowSearch ? "fas fa-search-minus" : "fas fa-search-plus"; //"fas fa-chevron-up" : "fas fa-chevron-down";
	
	protected void ButtonClicked()
	{
		ShowSearch = !ShowSearch;
		OnToggleSelected.InvokeAsync(ShowSearch);
	}
}
