@if (Title != "NULL")
{
	@if (!String.IsNullOrEmpty(BCV))
	{
		<p class="text-black-50 text-center " style="font-size:11px; margin-top: -1rem !important; margin-bottom: -.05rem !important;">@BCV</p>
	}
	<p class="text-danger text-center fs-4 mt-1 mb-2">
		@Title
	</p>
}

@if (Subtitle != "NULL")
{
	<p class="text-secondary fs-6 text-end mb-0"><em>@Subtitle</em></p>
}

@code {
	[Parameter, EditorRequired] public string? Title { get; set; }
	[Parameter, EditorRequired] public string? Subtitle { get; set; }
	[Parameter] public string? BCV { get; set; }
}
