@page "/FavoriteVerses"
@using MyHebrewBible.Client.Features.FavoriteVerses.Toolbar

@* @inject ILogger<Index>? Logger *@

<PageTitle>@PageTitle</PageTitle>

<Navbar OnVerseSelected="ReturnedVerse" OnMenuItemSelected="ReturnedMenuItem"  />

@if (SelectedVerse is not null)
{
	<br />
	<Card Verse="SelectedVerse" OnClose="ReturnedCloseEvent" />
}
else 
{
	<br />
	<p class="text-center mt-5">Please select a verse to view details.</p> 
} 

@if (ShowPageInstructionsModal)
{
	<PageInstructions />
}

<Grid OnVerseSelected="ReturnedVerse" />

@code {
	protected string PageTitle = MyHebrewBible.Client.Enums.Nav.FavoriteVerses.Title;

	public Enums.Verse? SelectedVerse { get; set; }

	private void ReturnedVerse(Enums.Verse verse)
	{
		//Logger!.LogInformation("{Method}", nameof(ReturnedVerse));
		SelectedVerse = verse;
	}

	private void ReturnedCloseEvent()
	{
		SelectedVerse = null;
	}

	protected bool ShowPageInstructionsModal = false;
	private void ReturnedMenuItem(Enums.MenuItem item)
	{
		if (item == Enums.MenuItem.Instructions)
		{
			ShowPageInstructionsModal = !ShowPageInstructionsModal;
		}
		
	}

}