@page "/BibleList/MapCanaanOT"
@using MyHebrewBible.Client.Enums;
@using MyHebrewBible.Client.Features.Lists.Components

@using Page = MyHebrewBible.Client.Features.Lists.MenuItemConstants.MapCanaanOT

<PageHeader PageEnum="@MyHebrewBible.Client.Enums.Nav.BibleList" PageTitle="@Page.Title" />
<SubNavBar ActiveMenuItem="@MenuItems.MapCanaanOT" />

<SourceAnchor Url="https://beta.lds.org/scriptures/bible-maps/map-10?lang=eng" />

<BlurbCard>
	Here is a nice map highlighting key places mentioned in the <i>Tanach</i>
</BlurbCard>

<img src="@BlobContent.ImagesUrl("MapCanaanOTSmall.png")" alt="Map Canaan OT" class="img-responsive img-rounded" />

<h4>Open Scriptures MorphHB</h4>

<ol class="decimal number" start="1">
	<li data-marker="1.">
		<p data-aid="19051606" id="p1"><strong>Dan (Laish)</strong> Jeroboam set up a golden calf for the Northern Kingdom to worship (<a href="https://beta.lds.org/scriptures/ot/1-kgs/12.26-33?lang=eng#p25" class="scripture-ref">1 Kgs. 12:26–33</a>). Dan was the northern limit of ancient Israel.</p>
	</li>
	<li data-marker="2.">
		<p data-aid="19051607" id="p2"><strong>Mount Carmel</strong> Elijah challenged the prophets of Baal and opened the heavens for rain (<a href="https://beta.lds.org/scriptures/ot/1-kgs/18.17-46?lang=eng#p16" class="scripture-ref">1 Kgs. 18:17–46</a>).</p>
	</li>
	<li data-marker="3.">
		<p data-aid="19051608" id="p3"><strong>Megiddo</strong> A place of many battles (<a href="https://beta.lds.org/scriptures/ot/judg/4.13-16?lang=eng#p12" class="scripture-ref">Judg. 4:13–16</a>; <a href="https://beta.lds.org/scriptures/ot/judg/5.19?lang=eng#p18" class="scripture-ref">5:19</a>; <a href="https://beta.lds.org/scriptures/ot/2-kgs/23.29?lang=eng#p28" class="scripture-ref">2 Kgs. 23:29</a>; <a href="https://beta.lds.org/scriptures/ot/2-chr/35.20-23?lang=eng#p19" class="scripture-ref">2 Chr. 35:20–23</a>). Solomon raised a levy to build up Megiddo (<a href="https://beta.lds.org/scriptures/ot/1-kgs/9.15?lang=eng#p14" class="scripture-ref">1 Kgs. 9:15</a>). King Josiah of Judah was mortally wounded in a battle against Pharaoh Necho of Egypt (<a href="https://beta.lds.org/scriptures/ot/2-kgs/23.29-30?lang=eng#p28" class="scripture-ref">2 Kgs. 23:29–30</a>). At the Second Coming of the Lord, a great and final conflict will take place in the Jezreel Valley as part of the battle of Armageddon (<a href="https://beta.lds.org/scriptures/ot/joel/3.14?lang=eng#p13" class="scripture-ref">Joel 3:14</a>; <a href="https://beta.lds.org/scriptures/nt/rev/16.16?lang=eng#p15" class="scripture-ref">Rev. 16:16</a>; <a href="https://beta.lds.org/scriptures/nt/rev/19.11-21?lang=eng#p10" class="scripture-ref">19:11–21</a>). The name <em>Armageddon</em> is a Greek transliteration from the Hebrew <span class="translit" lang="heb"><i>Har Megiddon,</i></span> or Mountain of Megiddo.</p>
	</li>
	<li data-marker="4.">
		<p data-aid="19051609" id="p4"><strong>Jezreel</strong> The name of a city in the largest and most fertile valley of Israel by the same name. The kings of the Northern Kingdom built a palace here (<a href="https://beta.lds.org/scriptures/ot/2-sam/2.8-9?lang=eng#p7" class="scripture-ref">2 Sam. 2:8–9</a>; <a href="https://beta.lds.org/scriptures/ot/1-kgs/21.1-2?lang=eng#p1" class="scripture-ref">1 Kgs. 21:1–2</a>). Wicked Queen Jezebel lived and died here (<a href="https://beta.lds.org/scriptures/ot/1-kgs/21?lang=eng" class="scripture-ref">1 Kgs. 21</a>; <a href="https://beta.lds.org/scriptures/ot/2-kgs/9.30?lang=eng#p29" class="scripture-ref">2 Kgs. 9:30</a>).</p>
	</li>
	<li data-marker="5.">
		<p data-aid="19051610" id="p5"><strong>Beth-shan</strong> Israel faced the Canaanites here (<a href="https://beta.lds.org/scriptures/ot/josh/17.12-16?lang=eng#p11" class="scripture-ref">Josh. 17:12–16</a>). Saul’s body was fastened to the walls of this fortress (<a href="https://beta.lds.org/scriptures/ot/1-sam/31.10-13?lang=eng#p9" class="scripture-ref">1 Sam. 31:10–13</a>).</p>
	</li>
	<li data-marker="6.">
		<p data-aid="19051611" id="p6"><strong>Dothan</strong> Joseph was sold into slavery by his brothers (<a href="https://beta.lds.org/scriptures/ot/gen/37.17%2C28?lang=eng#p16" class="scripture-ref">Gen. 37:17, 28</a>; <a href="https://beta.lds.org/scriptures/ot/gen/45.4?lang=eng#p3" class="scripture-ref">45:4</a>). Elisha had a vision of the mountain full of horses and chariots (<a href="https://beta.lds.org/scriptures/ot/2-kgs/6.12-17?lang=eng#p11" class="scripture-ref">2 Kgs. 6:12–17</a>).</p>
	</li>
	<li data-marker="7.">
		<p data-aid="19051612" id="p7"><strong>Samaria</strong> The Northern Kingdom’s capital (<a href="https://beta.lds.org/scriptures/ot/1-kgs/16.24-29?lang=eng#p23" class="scripture-ref">1 Kgs. 16:24–29</a>). King Ahab built a temple to Baal (<a href="https://beta.lds.org/scriptures/ot/1-kgs/16.32-33?lang=eng#p31" class="scripture-ref">1 Kgs. 16:32–33</a>). Elijah and Elisha ministered (<a href="https://beta.lds.org/scriptures/ot/1-kgs/18.2?lang=eng#p1" class="scripture-ref">1 Kgs. 18:2</a>; <a href="https://beta.lds.org/scriptures/ot/2-kgs/6.19-20?lang=eng#p18" class="scripture-ref">2 Kgs. 6:19–20</a>). In 721 <small>B.C.</small> the Assyrians conquered it, completing the capture of the ten tribes (<a href="https://beta.lds.org/scriptures/ot/2-kgs/18.9-10?lang=eng#p8" class="scripture-ref">2 Kgs. 18:9–10</a>).</p>
	</li>
	<li data-marker="8.">
		<p data-aid="19051613" id="p8"><strong>Shechem</strong> Abraham built an altar (<a href="https://beta.lds.org/scriptures/ot/gen/12.6-7?lang=eng#p5" class="scripture-ref">Gen. 12:6–7</a>). Jacob lived near here. Simeon and Levi massacred all the males of this city (<a href="https://beta.lds.org/scriptures/ot/gen/34.25?lang=eng#p24" class="scripture-ref">Gen. 34:25</a>). Joshua’s encouragement to “choose … this day” to serve God came in Shechem (<a href="https://beta.lds.org/scriptures/ot/josh/24.15?lang=eng#p14" class="scripture-ref">Josh. 24:15</a>). Here Jeroboam established the first capital of the Northern Kingdom (<a href="https://beta.lds.org/scriptures/ot/1-kgs/12?lang=eng" class="scripture-ref">1 Kgs. 12</a>).</p>
	</li>
	<li data-marker="9.">
		<p data-aid="19051614" id="p9"><strong>Mount Ebal and Mount Gerizim</strong> Joshua divided Israel on these two mounts—the blessings of the law were proclaimed from Mount Gerizim, while the cursings came from Mount Ebal (<a href="https://beta.lds.org/scriptures/ot/josh/8.33?lang=eng#p32" class="scripture-ref">Josh. 8:33</a>). The Samaritans later built a temple on Gerizim (<a href="https://beta.lds.org/scriptures/ot/2-kgs/17.32-33?lang=eng#p31" class="scripture-ref">2 Kgs. 17:32–33</a>).</p>
	</li>
	<li data-marker="10.">
		<p data-aid="19051615" id="p10"><strong>Penuel (Peniel)</strong> Here Jacob wrestled all night with a messenger of the Lord (<a href="https://beta.lds.org/scriptures/ot/gen/32.24-32?lang=eng#p23" class="scripture-ref">Gen. 32:24–32</a>). Gideon destroyed a Midianite fortress (<a href="https://beta.lds.org/scriptures/ot/judg/8.5%2C8-9?lang=eng#p4" class="scripture-ref">Judg. 8:5, 8–9</a>).</p>
	</li>
	<li data-marker="11.">
		<p data-aid="19051616" id="p11"><strong>Joppa</strong> Jonah sailed from here toward Tarshish to avoid his mission to Nineveh (<a href="https://beta.lds.org/scriptures/ot/jonah/1.1-3?lang=eng#p1" class="scripture-ref">Jonah 1:1–3</a>).</p>
	</li>
	<li data-marker="12.">
		<p data-aid="19051617" id="p12"><strong>Shiloh</strong> During the time of the Judges, Israel’s capital and the tabernacle were located here (<a href="https://beta.lds.org/scriptures/ot/1-sam/4.3-4?lang=eng#p2" class="scripture-ref">1 Sam. 4:3–4</a>).</p>
	</li>
	<li data-marker="13.">
		<p data-aid="19051618" id="p13"><strong>Bethel (Luz)</strong> Here Abraham separated from Lot (<a href="https://beta.lds.org/scriptures/ot/gen/13.1-11?lang=eng#p1" class="scripture-ref">Gen. 13:1–11</a>) and had a vision (<a href="https://beta.lds.org/scriptures/ot/gen/13?lang=eng" class="scripture-ref">Gen. 13</a>; <a href="https://beta.lds.org/scriptures/pgp/abr/2.19-20?lang=eng#p18" class="scripture-ref">Abr. 2:19–20</a>). Jacob had a vision of a ladder reaching into heaven (<a href="https://beta.lds.org/scriptures/ot/gen/28.10-22?lang=eng#p9" class="scripture-ref">Gen. 28:10–22</a>). The tabernacle was located here for a time (<a href="https://beta.lds.org/scriptures/ot/judg/20.26-28?lang=eng#p25" class="scripture-ref">Judg. 20:26–28</a>). Jeroboam set up a golden calf for the Northern Kingdom to worship (<a href="https://beta.lds.org/scriptures/ot/1-kgs/12.26-33?lang=eng#p25" class="scripture-ref">1 Kgs. 12:26–33</a>).</p>
	</li>
	<li data-marker="14.">
		<p data-aid="19051619" id="p14"><strong>Gibeon</strong> Hivite people from here tricked Joshua into a treaty (<a href="https://beta.lds.org/scriptures/ot/josh/9?lang=eng" class="scripture-ref">Josh. 9</a>). The sun stood still while Joshua won a battle (<a href="https://beta.lds.org/scriptures/ot/josh/10.2-13?lang=eng#p1" class="scripture-ref">Josh. 10:2–13</a>). This was also a temporary site of the tabernacle (<a href="https://beta.lds.org/scriptures/ot/1-chr/16.39?lang=eng#p38" class="scripture-ref">1 Chr. 16:39</a>).</p>
	</li>
	<li data-marker="15.">
		<p data-aid="19051620" id="p15"><strong>Gaza, Ashdod, Ashkelon, Ekron, Gath (the five cities of the Philistines)</strong> From these cities the Philistines often made war on Israel.</p>
	</li>
	<li data-marker="16.">
		<p data-aid="19051621" id="p16"><strong>Bethlehem</strong> Rachel was buried nearby (<a href="https://beta.lds.org/scriptures/ot/gen/35.19?lang=eng#p18" class="scripture-ref">Gen. 35:19</a>). Ruth and Boaz lived here (<a href="https://beta.lds.org/scriptures/ot/ruth/1.1-2?lang=eng#p1" class="scripture-ref">Ruth 1:1–2</a>; <a href="https://beta.lds.org/scriptures/ot/ruth/2.1%2C4?lang=eng#p1" class="scripture-ref">2:1, 4</a>). It was called the city of David (<a href="https://beta.lds.org/scriptures/nt/luke/2.4?lang=eng#p3" class="scripture-ref">Luke 2:4</a>).</p>
	</li>
	<li data-marker="17.">
		<p data-aid="19051622" id="p17"><strong>Hebron</strong> Abraham (<a href="https://beta.lds.org/scriptures/ot/gen/13.18?lang=eng#p17" class="scripture-ref">Gen. 13:18</a>), Isaac, Jacob (<a href="https://beta.lds.org/scriptures/ot/gen/35.27?lang=eng#p26" class="scripture-ref">Gen. 35:27</a>), David (<a href="https://beta.lds.org/scriptures/ot/2-sam/2.1-4?lang=eng#p1" class="scripture-ref">2 Sam. 2:1–4</a>), and Absalom (<a href="https://beta.lds.org/scriptures/ot/2-sam/15.10?lang=eng#p9" class="scripture-ref">2 Sam. 15:10</a>) lived here. This was the first capital of Judah under King David (<a href="https://beta.lds.org/scriptures/ot/2-sam/2.11?lang=eng#p10" class="scripture-ref">2 Sam. 2:11</a>). It is believed that Abraham, Sarah, Isaac, Rebekah, Jacob, and Leah were buried here in the cave of Machpelah (<a href="https://beta.lds.org/scriptures/ot/gen/23.17-20?lang=eng#p16" class="scripture-ref">Gen. 23:17–20</a>; <a href="https://beta.lds.org/scriptures/ot/gen/49.31%2C33?lang=eng#p30" class="scripture-ref">49:31, 33</a>).</p>
	</li>
	<li data-marker="18.">
		<p data-aid="19051623" id="p18"><strong>En-gedi</strong> David hid from Saul and spared Saul’s life (<a href="https://beta.lds.org/scriptures/ot/1-sam/23.29?lang=eng#p28" class="scripture-ref">1 Sam. 23:29–24:22</a>).</p>
	</li>
	<li data-marker="19.">
		<p data-aid="19051624" id="p19"><strong>Gerar</strong> Abraham and Isaac lived here for a time (<a href="https://beta.lds.org/scriptures/ot/gen/20?lang=eng" class="scripture-ref">Gen. 20–22</a>; <a href="https://beta.lds.org/scriptures/ot/gen/26?lang=eng" class="scripture-ref">26</a>).</p>
	</li>
	<li data-marker="20.">
		<p data-aid="19051625" id="p20"><strong>Beersheba</strong> Abraham dug a well here and covenanted with Abimelech (<a href="https://beta.lds.org/scriptures/ot/gen/21.31?lang=eng#p30" class="scripture-ref">Gen. 21:31</a>). Isaac saw the Lord (<a href="https://beta.lds.org/scriptures/ot/gen/26.17%2C23-24?lang=eng#p16" class="scripture-ref">Gen. 26:17, 23–24</a>), and Jacob lived here (<a href="https://beta.lds.org/scriptures/ot/gen/35.10?lang=eng#p9" class="scripture-ref">Gen. 35:10</a>; <a href="https://beta.lds.org/scriptures/ot/gen/46.1?lang=eng#p1" class="scripture-ref">46:1</a>).</p>
	</li>
	<li data-marker="21.">
		<p data-aid="19051626" id="p21"><strong>Sodom and Gomorrah</strong> Lot chose to live in Sodom (<a href="https://beta.lds.org/scriptures/ot/gen/13.11-12?lang=eng#p10" class="scripture-ref">Gen. 13:11–12</a>; <a href="https://beta.lds.org/scriptures/ot/gen/14.12?lang=eng#p11" class="scripture-ref">14:12</a>). God destroyed Sodom and Gomorrah because of wickedness (<a href="https://beta.lds.org/scriptures/ot/gen/19.24-26?lang=eng#p23" class="scripture-ref">Gen. 19:24–26</a>). Jesus later used these cities as symbols of wickedness (<a href="https://beta.lds.org/scriptures/nt/matt/10.15?lang=eng#p14" class="scripture-ref">Matt. 10:15</a>).</p>
	</li>
</ol>

@code {

}
