@page "/BibleList/ParablesOfYeshua"
@using MyHebrewBible.Client.Enums;
@using MyHebrewBible.Client.Features.Lists.Components

@using Page = MyHebrewBible.Client.Features.Lists.MenuItemConstants.ParablesOfYeshua
<PageTitle>@Page.Title</PageTitle>

<SubNavBar ActiveMenuItem="@MenuItems.ParablesOfYeshua" />

<SourceAnchor Url="https://en.wikipedia.org/wiki/Parables_of_Jesus#Harmony_of_parables" />

<BlurbCard>
	A sample <a href="https://en.wikipedia.org/wiki/Gospel_harmony" title="Gospel harmony">Gospel harmony</a>.
	Usually, no parables are associated with the <a href="https://en.wikipedia.org/wiki/Gospel_of_John" title="Gospel of John">Gospel of John</a>
	, just allegories. <sup>[15]</sup>
</BlurbCard>

<div class="table-responsive">
	<table class="table table-condensed table-striped">
		<thead>
			<tr>
				<th>#</th>
				<th>Parable</th>
				<th>Matthew</th>
				<th>Mark</th>
				<th>Luke</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>1</td>
				<td><a href="https://en.wikipedia.org/wiki/The_Growing_Seed" title="The Growing Seed">The Growing Seed</a></td>
				<td></td>
				<td><a href="http://tools.wmflabs.org/bibleversefinder/?book=Mark&amp;verse=4:26%E2%80%9329&amp;src=TNIV">Mark 4:26–29</a></td>
				<td></td>
			</tr>
			<tr>
				<td>2</td>
				<td><a href="https://en.wikipedia.org/wiki/The_Two_Debtors" title="The Two Debtors">The Two Debtors</a></td>
				<td></td>
				<td></td>
				<td><a href="http://tools.wmflabs.org/bibleversefinder/?book=Luke&amp;verse=7:41%E2%80%9343&amp;src=TNIV">Luke 7:41–43</a></td>
			</tr>
			<tr>
				<td>3</td>
				<td><a href="https://en.wikipedia.org/wiki/The_Lamp_under_a_Bushel" title="The Lamp under a Bushel">The Lamp under a Bushel</a></td>
				<td><a href="http://tools.wmflabs.org/bibleversefinder/?book=Matthew&amp;verse=5:14%E2%80%9315&amp;src=TNIV">Matthew 5:14–15</a></td>
				<td><a href="http://tools.wmflabs.org/bibleversefinder/?book=Mark&amp;verse=4:21%E2%80%9325&amp;src=TNIV">Mark 4:21–25</a></td>
				<td><a href="http://tools.wmflabs.org/bibleversefinder/?book=Luke&amp;verse=8:16%E2%80%9318&amp;src=TNIV">Luke 8:16–18</a></td>
			</tr>
			<tr>
				<td>4</td>
				<td><a href="https://en.wikipedia.org/wiki/Parable_of_the_Good_Samaritan" title="Parable of the Good Samaritan">Parable of the Good Samaritan</a></td>
				<td></td>
				<td></td>
				<td><a href="http://tools.wmflabs.org/bibleversefinder/?book=Luke&amp;verse=10:25%E2%80%9337&amp;src=TNIV">Luke 10:25–37</a></td>
			</tr>
			<tr>
				<td>5</td>
				<td><a href="https://en.wikipedia.org/wiki/The_Friend_at_Night" title="The Friend at Night">The Friend at Night</a></td>
				<td></td>
				<td></td>
				<td><a href="http://tools.wmflabs.org/bibleversefinder/?book=Luke&amp;verse=11:5%E2%80%938&amp;src=TNIV">Luke 11:5–8</a></td>
			</tr>
			<tr>
				<td>6</td>
				<td><a href="https://en.wikipedia.org/wiki/The_Rich_Fool" title="The Rich Fool">The Rich Fool</a></td>
				<td></td>
				<td></td>
				<td><a href="http://tools.wmflabs.org/bibleversefinder/?book=Luke&amp;verse=12:16%E2%80%9321&amp;src=TNIV">Luke 12:16–21</a></td>
			</tr>
			<tr>
				<td>7</td>
				<td><a href="https://en.wikipedia.org/wiki/The_Wise_and_the_Foolish_Builders" title="The Wise and the Foolish Builders">The Wise and the Foolish Builders</a></td>
				<td><a href="http://tools.wmflabs.org/bibleversefinder/?book=Matthew&amp;verse=7:24%E2%80%9327&amp;src=TNIV">Matthew 7:24–27</a></td>
				<td></td>
				<td><a href="http://tools.wmflabs.org/bibleversefinder/?book=Luke&amp;verse=6:46%E2%80%9349&amp;src=TNIV">Luke 6:46–49</a></td>
			</tr>
			<tr>
				<td>8</td>
				<td><a href="https://en.wikipedia.org/wiki/New_Wine_into_Old_Wineskins" title="New Wine into Old Wineskins">New Wine into Old Wineskins</a></td>
				<td><a href="http://tools.wmflabs.org/bibleversefinder/?book=Matthew&amp;verse=9:17%E2%80%9317&amp;src=TNIV">Matthew 9:17–17</a></td>
				<td><a href="http://tools.wmflabs.org/bibleversefinder/?book=Mark&amp;verse=2:21%E2%80%9322&amp;src=TNIV">Mark 2:21–22</a></td>
				<td><a href="http://tools.wmflabs.org/bibleversefinder/?book=Luke&amp;verse=5:37%E2%80%9339&amp;src=TNIV">Luke 5:37–39</a></td>
			</tr>
			<tr>
				<td>9</td>
				<td><a href="https://en.wikipedia.org/wiki/Parable_of_the_strong_man" title="Parable of the strong man">Parable of the strong man</a></td>
				<td><a href="http://tools.wmflabs.org/bibleversefinder/?book=Matthew&amp;verse=12:29%E2%80%9329&amp;src=TNIV">Matthew 12:29–29</a></td>
				<td><a href="http://tools.wmflabs.org/bibleversefinder/?book=Mark&amp;verse=3:27%E2%80%9327&amp;src=TNIV">Mark 3:27–27</a></td>
				<td><a href="http://tools.wmflabs.org/bibleversefinder/?book=Luke&amp;verse=11:21%E2%80%9322&amp;src=TNIV">Luke 11:21–22</a></td>
			</tr>
			<tr>
				<td>10</td>
				<td><a href="https://en.wikipedia.org/wiki/Parable_of_the_Sower" title="Parable of the Sower">Parable of the Sower</a></td>
				<td><a href="http://tools.wmflabs.org/bibleversefinder/?book=Matthew&amp;verse=13:3%E2%80%939&amp;src=TNIV">Matthew 13:3–9</a></td>
				<td><a href="http://tools.wmflabs.org/bibleversefinder/?book=Mark&amp;verse=4:3%E2%80%939&amp;src=TNIV">Mark 4:3–9</a></td>
				<td><a href="http://tools.wmflabs.org/bibleversefinder/?book=Luke&amp;verse=8:5%E2%80%938&amp;src=TNIV">Luke 8:5–8</a></td>
			</tr>
			<tr>
				<td>11</td>
				<td><a href="https://en.wikipedia.org/wiki/The_Tares" title="The Tares">The Tares</a></td>
				<td><a href="http://tools.wmflabs.org/bibleversefinder/?book=Matthew&amp;verse=13:24%E2%80%9330&amp;src=TNIV">Matthew 13:24–30</a></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td>12</td>
				<td><a href="https://en.wikipedia.org/wiki/The_Barren_Fig_Tree" title="The Barren Fig Tree">The Barren Fig Tree</a></td>
				<td></td>
				<td></td>
				<td><a href="http://tools.wmflabs.org/bibleversefinder/?book=Luke&amp;verse=13:6%E2%80%939&amp;src=TNIV">Luke 13:6–9</a></td>
			</tr>
			<tr>
				<td>13</td>
				<td><a href="https://en.wikipedia.org/wiki/Parable_of_the_Mustard_Seed" title="Parable of the Mustard Seed">Parable of the Mustard Seed</a></td>
				<td><a href="http://tools.wmflabs.org/bibleversefinder/?book=Matthew&amp;verse=13:31%E2%80%9332&amp;src=TNIV">Matthew 13:31–32</a></td>
				<td><a href="http://tools.wmflabs.org/bibleversefinder/?book=Mark&amp;verse=4:30%E2%80%9332&amp;src=TNIV">Mark 4:30–32</a></td>
				<td><a href="http://tools.wmflabs.org/bibleversefinder/?book=Luke&amp;verse=13:18%E2%80%9319&amp;src=TNIV">Luke 13:18–19</a></td>
			</tr>
			<tr>
				<td>14</td>
				<td><a href="https://en.wikipedia.org/wiki/The_Leaven" title="The Leaven">The Leaven</a></td>
				<td><a href="http://tools.wmflabs.org/bibleversefinder/?book=Matthew&amp;verse=13:33%E2%80%9333&amp;src=TNIV">Matthew 13:33–33</a></td>
				<td></td>
				<td><a href="http://tools.wmflabs.org/bibleversefinder/?book=Luke&amp;verse=13:20%E2%80%9321&amp;src=TNIV">Luke 13:20–21</a></td>
			</tr>
			<tr>
				<td>15</td>
				<td><a href="https://en.wikipedia.org/wiki/Parable_of_the_Pearl" title="Parable of the Pearl">Parable of the Pearl</a></td>
				<td><a href="http://tools.wmflabs.org/bibleversefinder/?book=Matthew&amp;verse=13:45%E2%80%9346&amp;src=TNIV">Matthew 13:45–46</a></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td>16</td>
				<td><a href="https://en.wikipedia.org/wiki/Drawing_in_the_Net" title="Drawing in the Net">Drawing in the Net</a></td>
				<td><a href="http://tools.wmflabs.org/bibleversefinder/?book=Matthew&amp;verse=13:47%E2%80%9350&amp;src=TNIV">Matthew 13:47–50</a></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td>17</td>
				<td><a href="https://en.wikipedia.org/wiki/The_Hidden_Treasure" title="The Hidden Treasure">The Hidden Treasure</a></td>
				<td><a href="http://tools.wmflabs.org/bibleversefinder/?book=Matthew&amp;verse=13:44%E2%80%9344&amp;src=TNIV">Matthew 13:44–44</a></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td>18</td>
				<td><a href="https://en.wikipedia.org/wiki/Counting_the_Cost" title="Counting the Cost">Counting the Cost</a></td>
				<td></td>
				<td><a href="http://tools.wmflabs.org/bibleversefinder/?book=Luke&amp;verse=14:28%E2%80%9333&amp;src=TNIV">Luke 14:28–33</a></td>
				<td></td>
			</tr>
			<tr>
				<td>19</td>
				<td><a href="https://en.wikipedia.org/wiki/The_Lost_Sheep" title="The Lost Sheep">The Lost Sheep</a> frequently called The Good Shepherd</td>
				<td><a href="http://tools.wmflabs.org/bibleversefinder/?book=Matthew&amp;verse=18:10%E2%80%9314&amp;src=TNIV">Matthew 18:10–14</a></td>
				<td></td>
				<td><a href="http://tools.wmflabs.org/bibleversefinder/?book=Luke&amp;verse=15:4%E2%80%936&amp;src=TNIV">Luke 15:4–6</a></td>
			</tr>
			<tr>
				<td>20</td>
				<td><a href="https://en.wikipedia.org/wiki/The_Unforgiving_Servant" title="The Unforgiving Servant">The Unforgiving Servant</a></td>
				<td><a href="http://tools.wmflabs.org/bibleversefinder/?book=Matthew&amp;verse=18:23%E2%80%9335&amp;src=TNIV">Matthew 18:23–35</a></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td>21</td>
				<td><a href="https://en.wikipedia.org/wiki/The_Lost_Coin" title="The Lost Coin">The Lost Coin</a></td>
				<td></td>
				<td></td>
				<td><a href="http://tools.wmflabs.org/bibleversefinder/?book=Luke&amp;verse=15:8%E2%80%939&amp;src=TNIV">Luke 15:8–9</a></td>
			</tr>
			<tr>
				<td>22</td>
				<td><a href="https://en.wikipedia.org/wiki/Parable_of_the_Prodigal_Son" title="Parable of the Prodigal Son">Parable of the Prodigal Son</a></td>
				<td></td>
				<td></td>
				<td><a href="http://tools.wmflabs.org/bibleversefinder/?book=Luke&amp;verse=15:11%E2%80%9332&amp;src=TNIV">Luke 15:11–32</a></td>
			</tr>
			<tr>
				<td>23</td>
				<td><a href="https://en.wikipedia.org/wiki/The_Unjust_Steward" title="The Unjust Steward">The Unjust Steward</a></td>
				<td></td>
				<td></td>
				<td><a href="http://tools.wmflabs.org/bibleversefinder/?book=Luke&amp;verse=16:1%E2%80%9313&amp;src=TNIV">Luke 16:1–13</a></td>
			</tr>
			<tr>
				<td>24</td>
				<td><a href="https://en.wikipedia.org/wiki/Rich_man_and_Lazarus" title="Rich man and Lazarus">Rich man and Lazarus</a></td>
				<td></td>
				<td></td>
				<td><a href="http://tools.wmflabs.org/bibleversefinder/?book=Luke&amp;verse=16:19%E2%80%9331&amp;src=TNIV">Luke 16:19–31</a></td>
			</tr>
			<tr>
				<td>25</td>
				<td><a href="https://en.wikipedia.org/wiki/The_Master_and_Servant" title="The Master and Servant">The Master and Servant</a></td>
				<td></td>
				<td></td>
				<td><a href="http://tools.wmflabs.org/bibleversefinder/?book=Luke&amp;verse=17:7%E2%80%9310&amp;src=TNIV">Luke 17:7–10</a></td>
			</tr>
			<tr>
				<td>26</td>
				<td><a href="https://en.wikipedia.org/wiki/The_Unjust_Judge" title="The Unjust Judge">The Unjust Judge</a></td>
				<td></td>
				<td></td>
				<td><a href="http://tools.wmflabs.org/bibleversefinder/?book=Luke&amp;verse=18:1%E2%80%938&amp;src=TNIV">Luke 18:1–8</a></td>
			</tr>
			<tr>
				<td>27</td>
				<td><a href="https://en.wikipedia.org/wiki/Pharisees_and_the_Publican" title="Pharisees and the Publican">Pharisees and the Publican</a></td>
				<td></td>
				<td></td>
				<td><a href="http://tools.wmflabs.org/bibleversefinder/?book=Luke&amp;verse=18:9%E2%80%9314&amp;src=TNIV">Luke 18:9–14</a></td>
			</tr>
			<tr>
				<td>28</td>
				<td><a href="https://en.wikipedia.org/wiki/Parable_of_the_Workers_in_the_Vineyard" title="Parable of the Workers in the Vineyard">The Workers in the Vineyard</a></td>
				<td><a href="http://tools.wmflabs.org/bibleversefinder/?book=Matthew&amp;verse=20:1%E2%80%9316&amp;src=TNIV">Matthew 20:1–16</a></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td>29</td>
				<td><a href="https://en.wikipedia.org/wiki/The_Two_Sons" title="The Two Sons">The Two Sons</a></td>
				<td><a href="http://tools.wmflabs.org/bibleversefinder/?book=Matthew&amp;verse=21:28%E2%80%9332&amp;src=TNIV">Matthew 21:28–32</a></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td>30</td>
				<td><a href="https://en.wikipedia.org/wiki/The_Wicked_Husbandmen" title="The Wicked Husbandmen">The Wicked Husbandmen</a></td>
				<td><a href="http://tools.wmflabs.org/bibleversefinder/?book=Matthew&amp;verse=21:33%E2%80%9341&amp;src=TNIV">Matthew 21:33–41</a></td>
				<td><a href="http://tools.wmflabs.org/bibleversefinder/?book=Mark&amp;verse=12:1%E2%80%939&amp;src=TNIV">Mark 12:1–9</a></td>
				<td><a href="http://tools.wmflabs.org/bibleversefinder/?book=Luke&amp;verse=20:9%E2%80%9316&amp;src=TNIV">Luke 20:9–16</a></td>
			</tr>
			<tr>
				<td>31</td>
				<td><a href="https://en.wikipedia.org/wiki/The_Great_Banquet" title="The Great Banquet">The Great Banquet</a></td>
				<td><a href="http://tools.wmflabs.org/bibleversefinder/?book=Matthew&amp;verse=22:1%E2%80%9314&amp;src=TNIV">Matthew 22:1–14</a></td>
				<td></td>
				<td><a href="http://tools.wmflabs.org/bibleversefinder/?book=Luke&amp;verse=14:15%E2%80%9324&amp;src=TNIV">Luke 14:15–24</a></td>
			</tr>
			<tr>
				<td>32</td>
				<td><a href="https://en.wikipedia.org/wiki/The_Budding_Fig_Tree" title="The Budding Fig Tree">The Budding Fig Tree</a></td>
				<td><a href="http://tools.wmflabs.org/bibleversefinder/?book=Matthew&amp;verse=24:32%E2%80%9335&amp;src=TNIV">Matthew 24:32–35</a></td>
				<td><a href="http://tools.wmflabs.org/bibleversefinder/?book=Mark&amp;verse=13:28%E2%80%9331&amp;src=TNIV">Mark 13:28–31</a></td>
				<td><a href="http://tools.wmflabs.org/bibleversefinder/?book=Luke&amp;verse=21:29%E2%80%9333&amp;src=TNIV">Luke 21:29–33</a></td>
			</tr>
			<tr>
				<td>33</td>
				<td><a href="https://en.wikipedia.org/wiki/The_Faithful_Servant" title="The Faithful Servant">The Faithful Servant</a></td>
				<td><a href="http://tools.wmflabs.org/bibleversefinder/?book=Matthew&amp;verse=24:42%E2%80%9351&amp;src=TNIV">Matthew 24:42–51</a></td>
				<td><a href="http://tools.wmflabs.org/bibleversefinder/?book=Mark&amp;verse=13:34%E2%80%9337&amp;src=TNIV">Mark 13:34–37</a></td>
				<td><a href="http://tools.wmflabs.org/bibleversefinder/?book=Luke&amp;verse=12:35%E2%80%9348&amp;src=TNIV">Luke 12:35–48</a></td>
			</tr>
			<tr>
				<td>34</td>
				<td><a href="https://en.wikipedia.org/wiki/The_Ten_Virgins" title="The Ten Virgins">The Ten Virgins</a></td>
				<td><a href="http://tools.wmflabs.org/bibleversefinder/?book=Matthew&amp;verse=25:1%E2%80%9313&amp;src=TNIV">Matthew 25:1–13</a></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td>35</td>
				<td><a href="https://en.wikipedia.org/wiki/The_Talents_or_Minas" title="The Talents or Minas">The Talents or Minas</a></td>
				<td><a href="http://tools.wmflabs.org/bibleversefinder/?book=Matthew&amp;verse=25:14%E2%80%9330&amp;src=TNIV">Matthew 25:14–30</a></td>
				<td></td>
				<td><a href="http://tools.wmflabs.org/bibleversefinder/?book=Luke&amp;verse=19:12%E2%80%9327&amp;src=TNIV">Luke 19:12–27</a></td>
			</tr>
			<tr>
				<td>36</td>
				<td><a href="https://en.wikipedia.org/wiki/The_Sheep_and_the_Goats" title="The Sheep and the Goats">The Sheep and the Goats</a></td>
				<td><a href="http://tools.wmflabs.org/bibleversefinder/?book=Matthew&amp;verse=25:31%E2%80%9346&amp;src=TNIV">Matthew 25:31–46</a></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td>37</td>
				<td><a href="https://en.wikipedia.org/wiki/Parable_of_the_Wedding_Feast" title="Parable of the Wedding Feast">Parable of the Wedding Feast</a></td>
				<td></td>
				<td></td>
				<td><a href="http://tools.wmflabs.org/bibleversefinder/?book=Luke&amp;verse=14:7%E2%80%9314&amp;src=TNIV">Luke 14:7–14</a></td>
			</tr>
		</tbody>

	</table>
</div>


@code {

}
