			@if (ShowAll)
			{
				<div class="table-responsive">
					<table class="table table-striped">
						<tbody>
							<tr>
								<th>#</th>
								<th><b>Killing Event</b></th>
								<th><b>Reference</b></th>
								<th><span class="pull-right"><b>Bible's Number</b></span></th>
								<th><span class="pull-right"><b>Estimate</b></span></th>
							</tr>
							<tr>
								<td>1</td>
								<td><a href="http://dwindlinginunbelief.blogspot.com/2009/01/gods-killings-1-all-flesh-died-that.html">The Flood of Noah</a></td>
								<td><a href="http://www.skepticsannotatedbible.com/gen/7.html#23">Gen 7:23</a></td>
								<td></td>
								<td><span class="pull-right">20,000,000</span></td>
							</tr>
							<tr>
								<td>2</td>
								<td><a href="http://dwindlinginunbelief.blogspot.com/2010/04/abrahams-war-to-rescue-lot.html">Abraham's war to rescue Lot</a></td>
								<td><a href="http://www.skepticsannotatedbible.com/gen/14.html#173">Gen 14:17-19</a></td>
								<td></td>
								<td><span class="pull-right">1,000</span></td>
							</tr>
							<tr>
								<td>3</td>
								<td><a href="http://dwindlinginunbelief.blogspot.com/2009/01/gods-killings-2-shall-i-hide-from.html">Sodom and Gomorrah</a></td>
								<td><a href="http://www.skepticsannotatedbible.com/gen/19.html#243">Gen 19:24</a></td>
								<td></td>
								<td><span class="pull-right">2,000</span></td>
							</tr>
							<tr>
								<td>4</td>
								<td><a href="http://dwindlinginunbelief.blogspot.com/2009/02/gods-third-killing-remember-lots-wife.html">Lot's wife</a></td>
								<td><a href="http://www.skepticsannotatedbible.com/gen/19.html#26">Gen 19:26</a></td>
								<td><span class="pull-right">1</span></td>
								<td><span class="pull-right">1</span></td>
							</tr>
							<tr>
								<td>5</td>
								<td><a href="http://dwindlinginunbelief.blogspot.com/2012/07/shechem-and-dinah-love-storymassacre.html">While they were sore, Dinah's brethren slew  all the males</a></td>
								<td><a href="http://www.skepticsannotatedbible.com/gen/34.html#1">Gen 34:1-31</a>, <a href="http://skepticsannotatedbible.com/apocrypha/Judith/9.html#2">Judith 9:2-3</a></td>
								<td><span class="pull-right">2</span></td>
								<td><span class="pull-right">1,000</span></td>
							</tr>
							<tr>
								<td>6</td>
								<td><a href="http://dwindlinginunbelief.blogspot.com/2009/02/gods-fourth-killing-er-was-wicked-in.html">Er for being wicked in the sight of the  Lord</a></td>
								<td><a href="http://skepticsannotatedbible.com/gen/38.html#7">Gen 38:7</a></td>
								<td><span class="pull-right">1</span></td>
								<td><span class="pull-right">1</span></td>
							</tr>
							<tr>
								<td>7</td>
								<td><a href="http://dwindlinginunbelief.blogspot.com/2009/02/gods-fifth-killing-onan-spilled-it-on.html">Onan for spilling his seed</a></td>
								<td><a href="http://skepticsannotatedbible.com/gen/38.html#10">Gen 38:10</a></td>
								<td><span class="pull-right">1</span></td>
								<td><span class="pull-right">1</span></td>
							</tr>
							<tr>
								<td>8</td>
								<td><a href="http://dwindlinginunbelief.blogspot.com/2009/03/back-to-genesis-gods-seven-year-world.html">A seven year worldwide famine</a></td>
								<td><a href="http://skepticsannotatedbible.com/gen/41.html#25">Gen 41:25-54</a></td>
								<td></td>
								<td><span class="pull-right">70,000</span></td>
							</tr>
							<tr>
								<td>9</td>
								<td><a href="http://dwindlinginunbelief.blogspot.com/2013/04/the-first-plague-of-egypt-god-forced.html">There will be blood: The first plague of  Egypt</a></td>
								<td><a href="http://skepticsannotatedbible.com/ex/7.html#15">Ex 7:15-27</a> , <a href="http://skepticsannotatedbible.com/apocrypha/wisdom/11.html#7">Wis 11:7-8</a></td>
								<td></td>
								<td><span class="pull-right">10,000</span></td>
							</tr>
							<tr>
								<td>10</td>
								<td><a href="http://dwindlinginunbelief.blogspot.com/2009/03/gods-7th-killing-hail-shall-come-down.html">The seventh plague: hail</a></td>
								<td><a href="http://skepticsannotatedbible.com/ex/9.html#25">Ex 9:25</a></td>
								<td></td>
								<td><span class="pull-right">300,000</span></td>
							</tr>
							<tr>
								<td>11</td>
								<td><a href="http://dwindlinginunbelief.blogspot.com/2009/04/gods-8th-killing-lord-smote-all.html">Firstborn Egyptian children</a></td>
								<td><a href="http://skepticsannotatedbible.com/ex/12.html#29">Ex 12:29-30</a></td>
								<td></td>
								<td><span class="pull-right">500,000</span></td>
							</tr>
							<tr>
								<td>12</td>
								<td><a href="http://dwindlinginunbelief.blogspot.com/2009/04/gods-9th-killing-lord-took-off-their.html">The Lord took off their chariot wheels</a></td>
								<td><a href="http://skepticsannotatedbible.com/ex/14.html#8">Ex 14:8-26</a></td>
								<td><span class="pull-right">600</span></td>
								<td><span class="pull-right">5,000</span></td>
							</tr>
							<tr>
								<td>13</td>
								<td><a href="http://dwindlinginunbelief.blogspot.com/2009/05/gods-10th-killing-lord-hath-sworn-that.html">Amalekites</a></td>
								<td><a href="http://skepticsannotatedbible.com/ex/17.html#13">Ex 17:13</a></td>
								<td></td>
								<td><span class="pull-right">1,000</span></td>
							</tr>
							<tr>
								<td>14</td>
								<td><a href="http://dwindlinginunbelief.blogspot.com/2009/05/gods-11th-killing-who-is-on-lords-side.html">Who is on the Lord's side?: Forcing friends  and family to kill each other</a></td>
								<td><a href="http://skepticsannotatedbible.com/ex/32.html#27">Ex 32:27-28</a></td>
								<td><span class="pull-right">3,000</span></td>
								<td><span class="pull-right">3,000</span></td>
							</tr>
							<tr>
								<td>15</td>
								<td><a href="http://dwindlinginunbelief.blogspot.com/2009/05/gods-12th-killing-lord-plagued-people.html">Aaron's golden calf</a></td>
								<td><a href="http://skepticsannotatedbible.com/ex/32.html#35">Ex 32:35</a></td>
								<td></td>
								<td><span class="pull-right">1,000</span></td>
							</tr>
							<tr>
								<td>16</td>
								<td><a href="http://dwindlinginunbelief.blogspot.com/2009/06/gods-13th-killing-god-burns-aarons-sons.html">God burns Aaron's sons to death for  offering "strange fire"</a></td>
								<td><a href="http://skepticsannotatedbible.com/lev/10.html#1">Lev 10:1-3</a></td>
								<td><span class="pull-right">2</span></td>
								<td><span class="pull-right">2</span></td>
							</tr>
							<tr>
								<td>17</td>
								<td><a href="http://dwindlinginunbelief.blogspot.com/2009/06/gods-14th-killing-jesus-fucking-christ.html">A blasphemer is stoned to death</a></td>
								<td><a href="http://skepticsannotatedbible.com/lev/24.html#10">Lev 24:10-23</a></td>
								<td><span class="pull-right">1</span></td>
								<td><span class="pull-right">1</span></td>
							</tr>
							<tr>
								<td>18</td>
								<td><a href="http://dwindlinginunbelief.blogspot.com/2009/06/gods-15th-killing-when-people.html">When the people complained, God burned them  to death</a></td>
								<td><a href="http://skepticsannotatedbible.com/num/11.html#1">Num 11:1</a></td>
								<td></td>
								<td><span class="pull-right">100</span></td>
							</tr>
							<tr>
								<td>19</td>
								<td><a href="http://dwindlinginunbelief.blogspot.com/2009/06/gods-16th-killing-while-flesh-was-still.html">While the flesh was still between their  teeth, the Lord smote them will a very great plague</a></td>
								<td><a href="http://skepticsannotatedbible.com/num/11.html#33">Num 11:33</a></td>
								<td></td>
								<td><span class="pull-right">10,000</span></td>
							</tr>
							<tr>
								<td>20</td>
								<td><a href="http://dwindlinginunbelief.blogspot.com/2009/07/gods-17th-killing-moses-talks-god-out.html">Ten scouts are killed for their honest  report</a></td>
								<td><a href="http://skepticsannotatedbible.com/num/14.html#35">Num 14:35-45</a></td>
								<td><span class="pull-right">10</span></td>
								<td><span class="pull-right">110</span></td>
							</tr>
							<tr>
								<td>21</td>
								<td><a href="http://dwindlinginunbelief.blogspot.com/2009/07/gods-18th-killing-man-gathering-sticks.html">A man gathering sticks on the Sabbath day  is stoned to death</a></td>
								<td><a href="http://skepticsannotatedbible.com/num/15.html#32">Num 15:32-35</a></td>
								<td><span class="pull-right">1</span></td>
								<td><span class="pull-right">1</span></td>
							</tr>
							<tr>
								<td>22</td>
								<td><a href="http://dwindlinginunbelief.blogspot.com/2009/07/gods-19th-killing-opposing-party-is.html">Korah, his companions, and their families  are buried alive</a></td>
								<td><a href="http://skepticsannotatedbible.com/num/16.html#27">Num 16:27</a></td>
								<td><span class="pull-right">3</span></td>
								<td><span class="pull-right">9</span></td>
							</tr>
							<tr>
								<td>23</td>
								<td><a href="http://dwindlinginunbelief.blogspot.com/2009/07/gods-20th-killing-250-burned-alived-for.html">God burns 250 people to death for burning  incense</a></td>
								<td><a href="http://skepticsannotatedbible.com/num/16.html#35">Num 16:35</a></td>
								<td><span class="pull-right">250</span></td>
								<td><span class="pull-right">250</span></td>
							</tr>
							<tr>
								<td>24</td>
								<td><a href="http://dwindlinginunbelief.blogspot.com/2009/07/gods-21th-killing-14700-killed-for.html">God kills 14,700 for complaining about  God's killings</a></td>
								<td><a href="http://skepticsannotatedbible.com/num/16.html#49">Num 16:49</a></td>
								<td><span class="pull-right">14,700</span></td>
								<td><span class="pull-right">14,700</span></td>
							</tr>
							<tr>
								<td>25</td>
								<td><a href="http://dwindlinginunbelief.blogspot.com/2009/07/gods-22nd-killing-massacre-of-aradites.html">The massacre of the Aradies</a></td>
								<td><a href="http://skepticsannotatedbible.com/num/21.html#1">Num 21:1-2</a></td>
								<td></td>
								<td><span class="pull-right">3,000</span></td>
							</tr>
							<tr>
								<td>26</td>
								<td><a href="http://dwindlinginunbelief.blogspot.com/2009/07/gods-23rd-killing-god-sends-fiery.html">God sent serpents to bite people for  complaining about the lack of food and water</a></td>
								<td><a href="http://skepticsannotatedbible.com/num/21.html#6">Num 21:6</a></td>
								<td></td>
								<td><span class="pull-right">100</span></td>
							</tr>
							<tr>
								<td>27</td>
								<td><a href="http://dwindlinginunbelief.blogspot.com/2009/07/gods-25th-killing-killing-to-end-gods.html">Phineas's double murder: A killing to end  God's killing</a></td>
								<td><a href="http://skepticsannotatedbible.com/num/25.html#1">Num 25:1-11</a></td>
								<td><span class="pull-right">24,002</span></td>
								<td><span class="pull-right">24,002</span></td>
							</tr>
							<tr>
								<td>28</td>
								<td><a href="http://dwindlinginunbelief.blogspot.com/2009/08/gods-27th-killing-have-ye-saved-all.html">The Midianite massacre: Have ye saved all  the women alive?</a></td>
								<td><a href="http://skepticsannotatedbible.com/num/31.html#1">Num 31:1-35</a></td>
								<td><span class="pull-right">6</span></td>
								<td><span class="pull-right">200,000</span></td>
							</tr>
							<tr>
								<td>29</td>
								<td><a href="http://dwindlinginunbelief.blogspot.com/2009/08/gods-28th-killing-god-slowly-kills.html">God slowly killed the Israelite army</a></td>
								<td><a href="http://skepticsannotatedbible.com/dt/2.html#14">Dt 2:14-16</a></td>
								<td></td>
								<td><span class="pull-right">500,000</span></td>
							</tr>
							<tr>
								<td>30</td>
								<td><a href="http://dwindlinginunbelief.blogspot.com/2009/08/gods-29th-killing-god-giant-killer.html">God the giant killer</a></td>
								<td><a href="http://skepticsannotatedbible.com/dt/2.html#21">Dt 2:21-22</a></td>
								<td></td>
								<td><span class="pull-right">5,000</span></td>
							</tr>
							<tr>
								<td>31</td>
								<td><a href="http://dwindlinginunbelief.blogspot.com/2009/08/gods-30th-killing-king-sihons-heart-is.html">God hardens King Sihon's heart so all his  people can be killed</a></td>
								<td><a href="http://skepticsannotatedbible.com/dt/2.html#23">Dt 2:33-34</a></td>
								<td><span class="pull-right">1</span></td>
								<td><span class="pull-right">5,000</span></td>
							</tr>
							<tr>
								<td>32</td>
								<td><a href="http://dwindlinginunbelief.blogspot.com/2009/08/gods-31st-killing-all-men-women-and.html">Og and all the men women, and children in  60 cities</a></td>
								<td><a href="http://skepticsannotatedbible.com/dt/3.html#6">Dt 3:6</a></td>
								<td><span class="pull-right">1</span></td>
								<td><span class="pull-right">60,000</span></td>
							</tr>
							<tr>
								<td>33</td>
								<td><a href="http://dwindlinginunbelief.blogspot.com/2009/09/gods-32nd-killing-jericho-massacre.html">The Jericho massacre</a></td>
								<td><a href="http://skepticsannotatedbible.com/jos/6.html#21">Jos 6:21</a></td>
								<td></td>
								<td><span class="pull-right">1,000</span></td>
							</tr>
							<tr>
								<td>34</td>
								<td><a href="http://dwindlinginunbelief.blogspot.com/2009/09/gods-33rd-killing-family-is-stoned-and.html">Achan and his family</a></td>
								<td><a href="http://skepticsannotatedbible.com/jos/7.html#20">Jos 7:10-26</a></td>
								<td><span class="pull-right">1</span></td>
								<td><span class="pull-right">5</span></td>
							</tr>
							<tr>
								<td>35</td>
								<td><a href="http://dwindlinginunbelief.blogspot.com/2009/09/gods-34th-killing-ai-massacre.html">The Ai massacre</a></td>
								<td><a href="http://skepticsannotatedbible.com/jos/8.html#1">Jos 8:1-25</a></td>
								<td><span class="pull-right">12,000</span></td>
								<td><span class="pull-right">12,000</span></td>
							</tr>
							<tr>
								<td>36</td>
								<td><a href="http://dwindlinginunbelief.blogspot.com/2009/09/gods-35th-killing-god-makes-sun-stand.html">God stops the sun so Joshua can get his  killing done in the daylight</a></td>
								<td><a href="http://skepticsannotatedbible.com/jos/10.html#10">Jos 10:10-11</a></td>
								<td></td>
								<td><span class="pull-right">5,000</span></td>
							</tr>
							<tr>
								<td>37</td>
								<td><a href="http://dwindlinginunbelief.blogspot.com/2009/09/gods-36th-killing-five-kings-killed-and.html">Five kings killed and hung on trees</a></td>
								<td><a href="http://skepticsannotatedbible.com/jos/10.html#26">Jos 10:26</a></td>
								<td><span class="pull-right">5</span></td>
								<td><span class="pull-right"></span>10,000</td>
							</tr>
							<tr>
								<td>38</td>
								<td><a href="http://dwindlinginunbelief.blogspot.com/2009/10/gods-37th-killing-joshua-utterly.html">Joshua utterly destroyed all that breathed  as the Lord commanded</a></td>
								<td><a href="http://skepticsannotatedbible.com/jos/10.html#28">Jos 10:28-42</a></td>
								<td><span class="pull-right"></span>7</td>
								<td><span class="pull-right"></span>7,000</td>
							</tr>
							<tr>
								<td>39</td>
								<td><a href="http://dwindlinginunbelief.blogspot.com/2009/10/gods-38th-killing-there-was-not-any.html">The genocide of twenty cities: There was  not any left to breathe</a></td>
								<td><a href="http://skepticsannotatedbible.com/jos/11.html#8">Jos 11:8-12</a></td>
								<td><span class="pull-right">2</span></td>
								<td><span class="pull-right"></span>20,000</td>
							</tr>
							<tr>
								<td>40</td>
								<td><a href="http://dwindlinginunbelief.blogspot.com/2009/10/gods-39th-killing-some-more-giant.html">The Anakim: some more giant killing</a></td>
								<td><a href="http://skepticsannotatedbible.com/jos/11.html#20">Jos 11:20-21</a></td>
								<td></td>
								<td><span class="pull-right">5,000</span></td>
							</tr>
							<tr>
								<td>41</td>
								<td><a href="http://dwindlinginunbelief.blogspot.com/2009/10/gods-40th-killing-lord-delivered.html">The Lord delivered the Canaanites and  Perizzites</a></td>
								<td><a href="http://skepticsannotatedbible.com/jg/1.html#4">Jg 1:4</a></td>
								<td><span class="pull-right"></span>10,000</td>
								<td><span class="pull-right"></span>10,000</td>
							</tr>
							<tr>
								<td>42</td>
								<td><a href="http://dwindlinginunbelief.blogspot.com/2009/10/gods-41st-killing-jerusalem-massacred.html">The Jerusalem massacre</a></td>
								<td><a href="http://skepticsannotatedbible.com/jg/1.html#8">Jg 1:8</a></td>
								<td></td>
								<td><span class="pull-right">1,000</span></td>
							</tr>
							<tr>
								<td>43</td>
								<td><a href="http://dwindlinginunbelief.blogspot.com/2009/10/gods-42nd-killing-four-massacres-and.html">Five massacres, a wedding, and God-proof  iron chariots</a></td>
								<td><a href="http://skepticsannotatedbible.com/jg/1.html#9">Jg 1:9-25</a></td>
								<td></td>
								<td><span class="pull-right">5,000</span></td>
							</tr>
							<tr>
								<td>44</td>
								<td><a href="http://dwindlinginunbelief.blogspot.com/2009/10/gods-43rd-killing-lord-delivered.html">The Lord delivered Chushanrishathaim</a></td>
								<td><a href="http://skepticsannotatedbible.com/jg/3.html#7">Jg 3:7-10</a></td>
								<td><span class="pull-right">1</span></td>
								<td><span class="pull-right">1,000</span></td>
							</tr>
							<tr>
								<td>45</td>
								<td><a href="http://dwindlinginunbelief.blogspot.com/2009/10/gods-44th-killing-ehud-delivers-message.html">Ehud delivers a message from God</a></td>
								<td><a href="http://skepticsannotatedbible.com/jg/3.html#15">Jg 3:15-22</a></td>
								<td><span class="pull-right">1</span></td>
								<td><span class="pull-right">1</span></td>
							</tr>
							<tr>
								<td>46</td>
								<td><a href="http://dwindlinginunbelief.blogspot.com/2009/10/gods-45th-killing-god-delivers-10000.html">God delivers 10,000 lusty Moabites</a></td>
								<td><a href="http://skepticsannotatedbible.com/jg/3.html#28">Jg 3:28-29</a></td>
								<td><span class="pull-right"></span>10,000</td>
								<td><span class="pull-right"></span>10,000</td>
							</tr>
							<tr>
								<td>47</td>
								<td><a href="http://dwindlinginunbelief.blogspot.com/2009/10/shamgar-killed-600-with-ox-goad-does.html">Shamgar killed 600 Philistines with an ox  goad</a></td>
								<td><a href="http://skepticsannotatedbible.com/jg/3.html#31">Jg 3:31</a></td>
								<td><span class="pull-right"></span>600</td>
								<td><span class="pull-right"></span>600</td>
							</tr>
							<tr>
								<td>48</td>
								<td><a href="http://dwindlinginunbelief.blogspot.com/2009/10/gods-46th-killing-barak-and-god.html">Barak and God massacre the Canaanites</a></td>
								<td><a href="http://skepticsannotatedbible.com/jg/4.html#15">Jg 4:15-16</a></td>
								<td></td>
								<td><span class="pull-right">1,000</span></td>
							</tr>
							<tr>
								<td>49</td>
								<td><a href="http://dwindlinginunbelief.blogspot.com/2009/10/gods-47th-killing-jael-pounds-tent.html">Jael pounds a tent stake through a sleeping  man's skull</a></td>
								<td><a href="http://skepticsannotatedbible.com/jg/4.html#18">Jg 4:18-22</a></td>
								<td><span class="pull-right">1</span></td>
								<td><span class="pull-right">1</span></td>
							</tr>
							<tr>
								<td>50</td>
								<td><a href="http://dwindlinginunbelief.blogspot.com/2009/10/gods-48th-killing-lord-set-every-mans.html">Gideon's story: The Lord set every man's  sword against his fellow</a></td>
								<td><a href="http://skepticsannotatedbible.com/jg/7.html#22">Jg 7:22</a></td>
								<td><span class="pull-right"></span>120,000</td>
								<td><span class="pull-right"></span>120,000</td>
							</tr>
							<tr>
								<td>51</td>
								<td><a href="http://dwindlinginunbelief.blogspot.com/2009/10/gods-49th-killing-city-is-massacred.html">A city is massacred and 1000 burn to death  because of God's evil spirit</a></td>
								<td><a href="http://skepticsannotatedbible.com/jg/9.html#23">Jg 9:23-27</a></td>
								<td><span class="pull-right"></span>1,001</td>
								<td><span class="pull-right">2,000</span></td>
							</tr>
							<tr>
								<td>52</td>
								<td><a href="http://dwindlinginunbelief.blogspot.com/2009/11/gods-50th-killing-amorite-massacre.html">The Ammonite massacre</a></td>
								<td><a href="http://skepticsannotatedbible.com/jg/11.html#32">Jg 11:32-33</a></td>
								<td></td>
								<td><span class="pull-right"></span>20,000</td>
							</tr>
							<tr>
								<td>53</td>
								<td><a href="http://dwindlinginunbelief.blogspot.com/2009/11/gods-50th-killing-jephthahs-daughter.html">Jephthah's daughter</a></td>
								<td><a href="http://skepticsannotatedbible.com/jg/11.html#39">Jg 11:39</a></td>
								<td><span class="pull-right">1</span></td>
								<td><span class="pull-right">1</span></td>
							</tr>
							<tr>
								<td>54</td>
								<td><a href="http://dwindlinginunbelief.blogspot.com/2010/04/42000-die-for-failing-shiboleth-test.html">42,000 die for failing the  "shibboleth" test</a></td>
								<td><a href="http://skepticsannotatedbible.com/jg/12.html#4">Jg 12:4-7</a></td>
								<td><span class="pull-right"></span>42,000</td>
								<td><span class="pull-right"></span>42,000</td>
							</tr>
							<tr height="17" style="height: 12.75pt; mso-height-source: userset; page-break-before: always;">
								<td>55</td>
								<td><a href="http://dwindlinginunbelief.blogspot.com/2009/11/gods-51st-killing-samsons-riddle-and.html">Samson murdered 30 men for their clothes</a></td>
								<td><a href="http://skepticsannotatedbible.com/jg/14.html#19">Jg 14:19</a></td>
								<td><span class="pull-right"></span>30</td>
								<td><span class="pull-right"></span>30</td>
							</tr>
							<tr>
								<td>56</td>
								<td><a href="http://dwindlinginunbelief.blogspot.com/2009/11/gods-52nd-killing-samson-kills-1000.html">Samson killed 1000 men with the jawbone of  an ass</a></td>
								<td><a href="http://skepticsannotatedbible.com/jg/15.html#14">Jg 15:14-15</a></td>
								<td><span class="pull-right">1,000</span></td>
								<td><span class="pull-right">1,000</span></td>
							</tr>
							<tr>
								<td>57</td>
								<td><a href="http://dwindlinginunbelief.blogspot.com/2009/11/gods-53rd-killing-samson-kills-3000-in.html">Samson killed 3000 in a suicide terrorist  attack</a></td>
								<td><a href="http://skepticsannotatedbible.com/jg/16.html#27">Jg 16:27-30</a></td>
								<td><span class="pull-right">3,000</span></td>
								<td><span class="pull-right">3,000</span></td>
							</tr>
							<tr>
								<td>58</td>
								<td><a href="http://dwindlinginunbelief.blogspot.com/2009/12/gods-54th-killing-god-smites-benjamites.html">A holy civil war (it had something to do  with rotting concubine body part messages)</a></td>
								<td><a href="http://skepticsannotatedbible.com/jg/20.html#35">Jg 20:35-37</a></td>
								<td><span class="pull-right"></span>65,100</td>
								<td><span class="pull-right"></span>65,100</td>
							</tr>
							<tr>
								<td>59</td>
								<td><a href="http://dwindlinginunbelief.blogspot.com/2009/12/end-of-judges.html">The end of Judges: two genocides and 200  stolen virgins</a></td>
								<td><a href="http://skepticsannotatedbible.com/jg/21.html#10">Jg 21:10-14</a></td>
								<td></td>
								<td><span class="pull-right"></span>4,000</td>
							</tr>
							<tr>
								<td>60</td>
								<td><a href="http://dwindlinginunbelief.blogspot.com/2009/12/gods-55th-killing-god-kills-elis-sons.html">God killed Eli's sons and 34,000 Israelite  soldiers</a></td>
								<td><a href="http://skepticsannotatedbible.com/1sam/2.html#4">1 Sam 2:25, 4:11</a></td>
								<td><span class="pull-right"></span>34,002</td>
								<td><span class="pull-right"></span>34,002</td>
							</tr>
							<tr>
								<td>61</td>
								<td><a href="http://dwindlinginunbelief.blogspot.com/2009/12/gods-55th-killing-god-smote-them-with.html">God smote them with hemorrhoids in their  secret parts</a></td>
								<td><a href="http://skepticsannotatedbible.com/1sam/5.html#1">1 Sam 5:1-12</a></td>
								<td></td>
								<td><span class="pull-right">3,000</span></td>
							</tr>
							<tr>
								<td>62</td>
								<td><a href="http://dwindlinginunbelief.blogspot.com/2009/12/gods-56th-killing-50070-killed-for.html">50,070 killed for looking into the ark of  the Lord</a></td>
								<td><a href="http://skepticsannotatedbible.com/1sam/6.html#9">1 Sam 6:19</a></td>
								<td><span class="pull-right"></span>50,070</td>
								<td><span class="pull-right"></span>50,070</td>
							</tr>
							<tr>
								<td>63</td>
								<td><a href="http://dwindlinginunbelief.blogspot.com/2009/12/gods-58th-killing-lord-thundered-with.html">The Lord thundered a great thunder upon the  Philistines</a></td>
								<td><a href="http://skepticsannotatedbible.com/1sam/7.html#10">1 Sam 7:10-11</a></td>
								<td></td>
								<td><span class="pull-right">1,000</span></td>
							</tr>
							<tr>
								<td>64</td>
								<td><a href="http://dwindlinginunbelief.blogspot.com/2009/12/gods-59th-killing-ammonite-massacre-and.html">Another Ammonite massacre (and&nbsp;another&nbsp;God-inspired body part message)</a></td>
								<td><a href="http://skepticsannotatedbible.com/1sam/11.html#6">1 Sam 11:6-13</a></td>
								<td></td>
								<td><span class="pull-right">1,000</span></td>
							</tr>
							<tr>
								<td>65</td>
								<td><a href="http://dwindlinginunbelief.blogspot.com/2009/12/gods-60th-killing-johathans-very-first.html">Jonathan's first slaughter</a></td>
								<td><a href="http://skepticsannotatedbible.com/1sam/14.html#12">1 Sam 14:12-14</a></td>
								<td><span class="pull-right"></span>20</td>
								<td><span class="pull-right"></span>20</td>
							</tr>
							<tr>
								<td>66</td>
								<td><a href="http://dwindlinginunbelief.blogspot.com/2009/12/gods-62nd-killing-god-forces.html">God forces the Philistines to kill each  other</a></td>
								<td><a href="http://skepticsannotatedbible.com/1sam/14.html#20">1 Sam 14:20</a></td>
								<td></td>
								<td><span class="pull-right">1,000</span></td>
							</tr>
							<tr>
								<td>67</td>
								<td><a href="http://dwindlinginunbelief.blogspot.com/2010/01/gods-63rd-killing-amalekite-genocide.html">The Amalekite genocide</a></td>
								<td><a href="http://skepticsannotatedbible.com/1sam/15.html#2">1 Sam&nbsp; 15:2-3</a></td>
								<td></td>
								<td><span class="pull-right"></span>10,000</td>
							</tr>
							<tr>
								<td>68</td>
								<td><a href="http://dwindlinginunbelief.blogspot.com/2010/01/gods-64th-killing-samuel-hacks-agag-to.html">Samuel hacks Agag to death before the Lord</a></td>
								<td><a href="http://skepticsannotatedbible.com/1sam/15.html#32">1 Sam 15:32-33</a></td>
								<td><span class="pull-right">1</span></td>
								<td><span class="pull-right">1</span></td>
							</tr>
							<tr>
								<td>69</td>
								<td><a href="http://dwindlinginunbelief.blogspot.com/2010/08/in-valley-of-ellah-goliath.html">In the valley of Elah: Goliath</a></td>
								<td><a href="http://skepticsannotatedbible.com/1sam/17.html#51">1 Sam 17:51</a>, <a href="http://skepticsannotatedbible.com/2sam/21.html#19">2 Sam 21:19</a></td>
								<td><span class="pull-right">1</span></td>
								<td><span class="pull-right">1</span></td>
							</tr>
							<tr>
								<td>70</td>
								<td><a href="http://dwindlinginunbelief.blogspot.com/2010/01/david-buys-his-first-wife-with-200.html">David buys a wife with 200 Philistine  foreskins</a></td>
								<td><a href="http://skepticsannotatedbible.com/1sam/18.html#27">1 Sam&nbsp; 18:27</a></td>
								<td><span class="pull-right"></span>200</td>
								<td><span class="pull-right"></span>200</td>
							</tr>
							<tr>
								<td>71</td>
								<td><a href="http://dwindlinginunbelief.blogspot.com/2010/01/gods-65th-killing-lord-said-unto-david.html">The Lord said to David, Go and smite the  Philistines</a></td>
								<td><a href="http://skepticsannotatedbible.com/1sam/23.html#2">1 Sam 23:2-5</a></td>
								<td></td>
								<td><span class="pull-right"></span>10,000</td>
							</tr>
							<tr>
								<td>72</td>
								<td><a href="http://dwindlinginunbelief.blogspot.com/2010/01/gods-66th-killing-god-killed-nabal-and.html">God killed Nabal (and David got his wife  and other stuff)</a></td>
								<td><a href="http://skepticsannotatedbible.com/1sam/25.html#38">1 Sam 25:38</a></td>
								<td><span class="pull-right">1</span></td>
								<td><span class="pull-right">1</span></td>
							</tr>
							<tr>
								<td>73</td>
								<td><a href="http://dwindlinginunbelief.blogspot.com/2010/01/and-david-smote-land-and-left-neither.html">David commits random acts of genocide for  the Philistines</a></td>
								<td><a href="http://skepticsannotatedbible.com/1sam/27.html#8">1 Sam 27:8-11</a></td>
								<td></td>
								<td><span class="pull-right"></span>60,000</td>
							</tr>
							<tr>
								<td>74</td>
								<td><a href="http://dwindlinginunbelief.blogspot.com/2010/01/gods-67th-killing-david-spends-day.html">David spends the day killing Amalekites</a></td>
								<td><a href="http://skepticsannotatedbible.com/1sam/30.html#17">1 Sam 30:17</a></td>
								<td></td>
								<td><span class="pull-right">1,000</span></td>
							</tr>
							<tr>
								<td>75</td>
								<td><a href="http://dwindlinginunbelief.blogspot.com/2010/01/gods-68th-and-69th-killings-god-kills.html">God kills Saul, his sons, and his soldiers  (because Saul didn't kill all the Amalekites)</a></td>
								<td><a href="http://skepticsannotatedbible.com/1sam/31.html#2">1 Sam 31:2</a>, <a href="http://skepticsannotatedbible.com/2chr/10.html#6">2 Chr 10:6</a></td>
								<td><span class="pull-right">4</span></td>
								<td><span class="pull-right"></span>100</td>
							</tr>
							<tr>
								<td>76</td>
								<td><a href="http://dwindlinginunbelief.blogspot.com/2010/01/david-killed-amalekite-messenger-and.html">David kills the messenger</a></td>
								<td><a href="http://skepticsannotatedbible.com/2sam/1.html#15">2 Sam 1:15</a></td>
								<td><span class="pull-right">1</span></td>
								<td><span class="pull-right">1</span></td>
							</tr>
							<tr>
								<td>77</td>
								<td><a href="http://dwindlinginunbelief.blogspot.com/2010/04/david-killed-rechab-and-baanah-cut-off.html">David killed, mutilated, and hung Rechab  and Baanah</a></td>
								<td><a href="http://skepticsannotatedbible.com/2sam/4.html#12">2 Sam 4:12</a></td>
								<td><span class="pull-right">2</span></td>
								<td><span class="pull-right">2</span></td>
							</tr>
							<tr>
								<td>78</td>
								<td><a href="http://dwindlinginunbelief.blogspot.com/2010/02/gods-70th-and-71st-killings-god-helps.html">God helps David smite the Philistines from  the front and the rear</a></td>
								<td><a href="http://skepticsannotatedbible.com/2sam/5.html#19">2 Sam 5:19-25</a></td>
								<td></td>
								<td><span class="pull-right">2,000</span></td>
							</tr>
							<tr>
								<td>79</td>
								<td><a href="http://dwindlinginunbelief.blogspot.com/2010/02/gods-72nd-killing-god-kills-uzzah-for.html">God killed Uzzah for trying to keep the ark  from falling</a></td>
								<td><a href="http://skepticsannotatedbible.com/2sam/6.html#6">2 Sam 6:6-7</a>, <a href="http://skepticsannotatedbible.com/1chr/13.html#9">1 Chr 13:9-10</a></td>
								<td><span class="pull-right">1</span></td>
								<td><span class="pull-right">1</span></td>
							</tr>
							<tr>
								<td>80</td>
								<td><a href="http://dwindlinginunbelief.blogspot.com/2010/04/how-should-prisoners-of-war-be-treated.html">David killed two-thirds of the Moabite POWs  and enslaved the rest</a></td>
								<td><a href="http://skepticsannotatedbible.com/2sam/8.html#2">2 Sam 8:2</a></td>
								<td></td>
								<td><span class="pull-right"></span>667</td>
							</tr>
							<tr>
								<td>81</td>
								<td><a href="http://dwindlinginunbelief.blogspot.com/2010/04/lord-gave-david-victory-wherever-he.html">And the Lord gave David victory wherever he  went</a></td>
								<td><a href="http://skepticsannotatedbible.com/2sam/8.html">2 Sam 8</a> - <a href="http://skepticsannotatedbible.com/2sam/10.html">10</a></td>
								<td><span class="pull-right"></span>65,850</td>
								<td><span class="pull-right"></span>66,850</td>
							</tr>
							<tr>
								<td>82</td>
								<td><a href="http://dwindlinginunbelief.blogspot.com/2010/04/david-abishai-or-joab-killed-18000-or.html">David killed every male in Edom</a></td>
								<td><a href="http://skepticsannotatedbible.com/2sam/8.html#13">2 Sam 8:13-14</a>, <a href="http://skepticsannotatedbible.com/1kg/11.html#15">1 Kg 11:15-16</a>, <a href="http://skepticsannotatedbible.com/1chr/18.html#12">1 Chr 18:12</a>, <a href="http://skepticsannotatedbible.com/ps/60.html#1">Ps 60:1</a></td>
								<td><span class="pull-right"></span>15,000</td>
								<td><span class="pull-right"></span>25,000</td>
							</tr>
							<tr>
								<td>83</td>
								<td><a href="http://dwindlinginunbelief.blogspot.com/2010/05/thus-david-did-to-all-children-of-ammon.html">Thus did David do to all the children of  Ammon</a></td>
								<td><a href="http://skepticsannotatedbible.com/2sam/11.html#1">2 Sam 11:1</a>, <a href="http://skepticsannotatedbible.com/1chr/20.html#1">1 Chr 20:1</a></td>
								<td></td>
								<td><span class="pull-right">1,000</span></td>
							</tr>
							<tr>
								<td>84</td>
								<td><a href="http://dwindlinginunbelief.blogspot.com/2010/02/gods-73rd-killing-god-slowly-kills-baby.html">God slowly kills a baby</a></td>
								<td><a href="http://skepticsannotatedbible.com/2sam/12.html#14">2 Sam 12:14-18</a></td>
								<td><span class="pull-right">1</span></td>
								<td><span class="pull-right">1</span></td>
							</tr>
							<tr>
								<td>85</td>
								<td><a href="http://dwindlinginunbelief.blogspot.com/2010/02/gods-74th-and-75th-killings-famine-and.html">Seven sons of Saul are hung up before the  Lord</a></td>
								<td><a href="http://skepticsannotatedbible.com/2sam/21.html#1">2 Sam 21:1-9</a></td>
								<td><span class="pull-right"></span>7</td>
								<td><span class="pull-right">3,000</span></td>
							</tr>
							<tr>
								<td>86</td>
								<td><a href="http://dwindlinginunbelief.blogspot.com/2010/02/davids-mighty-men.html">David's mighty men and their amazing  killings</a></td>
								<td><a href="http://skepticsannotatedbible.com/2sam/23.html">2 Sam 23</a>, <a href="http://skepticsannotatedbible.com/1chr/11.html">1 Chr 11</a></td>
								<td><span class="pull-right"></span>1,403</td>
								<td><span class="pull-right"></span>3,400</td>
							</tr>
							<tr>
								<td>87</td>
								<td><a href="http://dwindlinginunbelief.blogspot.com/2010/02/gods-76th-killing-god-kills-couple.html">God killed 70,000 because of David had a  census that God (or Satan) told him to do</a></td>
								<td><a href="http://skepticsannotatedbible.com/2sam/24.html#15">2 Sam 24:15</a>, <a href="http://skepticsannotatedbible.com/1chr/21.html#14">1 Chr 21:14</a></td>
								<td><span class="pull-right"></span>70,000</td>
								<td><span class="pull-right"></span>200,000</td>
							</tr>
							<tr>
								<td>88</td>
								<td><a href="http://dwindlinginunbelief.blogspot.com/2010/02/solomon-carries-out-deathbed-wish-of.html">Solomon murdered Job and Shimei (per  David's deathbed wish)</a></td>
								<td><a href="http://skepticsannotatedbible.com/1kg/2.html#29">1 Kg 2:29-46</a></td>
								<td><span class="pull-right">2</span></td>
								<td><span class="pull-right">2</span></td>
							</tr>
							<tr>
								<td>89</td>
								<td><a href="http://dwindlinginunbelief.blogspot.com/2010/02/gods-77th-killing-tale-of-two-prophets.html">A tale of two prophets</a></td>
								<td><a href="http://skepticsannotatedbible.com/1kg/13.html#11">1 Kg 13:11-24</a></td>
								<td><span class="pull-right">1</span></td>
								<td><span class="pull-right">1</span></td>
							</tr>
							<tr>
								<td>90</td>
								<td><a href="http://dwindlinginunbelief.blogspot.com/2010/02/gods-78th-killing-god-kills-another.html">Jeroboam's son: God kills another child</a></td>
								<td><a href="http://skepticsannotatedbible.com/1kg/14.html#17">1 Kg 14:17</a></td>
								<td><span class="pull-right">1</span></td>
								<td><span class="pull-right">1</span></td>
							</tr>
							<tr>
								<td>91</td>
								<td><a href="http://dwindlinginunbelief.blogspot.com/2012/07/jeroboams-family.html">Jeroboam's family</a></td>
								<td><a href="http://skepticsannotatedbible.com/1kg/15.html#29">1 Kg 15:29</a></td>
								<td></td>
								<td><span class="pull-right"></span>10</td>
							</tr>
							<tr>
								<td>92</td>
								<td><a href="http://dwindlinginunbelief.blogspot.com/2010/02/gods-80th-killing-god-kills-another.html">Baasha's family and friends</a></td>
								<td><a href="http://skepticsannotatedbible.com/1kg/16.html#11">1 Kg 16:11-12</a></td>
								<td></td>
								<td><span class="pull-right"></span>20</td>
							</tr>
							<tr>
								<td>93</td>
								<td><a href="http://dwindlinginunbelief.blogspot.com/2012/07/zimri-burns-to-death.html">Zimri burns to death</a></td>
								<td><a href="http://skepticsannotatedbible.com/1kg/16.html#18">1 Kg 16:18-19</a></td>
								<td><span class="pull-right">1</span></td>
								<td><span class="pull-right">1</span></td>
							</tr>
							<tr>
								<td>94</td>
								<td><a href="http://dwindlinginunbelief.blogspot.com/2010/08/drought-of-elijah.html">The drought of Elijah</a></td>
								<td><a href="http://skepticsannotatedbible.com/1kg/17.html#1">1 Kg 17:1</a>, <a href="http://skepticsannotatedbible.com/lk/4.html#25">Luke 4:25</a>, <a href="http://skepticsannotatedbible.com/jas/5.html#17">James 5:17-18</a></td>
								<td></td>
								<td><span class="pull-right">3,000</span></td>
							</tr>
							<tr>
								<td>95</td>
								<td><a href="http://dwindlinginunbelief.blogspot.com/2010/02/450-religious-leaders-killed-in-prayer.html">Elijah kills 450 religious leaders in a  prayer contest</a></td>
								<td><a href="http://skepticsannotatedbible.com/1kg/18.html#22">1 Kg 18:22-40</a></td>
								<td><span class="pull-right"></span>450</td>
								<td><span class="pull-right"></span>450</td>
							</tr>
							<tr>
								<td>96</td>
								<td><a href="http://dwindlinginunbelief.blogspot.com/2010/02/gods-81st-killing-first-god-asisted.html">The first God-assisted slaughter of the  Syrians</a></td>
								<td><a href="http://skepticsannotatedbible.com/1kg/20.html#20">1 Kg 20:20-21</a></td>
								<td></td>
								<td><span class="pull-right"></span>10,000</td>
							</tr>
							<tr>
								<td>97</td>
								<td><a href="http://dwindlinginunbelief.blogspot.com/2010/02/gods-81st-and-82nd-killings-god-kills.html">God killed 100,000 Syrians for calling him  a god of the hills</a></td>
								<td><a href="http://skepticsannotatedbible.com/1kg/20.html#28">1 Kg 20:28-29</a></td>
								<td><span class="pull-right"></span>100,000</td>
								<td><span class="pull-right"></span>100,000</td>
							</tr>
							<tr>
								<td>98</td>
								<td><a href="http://dwindlinginunbelief.blogspot.com/2010/02/gods-83rd-killing-god-killed-27000.html">God killed 27,000 Syrians by making a wall  fall on them</a></td>
								<td><a href="http://skepticsannotatedbible.com/1kg/20.html#30">1 Kg 20:30</a></td>
								<td><span class="pull-right"></span>27,000</td>
								<td><span class="pull-right"></span>27,000</td>
							</tr>
							<tr>
								<td>99</td>
								<td><a href="http://dwindlinginunbelief.blogspot.com/2010/02/gods-84th-killing-god-sent-lion-to-kill.html">God sent a lion to kill a man for not  smiting a prophet</a></td>
								<td><a href="http://skepticsannotatedbible.com/1kg/20.html#35">1 Kg 20:35-36</a></td>
								<td><span class="pull-right">1</span></td>
								<td><span class="pull-right">1</span></td>
							</tr>
							<tr>
								<td>100</td>
								<td><a href="http://dwindlinginunbelief.blogspot.com/2010/02/gods-85th-killing-god-kills-ahab-for.html">God killed Ahab for not killing a captured  king</a></td>
								<td><a href="http://skepticsannotatedbible.com/1kg/20.html#42">1 Kg 20:42</a>, <a href="http://skepticsannotatedbible.com/1kg/22.html#35">22:35</a></td>
								<td><span class="pull-right">1</span></td>
								<td><span class="pull-right">1</span></td>
							</tr>
							<tr>
								<td>101</td>
								<td><a href="http://dwindlinginunbelief.blogspot.com/2010/02/gods-86th-killing-god-kills-102-men-for.html">God burned 102 men to death for asking  Elijah to come down from his hill</a></td>
								<td><a href="http://skepticsannotatedbible.com/2kg/1.html#10">2 Kg 1:10-12</a></td>
								<td><span class="pull-right"></span>102</td>
								<td><span class="pull-right"></span>102</td>
							</tr>
							<tr>
								<td>102</td>
								<td><a href="http://dwindlinginunbelief.blogspot.com/2010/02/gods-87th-killing-god-kills-king.html">God killed Ahaziah for asking the wrong God</a></td>
								<td><a href="http://skepticsannotatedbible.com/2kg/1.html#16">2 Kg 1:16-17</a>, <a href="http://skepticsannotatedbible.com/2chr/22.html#7">2 Chr 22:7-9</a></td>
								<td><span class="pull-right">1</span></td>
								<td><span class="pull-right">1</span></td>
							</tr>
							<tr>
								<td>103</td>
								<td><a href="http://dwindlinginunbelief.blogspot.com/2010/02/gods-88th-killing-god-sends-two-bears.html">God sent bears to kill 42 boys for making  fun of a prophet's bald head</a></td>
								<td><a href="http://skepticsannotatedbible.com/2kg/2.html#23">2 Kg 2:23-24</a></td>
								<td><span class="pull-right"></span>42</td>
								<td><span class="pull-right"></span>42</td>
							</tr>
							<tr>
								<td>104</td>
								<td><a href="http://dwindlinginunbelief.blogspot.com/2010/02/gods-89th-killing-lord-delivers.html">The Lord delivered the Moabites</a></td>
								<td><a href="http://skepticsannotatedbible.com/2kg/3.html#18">2 Kg 3:18-25</a></td>
								<td></td>
								<td><span class="pull-right">5,000</span></td>
							</tr>
							<tr>
								<td>105</td>
								<td><a href="http://dwindlinginunbelief.blogspot.com/2010/02/skeptic-is-trampled-to-death.html">A skeptic is trampled to death</a></td>
								<td><a href="http://skepticsannotatedbible.com/2kg/7.html#2">2 Kg 7:2-20</a></td>
								<td><span class="pull-right">1</span></td>
								<td><span class="pull-right">1</span></td>
							</tr>
							<tr>
								<td>106</td>
								<td><a href="http://dwindlinginunbelief.blogspot.com/2010/02/gods-91st-killing-god-calls-for-seven.html">God's seven year famine</a></td>
								<td><a href="http://skepticsannotatedbible.com/2kg/8.html#1">2 Kg 8:1</a></td>
								<td></td>
								<td><span class="pull-right"></span>7,000</td>
							</tr>
							<tr>
								<td>107</td>
								<td><a href="http://dwindlinginunbelief.blogspot.com/2010/02/gods-92nd-killing-god-kills-ahabs-son.html">Jehoram of Israel</a></td>
								<td><a href="http://skepticsannotatedbible.com/2kg/9.html#24">2 Kg 9:24</a></td>
								<td><span class="pull-right">1</span></td>
								<td><span class="pull-right">1</span></td>
							</tr>
							<tr>
								<td>108</td>
								<td><a href="http://dwindlinginunbelief.blogspot.com/2010/02/gods-93rd-killing-jezebel.html">Jezebel</a></td>
								<td><a href="http://skepticsannotatedbible.com/2kg/9.html#33">2 Kg 9:33-37</a></td>
								<td><span class="pull-right">1</span></td>
								<td><span class="pull-right">1</span></td>
							</tr>
							<tr>
								<td>109</td>
								<td><a href="http://dwindlinginunbelief.blogspot.com/2010/02/gods-94th-killing.html">Ahab's sons: 70 heads in two baskets</a></td>
								<td><a href="http://skepticsannotatedbible.com/2kg/10.html#6">2 Kg 10:6-10</a></td>
								<td><span class="pull-right"></span>70</td>
								<td><span class="pull-right"></span>70</td>
							</tr>
							<tr>
								<td>110</td>
								<td><a href="http://dwindlinginunbelief.blogspot.com/2010/02/gods-95th-killing-ahabs-family-friends.html">Ahab's hometown family, friends, and  priests</a></td>
								<td><a href="http://skepticsannotatedbible.com/2kg/10.html#11">2 Kg 10:11</a></td>
								<td></td>
								<td><span class="pull-right"></span>20</td>
							</tr>
							<tr>
								<td>111</td>
								<td><a href="http://dwindlinginunbelief.blogspot.com/2010/02/jehu-killed-42-of-ahaziahs-family-and.html">Jehu killed Ahaziah's family</a></td>
								<td><a href="http://skepticsannotatedbible.com/2kg/10.html#12">2 Kg 10:12-13</a>, <a href="http://skepticsannotatedbible.com/2chr/22.html#7">2 Chr 22:7-9</a></td>
								<td><span class="pull-right"></span>42</td>
								<td><span class="pull-right"></span>42</td>
							</tr>
							<tr>
								<td>112</td>
								<td><a href="http://dwindlinginunbelief.blogspot.com/2010/02/gods-96th-killing-jehu-and-his-partner.html">Jehu and his partner kill the rest of  Ahab's family</a></td>
								<td><a href="http://skepticsannotatedbible.com/2kg/10.html#17">2 Kg 10:17</a></td>
								<td></td>
								<td><span class="pull-right"></span>20</td>
							</tr>
							<tr>
								<td>113</td>
								<td><a href="http://dwindlinginunbelief.blogspot.com/2010/02/jehu-assembled-followers-of-baal-and.html">Jehu assembled the followers of Baal and  then slaughtered them all</a></td>
								<td><a href="http://skepticsannotatedbible.com/2kg/10.html#18">2 Kg 10:18-25</a></td>
								<td></td>
								<td><span class="pull-right">1,000</span></td>
							</tr>
							<tr>
								<td>114</td>
								<td><a href="http://dwindlinginunbelief.blogspot.com/2010/03/priests-of-baal-and-queen-athaliah.html">Mattan the priest of Baal and Queen  Athaliah</a></td>
								<td><a href="http://skepticsannotatedbible.com/2kg/11.html#17">2 Kg 11:17-20</a></td>
								<td><span class="pull-right">2</span></td>
								<td><span class="pull-right">2</span></td>
							</tr>
							<tr>
								<td>115</td>
								<td><a href="http://dwindlinginunbelief.blogspot.com/2010/03/gods-97th-killing-god-sent-lions-to.html">God sent lions to eat those who didn't fear  him enough</a></td>
								<td><a href="http://skepticsannotatedbible.com/2kg/17.html#25">2 Kg 17:25-26</a></td>
								<td></td>
								<td><span class="pull-right"></span>10</td>
							</tr>
							<tr>
								<td>116</td>
								<td><a href="http://dwindlinginunbelief.blogspot.com/2010/03/gods-98th-killing-angel-killed-185000.html">An angel killed 185,000 sleeping soldiers</a></td>
								<td><a href="http://skepticsannotatedbible.com/2kg/19.html#34">2 Kg 19:34</a>, <a href="http://skepticsannotatedbible.com/2kg/37.html#36">37:36</a></td>
								<td><span class="pull-right"></span>185,000</td>
								<td><span class="pull-right"></span>185,000</td>
							</tr>
							<tr>
								<td>117</td>
								<td><a href="http://dwindlinginunbelief.blogspot.com/2010/03/gods-99th-killing-god-caused-king.html">God caused King Sennacherib to be killed by  his sons</a></td>
								<td><a href="http://skepticsannotatedbible.com/2kg/19.html#37">2 Kg 19:37</a>, <a href="http://skepticsannotatedbible.com/apocrypha/tobit/1.html#21">Tobit 1:21</a></td>
								<td><span class="pull-right">1</span></td>
								<td><span class="pull-right">1</span></td>
							</tr>
							<tr>
								<td>118</td>
								<td><a href="http://dwindlinginunbelief.blogspot.com/2010/02/josiah-killed-all-priests-of-high.html">Josiah killed all the priests of the high  places</a></td>
								<td><a href="http://skepticsannotatedbible.com/2kg/23.html#20">2 Kg 23:20</a></td>
								<td></td>
								<td><span class="pull-right"></span>100</td>
							</tr>
							<tr>
								<td>119</td>
								<td><a href="http://dwindlinginunbelief.blogspot.com/2010/03/gods-100th-killing-just-another-holy.html">Just another holy war</a></td>
								<td><a href="http://skepticsannotatedbible.com/1chr/5.html#18">1 Chr 5:18-22</a></td>
								<td></td>
								<td><span class="pull-right"></span>50,000</td>
							</tr>
							<tr>
								<td>120</td>
								<td><a href="http://dwindlinginunbelief.blogspot.com/2010/03/gods-101st-killing-half-million.html">God killed a half million Israelite  soldiers</a></td>
								<td><a href="http://skepticsannotatedbible.com/2chr/13.html#17">2 Chr 13:17-18</a></td>
								<td><span class="pull-right"></span>500,000</td>
								<td><span class="pull-right"></span>500,000</td>
							</tr>
							<tr>
								<td>121</td>
								<td><a href="http://dwindlinginunbelief.blogspot.com/2010/03/gods-102nd-killing-jeroboam.html">Jeroboam</a></td>
								<td><a href="http://skepticsannotatedbible.com/2chr/13.html#20">2 Chr 13:20</a></td>
								<td><span class="pull-right">1</span></td>
								<td><span class="pull-right">1</span></td>
							</tr>
							<tr>
								<td>122</td>
								<td><a href="http://dwindlinginunbelief.blogspot.com/2010/03/gods-102nd-killing-god-killed-one.html">God killed a million Ethiopians</a></td>
								<td><a href="http://skepticsannotatedbible.com/2chr/14.html#9">2 Chr 14:9-14</a></td>
								<td><span class="pull-right"></span>1,000,000</td>
								<td><span class="pull-right"></span>1,000,000</td>
							</tr>
							<tr>
								<td>123</td>
								<td><a href="http://dwindlinginunbelief.blogspot.com/2010/03/gods-104th-killing-god-forces-opposing.html">Friendly fire: God forced "a great  multitude" to kill each other</a></td>
								<td><a href="http://skepticsannotatedbible.com/2chr/20.html#22">2 Chr 20:22-25</a></td>
								<td></td>
								<td><span class="pull-right"></span>30,000</td>
							</tr>
							<tr>
								<td>124</td>
								<td><a href="http://dwindlinginunbelief.blogspot.com/2010/03/gods-104th-killing-god-made-jehorams.html">God made Jehoram's bowels fall out</a></td>
								<td><a href="http://skepticsannotatedbible.com/2chr/21.html#14">2 Chr 21:14-19</a></td>
								<td><span class="pull-right">1</span></td>
								<td><span class="pull-right">1</span></td>
							</tr>
							<tr>
								<td>125</td>
								<td><a href="http://dwindlinginunbelief.blogspot.com/2010/03/gods-105th-killing-god-kills-jehorams.html">God killed Jehoram's sons</a></td>
								<td><a href="http://skepticsannotatedbible.com/2chr/22.html#1">2 Chr 22:1</a></td>
								<td></td>
								<td><span class="pull-right">3</span></td>
							</tr>
							<tr>
								<td>126</td>
								<td><a href="http://dwindlinginunbelief.blogspot.com/2010/04/confusing-life-and-death-of-ahaziah-of.html">Ahaziah of Judah</a></td>
								<td><a href="http://skepticsannotatedbible.com/2chr/22.html#7">2 Chr 22:7-8</a></td>
								<td><span class="pull-right">1</span></td>
								<td><span class="pull-right">1</span></td>
							</tr>
							<tr>
								<td>127</td>
								<td><a href="http://dwindlinginunbelief.blogspot.com/2010/03/gods-106th-killing-joash-princes-of.html">Joash, the princes, and army of Judah</a></td>
								<td><a href="http://skepticsannotatedbible.com/2chr/24.html#20">2 Chr 24:20-25</a></td>
								<td><span class="pull-right">1</span></td>
								<td><span class="pull-right"></span>10,000</td>
							</tr>
							<tr>
								<td>128</td>
								<td><a href="http://dwindlinginunbelief.blogspot.com/2010/03/did-god-kill-amaziah.html">God destroyed Amaziah</a></td>
								<td><a href="http://skepticsannotatedbible.com/2chr/25.html#15">2 Chr 25:15-27</a></td>
								<td><span class="pull-right">1</span></td>
								<td><span class="pull-right">1,000</span></td>
							</tr>
							<tr>
								<td>129</td>
								<td><a href="http://dwindlinginunbelief.blogspot.com/2010/03/gods-108th-killing-god-smote-ahaz-with.html">God smote Ahaz with the king of Syria</a></td>
								<td><a href="http://skepticsannotatedbible.com/2chr/28.html#1">2 Chr 28:1-5</a></td>
								<td><span class="pull-right">1</span></td>
								<td><span class="pull-right"></span>10,000</td>
							</tr>
							<tr>
								<td>130</td>
								<td><a href="http://dwindlinginunbelief.blogspot.com/2010/03/gods-109th-killing-god-killed-120000.html">God killed 120,000 valiant men for  forsaking him</a></td>
								<td><a href="http://skepticsannotatedbible.com/2chr/28.html#6">2 Chr 28:6</a></td>
								<td><span class="pull-right"></span>120,000</td>
								<td><span class="pull-right"></span>120,000</td>
							</tr>
							<tr>
								<td>131</td>
								<td><a href="http://dwindlinginunbelief.blogspot.com/2010/03/there-are-only-two-kinds-of-kings-in.html">The fall of Jerusalem</a></td>
								<td><a href="http://skepticsannotatedbible.com/2chr/13.html#16">2 Chr 36:16-17</a></td>
								<td></td>
								<td><span class="pull-right"></span>10,000</td>
							</tr>
							<tr>
								<td>132</td>
								<td><a href="http://dwindlinginunbelief.blogspot.com/2011/11/esther-killings-do-they-belong-on-gods.html">The Purim killings: God hath done these  things</a></td>
								<td><a href="http://skepticsannotatedbible.com/est/2.html">Esther 2</a>&nbsp;- <a href="http://skepticsannotatedbible.com/est/9.html">9</a>, <a href="http://skepticsannotatedbible.com/apocrypha/esther/10.html#4">10:4</a></td>
								<td><span class="pull-right"></span>75,813</td>
								<td><span class="pull-right"></span>75,813</td>
							</tr>
							<tr>
								<td>133</td>
								<td><a href="http://dwindlinginunbelief.blogspot.com/2010/03/gods-107th-kiling-god-and-satan-kill.html">God and Satan kill Job's children and  slaves</a></td>
								<td><a href="http://skepticsannotatedbible.com/job/1.html#18">Job 1:18-19</a></td>
								<td><span class="pull-right"></span>10</td>
								<td><span class="pull-right"></span>60</td>
							</tr>
							<tr>
								<td>134</td>
								<td><a href="http://dwindlinginunbelief.blogspot.com/2010/03/hananiah.html">Hananiah</a></td>
								<td><a href="http://skepticsannotatedbible.com/jer/28.html#15">Jer 28:15-16</a></td>
								<td><span class="pull-right">1</span></td>
								<td><span class="pull-right">1</span></td>
							</tr>
							<tr>
								<td>135</td>
								<td><a href="http://dwindlinginunbelief.blogspot.com/2010/03/gods-108th-killing-god-kills-ezekiels.html">Ezekiel's wife</a></td>
								<td><a href="http://skepticsannotatedbible.com/ezek/24.html#15">Ezek 24:15-18</a></td>
								<td><span class="pull-right">1</span></td>
								<td><span class="pull-right">1</span></td>
							</tr>
							<tr>
								<td>136</td>
								<td><a href="http://dwindlinginunbelief.blogspot.com/2013/05/oh-susana-angel-of-lord-shall-cut-thee.html">Oh! Susanna</a></td>
								<td><a href="http://skepticsannotatedbible.com/apocrypha/dan/13.html#60">Dan 13:6-62</a></td>
								<td><span class="pull-right">2</span></td>
								<td><span class="pull-right">2</span></td>
							</tr>
							<tr>
								<td>137</td>
								<td><a href="http://dwindlinginunbelief.blogspot.com/2012/08/judith-is-blessed-above-all-women-for.html">Judith is blessed above all women (for  cutting off a sleeping man's head)</a></td>
								<td><a href="http://skepticsannotatedbible.com/apocrypha/judith/13.html#6">Judith 13:6-10</a></td>
								<td><span class="pull-right">1</span></td>
								<td><span class="pull-right">1</span></td>
							</tr>
							<tr>
								<td>138</td>
								<td><a href="http://dwindlinginunbelief.blogspot.com/2012/08/the-judith-massacre-hang-ye-up-this.html">The Judith massacre: hang ye up this head  upon our walls</a></td>
								<td><a href="http://skepticsannotatedbible.com/apocrypha/judith/15.html#1">Judith 15:1-6</a></td>
								<td></td>
								<td><span class="pull-right">1,000</span></td>
							</tr>
							<tr>
								<td>139</td>
								<td><a href="http://dwindlinginunbelief.blogspot.com/2012/10/the-first-1-machabees-killing.html">Mathathias's double murder</a></td>
								<td><a href="http://skepticsannotatedbible.com/apocrypha/1mac/2.html#24">1 Mac 2:24-25</a></td>
								<td><span class="pull-right">2</span></td>
								<td><span class="pull-right">2</span></td>
							</tr>
							<tr>
								<td>140</td>
								<td><a href="http://dwindlinginunbelief.blogspot.com/2012/10/mathathias-army-slew-wicked-sinners.html">Mathathias and his friends slay the wicked  sinners</a></td>
								<td><a href="http://skepticsannotatedbible.com/apocrypha/1mac/2.html#44">1 Mac 2:44</a></td>
								<td></td>
								<td><span class="pull-right"></span>100</td>
							</tr>
							<tr>
								<td>141</td>
								<td><a href="http://dwindlinginunbelief.blogspot.com/2013/03/continuing-apocryphal-killings-god.html">God killed Andronicus, the sacrilegious  wretch</a></td>
								<td><a href="http://skepticsannotatedbible.com/apocrypha/2mac/4.html#38">2 Mac 4:38</a></td>
								<td><span class="pull-right">1</span></td>
								<td><span class="pull-right">1</span></td>
							</tr>
							<tr>
								<td>142</td>
								<td><a href="http://dwindlinginunbelief.blogspot.com/2013/03/a-jewish-mob-kills-lysimachus.html">A Jewish mob killed Lysimachus, the  sacrilegious fellow</a></td>
								<td><a href="http://skepticsannotatedbible.com/apocrypha/2mac/4.html#42">2 Mac 4:42</a></td>
								<td><span class="pull-right">1</span></td>
								<td><span class="pull-right">1</span></td>
							</tr>
							<tr>
								<td>143</td>
								<td><a href="http://dwindlinginunbelief.blogspot.com/2012/10/god-helps-judas-machabeus-destroy-wicked.html">God helped Judas Machabeus destroy the  wicked</a></td>
								<td><a href="http://skepticsannotatedbible.com/apocrypha/1mac/3.html#1">1 Mac 3:1-26</a>, <a href="http://skepticsannotatedbible.com/apocrypha/2mac/8.html#5">2 Mac 8:5-6</a></td>
								<td><span class="pull-right"></span>800</td>
								<td><span class="pull-right"></span>4,900</td>
							</tr>
							<tr>
								<td>144</td>
								<td><a href="http://dwindlinginunbelief.blogspot.com/2012/11/judas-and-his-unarmed-men-kill-3000-of.html">Judas and his unarmed men kill 3000 of  Gorgias's soldiers</a></td>
								<td><a href="http://skepticsannotatedbible.com/apocrypha/1mac/3.html#44">1 Mac 3:44-4:24</a></td>
								<td><span class="pull-right">3,000</span></td>
								<td><span class="pull-right">3,000</span></td>
							</tr>
							<tr>
								<td>145</td>
								<td><a href="http://dwindlinginunbelief.blogspot.com/2012/11/the-hanukkah-killings.html">The Hanukkah killings</a></td>
								<td><a href="http://skepticsannotatedbible.com/apocrypha/1mac/4.html#34">1 Mac 4:34</a>-<a href="http://skepticsannotatedbible.com/apocrypha/1mac/5.html#7">5:7</a></td>
								<td><span class="pull-right">5,000</span></td>
								<td><span class="pull-right"></span>17,000</td>
							</tr>
							<tr>
								<td>146</td>
								<td><a href="http://dwindlinginunbelief.blogspot.com/2012/11/the-machabees-brothers-simon-judas-and.html">The Machabees brothers slaughter the  heathens</a></td>
								<td><a href="http://skepticsannotatedbible.com/apocrypha/1mac/5.html#21">1 Mac 5:21-51</a></td>
								<td><span class="pull-right"></span>11,000</td>
								<td><span class="pull-right"></span>37,000</td>
							</tr>
							<tr>
								<td>147</td>
								<td><a href="http://dwindlinginunbelief.blogspot.com/2013/07/nicanors-army-almighty-being-their.html">Nicanor's army: The Almighty being their  helper, they slew above nine thousand men</a></td>
								<td><a href="http://skepticsannotatedbible.com/apocrypha/1mac/7.html#32">1 Mac 7:32-47</a>, <a href="http://skepticsannotatedbible.com/apocrypha/2mac/8.html#24">2 Mac 8:24</a>, <a href="http://skepticsannotatedbible.com/apocrypha/2mac/15.html#27">15:27</a></td>
								<td><span class="pull-right"></span>147,002</td>
								<td><span class="pull-right"></span>147,002</td>
							</tr>
							<tr>
								<td>148</td>
								<td>
									Jonathan and Simon destroy the wicked out
									of Israel
								</td>
								<td><a href="http://skepticsannotatedbible.com/apocrypha/1mac/9.html#46">1 Mac&nbsp; 9:46-49</a>, <a href="http://skepticsannotatedbible.com/apocrypha/2mac/8.html#30">2 Mac&nbsp; 8:30-33</a>, 10:61</td>
								<td><span class="pull-right">1,000</span></td>
								<td><span class="pull-right"></span>1,200</td>
							</tr>
							<tr>
								<td>149</td>
								<td>
									Five heavenly horsemen cast darts and
									fireballs at the enemy
								</td>
								<td><a href="http://skepticsannotatedbible.com/apocrypha/2mac/8.html#32">2 Mac 8:32</a>-<a href="http://skepticsannotatedbible.com/apocrypha/2mac/10.html#38">10:38</a></td>
								<td><span class="pull-right"></span>21,103</td>
								<td><span class="pull-right"></span>21,400</td>
							</tr>
							<tr>
								<td>150</td>
								<td><a href="http://dwindlinginunbelief.blogspot.com/2013/01/god-killed-antiochus-with-incurable.html">God killed Antiochus with an incurable  bowel disease</a></td>
								<td><a href="http://skepticsannotatedbible.com/apocrypha/2mac/9.html#5">2 Mac 9:5-28</a></td>
								<td><span class="pull-right">1</span></td>
								<td><span class="pull-right">1</span></td>
							</tr>
							<tr>
								<td>151</td>
								<td>Idumeans, traitors, and Jews in two towers</td>
								<td><a href="http://skepticsannotatedbible.com/apocrypha/2mac/10.html#16">2 Mac 10:16-17</a></td>
								<td><span class="pull-right"></span>40,000</td>
								<td><span class="pull-right"></span>40,100</td>
							</tr>
							<tr>
								<td>152</td>
								<td>
									Nicanor's head: A manifest sign of the help
									of God
								</td>
								<td><a href="http://skepticsannotatedbible.com/apocrypha/1mac/7.html#33">1 Mac 7:33-48</a>, <a href="http://skepticsannotatedbible.com/apocrypha/2mac/15.html#1">2 Mac&nbsp; 15:1-35</a></td>
								<td><span class="pull-right"></span>35,000</td>
								<td><span class="pull-right"></span>35,000</td>
							</tr>
							<tr>
								<td>153</td>
								<td>Aliens at Cades</td>
								<td><a href="http://skepticsannotatedbible.com/apocrypha/1mac/11.html#74">1 Mac 11:74</a></td>
								<td><span class="pull-right">3,000</span></td>
								<td><span class="pull-right">3,000</span></td>
							</tr>
							<tr>
								<td>154</td>
								<td>
									John burns to death 2000 in the tower of
									Azotus
								</td>
								<td><a href="http://skepticsannotatedbible.com/apocrypha/1mac/16.html#10">1 Mac 16:10</a></td>
								<td><span class="pull-right">2,000</span></td>
								<td><span class="pull-right">2,000</span></td>
							</tr>
							<tr>
								<td>155</td>
								<td>God sent wasps to slowly destroy people</td>
								<td><a href="http://skepticsannotatedbible.com/apocrypha/wisdom/12.html#8">Wisdom 12:8-9</a></td>
								<td></td>
								<td><span class="pull-right">1,000</span></td>
							</tr>
							<tr>
								<td>156</td>
								<td><a href="http://dwindlinginunbelief.blogspot.com/2010/03/did-god-kill-ananias-and-sapphira.html">Ananias and Sapphira</a></td>
								<td><a href="http://skepticsannotatedbible.com/acts/5.html#5">Acts 5:5-10</a></td>
								<td><span class="pull-right">2</span></td>
								<td><span class="pull-right">2</span></td>
							</tr>
							<tr>
								<td>157</td>
								<td><a href="http://dwindlinginunbelief.blogspot.com/2010/03/gods-110th-killing-angel-killed-herod.html">Herod Aggripa</a></td>
								<td><a href="http://skepticsannotatedbible.com/acts/12.html#23">Acts 12:23</a></td>
								<td><span class="pull-right">1</span></td>
								<td><span class="pull-right">1</span></td>
							</tr>
							<tr>
								<td>158</td>
								<td><a href="http://dwindlinginunbelief.blogspot.com/2010/03/gods-111th-killing-jesus.html">Jesus</a></td>
								<td><a href="http://skepticsannotatedbible.com/rom/8.html#32">Rom 8:32</a>,<a href="http://skepticsannotatedbible.com/1pet/1.html#18"> 1 Pet 1:1820</a></td>
								<td><span class="pull-right">1</span></td>
								<td><span class="pull-right">1</span></td>
							</tr>

							<tr>
								<td></td>
								<td></td>
								<td><b>Totals</b></td>
								<td><span class="pull-right"><b>2,821,364</b></span></td>
								<td><span class="pull-right"><b>24,994,828</b></span></td>
							</tr>

						</tbody>
					</table>
				</div>
			}
			else
			{
				<div class="">
					<table class="table table-striped">
						<tbody>
							<tr>
								<th><br />#</th>
								<th><b><br />Killing Event</b></th>
								<th><b><br />Verses</b></th>
								<th><b>Outside<br />The Camp</b></th>
								<th><span class="pull-right"><b>Bible's<br />Number</b></span></th>
								<th><span class="pull-right"><br /><b>Estimate</b></span></th>
							</tr>

							<tr>
								<td>13</td>
								<td><a href="http://dwindlinginunbelief.blogspot.com/2009/05/gods-10th-killing-lord-hath-sworn-that.html">Amalekites</a></td>
								<td><a href="http://skepticsannotatedbible.com/ex/17.html#13">Ex 17:13</a></td>
								<td><span class="fa fa-check"></span></td>
								<td></td>
								<td><span class="pull-right">1,000</span></td>
							</tr>
							<tr>
								<td>14</td>
								<td><a href="http://dwindlinginunbelief.blogspot.com/2009/05/gods-11th-killing-who-is-on-lords-side.html">Who is on the Lord's side?</a></td>
								<td><a href="http://skepticsannotatedbible.com/ex/32.html#27">Ex 32:27-28</a></td>
								<td></td>
								<td><span class="pull-right">3,000</span></td>
								<td><span class="pull-right">3,000</span></td>
							</tr>
							<tr>
								<td>15</td>
								<td><a href="http://dwindlinginunbelief.blogspot.com/2009/05/gods-12th-killing-lord-plagued-people.html">Aaron's golden calf</a></td>
								<td><a href="http://skepticsannotatedbible.com/ex/32.html#35">Ex 32:35</a></td>
								<td></td>
								<td></td>
								<td><span class="pull-right">1,000</span></td>
							</tr>
							<tr>
								<td>16</td>
								<td><a href="http://dwindlinginunbelief.blogspot.com/2009/06/gods-13th-killing-god-burns-aarons-sons.html">God burns Aaron's sons to death for  offering "strange fire"</a></td>
								<td><a href="http://skepticsannotatedbible.com/lev/10.html#1">Lev 10:1-3</a></td>
								<td></td>
								<td><span class="pull-right">2</span></td>
								<td><span class="pull-right">2</span></td>
							</tr>
							<tr>
								<td>17</td>
								<td><a href="http://dwindlinginunbelief.blogspot.com/2009/06/gods-14th-killing-jesus-fucking-christ.html">A blasphemer is stoned to death</a></td>
								<td><a href="http://skepticsannotatedbible.com/lev/24.html#10">Lev 24:10-23</a></td>
								<td></td>
								<td><span class="pull-right">1</span></td>
								<td><span class="pull-right">1</span></td>
							</tr>
							<tr>
								<td>18</td>
								<td><a href="http://dwindlinginunbelief.blogspot.com/2009/06/gods-15th-killing-when-people.html">When the people complained, God burned them  to death</a></td>
								<td><a href="http://skepticsannotatedbible.com/num/11.html#1">Num 11:1</a></td>
								<td></td>
								<td></td>
								<td><span class="pull-right">100</span></td>
							</tr>
							<tr>
								<td>19</td>
								<td><a href="http://dwindlinginunbelief.blogspot.com/2009/06/gods-16th-killing-while-flesh-was-still.html">While the flesh was still between their  teeth, the Lord smote them will a very great plague</a></td>
								<td><a href="http://skepticsannotatedbible.com/num/11.html#33">Num 11:33</a></td>
								<td></td>
								<td></td>
								<td><span class="pull-right">10,000</span></td>
							</tr>
							<tr>
								<td>20</td>
								<td><a href="http://dwindlinginunbelief.blogspot.com/2009/07/gods-17th-killing-moses-talks-god-out.html">Ten scouts are killed</a></td>
								<td><a href="http://skepticsannotatedbible.com/num/14.html#35">Num 14:35-45</a></td>
								<td></td>
								<td><span class="pull-right">10</span></td>
								<td><span class="pull-right">110</span></td>
							</tr>
							<tr>
								<td>21</td>
								<td><a href="http://dwindlinginunbelief.blogspot.com/2009/07/gods-18th-killing-man-gathering-sticks.html">A man gathering sticks on the Sabbath day  is stoned to death</a></td>
								<td><a href="http://skepticsannotatedbible.com/num/15.html#32">Num 15:32-35</a></td>
								<td></td>
								<td><span class="pull-right">1</span></td>
								<td><span class="pull-right">1</span></td>
							</tr>
							<tr>
								<td>22</td>
								<td><a href="http://dwindlinginunbelief.blogspot.com/2009/07/gods-19th-killing-opposing-party-is.html">Korah, his companions, and their families  are buried alive</a></td>
								<td><a href="http://skepticsannotatedbible.com/num/16.html#27">Num 16:27</a></td>
								<td></td>
								<td><span class="pull-right">3</span></td>
								<td><span class="pull-right">9</span></td>
							</tr>
							<tr>
								<td>23</td>
								<td><a href="http://dwindlinginunbelief.blogspot.com/2009/07/gods-20th-killing-250-burned-alived-for.html">God burns 250 people to death for burning  incense</a></td>
								<td><a href="http://skepticsannotatedbible.com/num/16.html#35">Num 16:35</a></td>
								<td></td>
								<td><span class="pull-right">250</span></td>
								<td><span class="pull-right">250</span></td>
							</tr>
							<tr>
								<td>24</td>
								<td><a href="http://dwindlinginunbelief.blogspot.com/2009/07/gods-21th-killing-14700-killed-for.html">God kills 14,700 for complaining about  God's killings</a></td>
								<td><a href="http://skepticsannotatedbible.com/num/16.html#49">Num 16:49</a></td>
								<td></td>
								<td><span class="pull-right">14,700</span></td>
								<td><span class="pull-right">14,700</span></td>
							</tr>
							<tr>
								<td>25</td>
								<td><a href="http://dwindlinginunbelief.blogspot.com/2009/07/gods-22nd-killing-massacre-of-aradites.html">The massacre of the Aradites</a></td>
								<td><a href="http://skepticsannotatedbible.com/num/21.html#1">Num 21:1-2</a></td>
								<td><span class="fa fa-check"></span></td>
								<td></td>
								<td><span class="pull-right">3,000</span></td>
							</tr>
							<tr>
								<td>26</td>
								<td><a href="http://dwindlinginunbelief.blogspot.com/2009/07/gods-23rd-killing-god-sends-fiery.html">God sent serpents to bite people for  complaining about the lack of food and water</a></td>
								<td><a href="http://skepticsannotatedbible.com/num/21.html#6">Num 21:6</a></td>
								<td></td>
								<td></td>
								<td><span class="pull-right">100</span></td>
							</tr>
							<tr>
								<td>27</td>
								<td><a href="http://dwindlinginunbelief.blogspot.com/2009/07/gods-25th-killing-killing-to-end-gods.html">Phineas's kills Zimri and Cozbi</a></td>
								<td><a href="http://skepticsannotatedbible.com/num/25.html#1">Num 25:1-11</a></td>
								<td></td>
								<td><span class="pull-right">24,002</span></td>
								<td><span class="pull-right">24,002</span></td>
							</tr>
							<tr>
								<td>28</td>
								<td><a href="http://dwindlinginunbelief.blogspot.com/2009/08/gods-27th-killing-have-ye-saved-all.html">The Midianite massacre</a></td>
								<td><a href="http://skepticsannotatedbible.com/num/31.html#1">Num 31:1-35</a></td>
								<td><span class="fa fa-check"></span></td>
								<td><span class="pull-right">6</span></td>
								<td><span class="pull-right">200,000</span></td>
							</tr>
							<tr>
								<td>29</td>
								<td><a href="http://dwindlinginunbelief.blogspot.com/2009/08/gods-28th-killing-god-slowly-kills.html">God slowly killed the Israelite army</a></td>
								<td><a href="http://skepticsannotatedbible.com/dt/2.html#14">Dt 2:14-16</a></td>
								<td></td>
								<td></td>
								<td><span class="pull-right">500,000</span></td>
							</tr>
							<tr>
								<td>30</td>
								<td><a href="http://dwindlinginunbelief.blogspot.com/2009/08/gods-29th-killing-god-giant-killer.html">God the giant killer</a></td>
								<td><a href="http://skepticsannotatedbible.com/dt/2.html#21">Dt 2:21-22</a></td>
								<td><span class="fa fa-check"></span></td>
								<td></td>
								<td><span class="pull-right">5,000</span></td>
							</tr>
							<tr>
								<td>31</td>
								<td><a href="http://dwindlinginunbelief.blogspot.com/2009/08/gods-30th-killing-king-sihons-heart-is.html">God hardens King Sihon's heart so all his  people can be killed</a></td>
								<td><a href="http://skepticsannotatedbible.com/dt/2.html#23">Dt 2:33-34</a></td>
								<td><span class="fa fa-check"></span></td>
								<td><span class="pull-right">1</span></td>
								<td><span class="pull-right">5,000</span></td>
							</tr>
							<tr>
								<td>32</td>
								<td><a href="http://dwindlinginunbelief.blogspot.com/2009/08/gods-31st-killing-all-men-women-and.html">Og and all the men women, and children in  60 cities</a></td>
								<td><a href="http://skepticsannotatedbible.com/dt/3.html#6">Dt 3:6</a></td>
								<td><span class="fa fa-check"></span></td>
								<td><span class="pull-right">1</span></td>
								<td><span class="pull-right">60,000</span></td>
							</tr>

							<tr>
								<td></td>
								<td></td>
								<td></td>
								<td><b>Totals</b></td>
								<td><span class="pull-right"><b>41,977</b></span></td>
								<td><span class="pull-right"><b>827,275</b></span></td>
							</tr>

						</tbody>
					</table>
				</div>
			}

@code {
	[Parameter, EditorRequired] public bool ShowAll { get; set; } = false;
}
