@page "/BibleList/TimeLine"
@using MyHebrewBible.Client.Enums;
@using MyHebrewBible.Client.Features.Lists.Components

@using Page = MyHebrewBible.Client.Features.Lists.MenuItemConstants.TimeLine

<PageHeader PageEnum="@MyHebrewBible.Client.Enums.Nav.BibleList" PageTitle="@Page.Title" />
<SubNavBar ActiveMenuItem="@MenuItems.TimeLine" />

<SourceAnchor Url="https://levendwater.org/companion/append50_VIII.html" />

<BlurbCard HeaderContent="50. VIII SUMMARY OF PRINCIPAL EVENTS.">
	Here is a time line
</BlurbCard>


<div class="table-responsive">
	<table class="table table-striped table-sm">

		<tr>
			<th>B.C.</th>
			<th>Principal Events</th>
		</tr>
		<tr>
			<td>4004</td>
			<td>Adam created.</td>
		</tr>
		<tr>
			<td>3874</td>
			<td>Seth b.&nbsp; "Adam begat a son in his own likeness" (Gen. 5:3).</td>
		</tr>
		<tr>
			<td>3769</td>
			<td>Enos b.</td>
		</tr>
		<tr>
			<td>3679</td>
			<td>Cainan b.</td>
		</tr>
		<tr>
			<td>3609</td>
			<td>Mahalaleel b.</td>
		</tr>
		<tr>
			<td>3544</td>
			<td>Jared b.</td>
		</tr>
		<tr>
			<td>3382</td>
			<td>Enoch b.&nbsp; "seventh from Adam" (Jude 14).</td>
		</tr>
		<tr>
			<td>3317</td>
			<td>Methuselah b.</td>
		</tr>
		<tr>
			<td>3194</td>
			<td>Adam's "day of grace" begins when he is 810 (Gen. 6:3).</td>
		</tr>
		<tr>
			<td>3130</td>
			<td>Lamech b.</td>
		</tr>
		<tr>
			<td>3074</td>
			<td>Adam d. (930).</td>
		</tr>
		<tr>
			<td>3017</td>
			<td>Enoch translated, fifty-seven years after Adam's d.</td>
		</tr>
		<tr>
			<td>2962</td>
			<td>Seth d. (912).</td>
		</tr>
		<tr>
			<td>2948</td>
			<td>Noah b.</td>
		</tr>
		<tr>
			<td>2864</td>
			<td>Enos d. (905).</td>
		</tr>
		<tr>
			<td>2769</td>
			<td>Cainan d. (910).</td>
		</tr>
		<tr>
			<td>2714</td>
			<td>Mahalaleel d. (895).</td>
		</tr>
		<tr>
			<td>2582</td>
			<td>Jared d. (962).</td>
		</tr>
		<tr>
			<td>2448</td>
			<td>Japheth b.</td>
		</tr>
		<tr>
			<td>2447</td>
			<td>Ham b.</td>
		</tr>
		<tr>
			<td>2446</td>
			<td>Shem b. (Noah 502).</td>
		</tr>
		<tr>
			<td>2353</td>
			<td>Lamech d. (777).</td>
		</tr>
		<tr>
			<td>2348</td>
			<td>Methuselah d. (969) in the first month of the Flood year.</td>
		</tr>
		<tr>
			<td>2348-2347</td>
			<td>The Flood year.&nbsp; (Noah's 600th year.&nbsp; Gen. 7:6, 11.)</td>
		</tr>
		<tr>
			<td>2346</td>
			<td>Arphaxad b.&nbsp; "two years after the Flood".</td>
		</tr>
		<tr>
			<td>2311</td>
			<td>Salah b.</td>
		</tr>
		<tr>
			<td>2281</td>
			<td>Eber b.</td>
		</tr>
		<tr>
			<td>2247</td>
			<td>
				Peleg b.&nbsp; "In his days the earth was divided" (Gen. 10:25).&nbsp;
				See note on 50. II.
			</td>
		</tr>
		<tr>
			<td>2217</td>
			<td>Reu b.</td>
		</tr>
		<tr>
			<td>2185</td>
			<td>Serug b.</td>
		</tr>
		<tr>
			<td>2155</td>
			<td>Nahor b.</td>
		</tr>
		<tr>
			<td>2126</td>
			<td>Terah b.</td>
		</tr>
		<tr>
			<td>2056</td>
			<td>Terah's "generations" begin with the b. of Haran.</td>
		</tr>
		<tr>
			<td>2008</td>
			<td>Peleg d. (239).</td>
		</tr>
		<tr>
			<td>2007</td>
			<td>Nahor d. (148).</td>
		</tr>
		<tr>
			<td>1998</td>
			<td>Noah d. (950).</td>
		</tr>
		<tr>
			<td>1996</td>
			<td>Abraham b. (1,992 years from the Nativity).</td>
		</tr>
		<tr>
			<td>1978</td>
			<td>Reu d. (239).</td>
		</tr>
		<tr>
			<td>1955</td>
			<td>Serug d. (230).</td>
		</tr>
		<tr>
			<td>1946?</td>
			<td>Abraham's First "Call", in Ur of the Chaldees (Acts 7:2-4).</td>
		</tr>
		<tr>
			<td>1921</td>
			<td>
				Terah d. (205).&nbsp; Abraham's Second "Call" (Haran).&nbsp; The 430
				year sojourning begin.&nbsp; (See note on Gen. 12:1, and <a href="append50.html">Ap. 50. III</a>).
			</td>
		</tr>
		<tr>
			<td>1920-1912</td>
			<td>
				Abraham goes down into Egypt.&nbsp; Attempted destruction of the Seed
				(see note on Gen. 12:10, and <a href="append23.html">Ap. 23</a>).&nbsp; Abraham returns from Egypt.
			</td>
		</tr>
		<tr>
			<td>1911</td>
			<td>Abraham (85) marries Hagar (Gen. 16:3).</td>
		</tr>
		<tr>
			<td>1910</td>
			<td>Ishmael b.&nbsp; (Abraham 86).</td>
		</tr>
		<tr>
			<td>1897</td>
			<td>Covenant of Circumcision.&nbsp; (Abraham 99).</td>
		</tr>
		<tr>
			<td>1896</td>
			<td>Isaac b.&nbsp; (Abraham 100).</td>
		</tr>
		<tr>
			<td>1891</td>
			<td>
				Isaac becomes "the Seed" (Gen. 21:10; 12:7).&nbsp; Ishmael "cast out".&nbsp;
				The 400 years of Acts 7:6 begin.
			</td>
		</tr>
		<tr>
			<td>1878</td>
			<td>Salah d. (433).</td>
		</tr>
		<tr>
			<td>1863?</td>
			<td>Isaac (33) offered up.</td>
		</tr>
		<tr>
			<td>1859</td>
			<td>
				Sarah d. (127).&nbsp; The only woman whose age is given in Scripture.&nbsp;
				For significance of this, cp. Gal. 4.&nbsp; In Sarah's age we have, all
				1000
				egorically,
				the period of duration of the Old Covenant.
			</td>
		</tr>
		<tr>
			<td>1856</td>
			<td>Isaac (40) marries Rebekah.</td>
		</tr>
		<tr>
			<td>1846</td>
			<td>Shem (Melchizedek?) d. (600).&nbsp; Abraham (150) marries Keturah?</td>
		</tr>
		<tr>
			<td>1836</td>
			<td>Jacob b. (Isaac 60).</td>
		</tr>
		<tr>
			<td>1821</td>
			<td>Abraham d. (Isaac 75.&nbsp; Jacob 15).</td>
		</tr>
		<tr>
			<td>1817</td>
			<td>Eber d. (464), outlives Abraham by four years.</td>
		</tr>
		<tr>
			<td>1812?</td>
			<td>The famine of Gen. 26:1.&nbsp; The cause of sale of the birthright?</td>
		</tr>
		<tr>
			<td>1796</td>
			<td>Esau (40) marries Hittite wives.</td>
		</tr>
		<tr>
			<td>1773</td>
			<td>Ishmael d. (137.&nbsp; Jacob 63).</td>
		</tr>
		<tr>
			<td>1759</td>
			<td>Jacob (77) gets the Blessing, and flees to Padan-aram.</td>
		</tr>
		<tr>
			<td>1758</td>
			<td>His "servitude" begins.</td>
		</tr>
		<tr>
			<td>1752</td>
			<td>His marriages.</td>
		</tr>
		<tr>
			<td>1751</td>
			<td>Reuben b.</td>
		</tr>
		<tr>
			<td>1750</td>
			<td>Simeon b.</td>
		</tr>
		<tr>
			<td>1749</td>
			<td>Levi and Dan b.</td>
		</tr>
		<tr>
			<td>1748</td>
			<td>Judah and Naphtali b.</td>
		</tr>
		<tr>
			<td>1747</td>
			<td>Gad b.</td>
		</tr>
		<tr>
			<td>1746</td>
			<td>Asher and Issachar b.</td>
		</tr>
		<tr>
			<td>1745</td>
			<td>Zebulun and Dinah (twins?) and Joseph b.</td>
		</tr>
		<tr>
			<td>1742</td>
			<td>Jacob's bargain about the cattle.</td>
		</tr>
		<tr>
			<td>1739</td>
			<td>Jacob flees from Padan-aram.</td>
		</tr>
		<tr>
			<td>1738</td>
			<td>Jacob meets Esau.</td>
		</tr>
		<tr>
			<td>1737</td>
			<td>Jacob at Succoth.</td>
		</tr>
		<tr>
			<td>1736</td>
			<td>Jacob comes to Shechem.</td>
		</tr>
		<tr>
			<td>&nbsp;&nbsp; (1732-1727)</td>
			<td>&nbsp;&nbsp; (The six years of "Jacob's trouble" in the Land.)</td>
		</tr>
		<tr>
			<td>1732</td>
			<td>
				Dinah raped.&nbsp; Another attempt to destroy the "Seed", by raising
				the country against the "tribe".&nbsp; (Cp. Gen. 34:30; 35:5; and <a href="append23.html">see Ap. 23.</a>)
			</td>
		</tr>
		<tr>
			<td>1731</td>
			<td>Jacob at Beth-el.</td>
		</tr>
		<tr>
			<td>1728</td>
			<td>
				Rachel d.&nbsp; Benjamin b.&nbsp; Reuben forfeits the birthright to
				Joseph (17), to whom it rightly belonged.&nbsp; (Cp. 1Chron. 5:1, 2.)
			</td>
		</tr>
		<tr>
			<td>1727</td>
			<td>Joseph sold (18).</td>
		</tr>
		<tr>
			<td>1726</td>
			<td>
				Jacob (110) joins his father Isaac (170) at Hebron (after a separation
				of thirty-three years).
			</td>
		</tr>
		<tr>
			<td>1717</td>
			<td>Joseph (28) in Egypt.&nbsp; Interprets butler's dream.</td>
		</tr>
		<tr>
			<td>1716</td>
			<td>Isaac d. (180.&nbsp; Jacob 120.&nbsp; Joseph 29).</td>
		</tr>
		<tr>
			<td>1715</td>
			<td>Joseph (30) interprets Pharaoh's dream.</td>
		</tr>
		<tr>
			<td>1707</td>
			<td>First year of the famine.</td>
		</tr>
		<tr>
			<td>1706</td>
			<td>
				Second year of the famine.&nbsp; Jacob (130) goes down into Egypt.&nbsp;
				The 215 years of the sojourning in Egypt begin.&nbsp; (Half of the 430
				years from Gen 12:4.)
			</td>
		</tr>
		<tr>
			<td>1705</td>
			<td>Third year of the famine.</td>
		</tr>
		<tr>
			<td>1704</td>
			<td>Fourth year of the famine.</td>
		</tr>
		<tr>
			<td>1703</td>
			<td>Fifth year of the famine.</td>
		</tr>
		<tr>
			<td>1702</td>
			<td>Sixth year of the famine.</td>
		</tr>
		<tr>
			<td>1701</td>
			<td>Seventh year of the famine.</td>
		</tr>
		<tr>
			<td>1689</td>
			<td>
				Jacob d. (147), after seventeen years in Egypt.&nbsp; (Joseph 56.&nbsp;
				Benjamin 39.)
			</td>
		</tr>
		<tr>
			<td>1635</td>
			<td>Joseph d. (110).</td>
		</tr>
		<tr>
			<td>1612</td>
			<td>Levi d. (137).</td>
		</tr>
		<tr>
			<td>1635-1571</td>
			<td>Gap of sixty-four years from d. of Joseph to b. of Moses.</td>
		</tr>
		<tr>
			<td>1571</td>
			<td>Moses b.</td>
		</tr>
		<tr>
			<td>1544</td>
			<td>Joshua b. (Moses 27).</td>
		</tr>
		<tr>
			<td>1529</td>
			<td>Caleb b.&nbsp;</td>
		</tr>
		<tr>
			<td>1491</td>
			<td>
				The Exodus.&nbsp; 430 years from Gen. 12:4, and 400 years from Gen.
				21:10.
			</td>
		</tr>
		<tr>
			<td>1490</td>
			<td>
				The Tabernacle set up.&nbsp; This year the people should have
				entered the Land.
			</td>
		</tr>
		<tr>
			<td>1452</td>
			<td>Miriam, Aaron, and Moses d.</td>
		</tr>
		<tr>
			<td>1451</td>
			<td>Entry into the Land.</td>
		</tr>
		<tr>
			<td>1444</td>
			<td>
				The "Wars of the Lord" end (Josh. 14:15).&nbsp; Caleb 85.&nbsp; Joshua
				hands over the leadership to Eleazar.
			</td>
		</tr>
		<tr>
			<td>1444-1443</td>
			<td>First Sabbatic year.</td>
		</tr>
		<tr>
			<td>1434</td>
			<td>Joshua d. (110).</td>
		</tr>
		<tr>
			<td></td>
			<td></td>
		</tr>
	</table>
</div>

<div class="table-responsive">
	<table class="table table-striped table-sm">

		<tr>
			<th>B.C.</th>
			<th>Judges</th>
			<th>&nbsp;</th>
			<th>Years.</th>
			<th>Years.</th>
		</tr>
		<tr>
			<td>1431</td>
			<td>First servitude.</td>
			<td>Mesopotamia</td>
			<td>&nbsp;</td>
			<td>8</td>
		</tr>
		<tr>
			<td>1423</td>
			<td>Othniel.</td>
			<td>&nbsp;</td>
			<td>40</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>1393-1392</td>
			<td>First Jubilee year (Anno Dei reckoning).</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>1383</td>
			<td>Second servitude.</td>
			<td>Moab</td>
			<td>&nbsp;</td>
			<td>18</td>
		</tr>
		<tr>
			<td>1365</td>
			<td>Ehud.</td>
			<td>&nbsp;</td>
			<td>80</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>1285</td>
			<td>Third servitude.</td>
			<td>Canaan</td>
			<td>&nbsp;</td>
			<td>20</td>
		</tr>
		<tr>
			<td>1265</td>
			<td>Barak.</td>
			<td>&nbsp;</td>
			<td>40</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>1225</td>
			<td>Fourth servitude.</td>
			<td>Midian</td>
			<td>&nbsp;</td>
			<td>7</td>
		</tr>
		<tr>
			<td>1218</td>
			<td>Gideon.</td>
			<td>&nbsp;</td>
			<td>40</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>1178</td>
			<td>Tola.</td>
			<td>&nbsp;</td>
			<td>23</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>1155</td>
			<td>Jair.</td>
			<td>&nbsp;</td>
			<td>4&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>1151</td>
			<td>Jephthah.</td>
			<td>&nbsp;</td>
			<td>6 (*)</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>1145</td>
			<td>Ibzan.</td>
			<td>&nbsp;</td>
			<td>7</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>1138</td>
			<td>Elon.</td>
			<td>&nbsp;</td>
			<td>10</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>1128</td>
			<td>Abdon.</td>
			<td>&nbsp;</td>
			<td>8</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>1120</td>
			<td>Fifth servitude.</td>
			<td>Philistine.</td>
			<td>&nbsp;</td>
			<td>40</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>258</td>
			<td>93</td>
		</tr>
	</table>
</div>
<blockquote>
	(*)&nbsp; (300 years from the entry into the Land.&nbsp; See note on
	chart 50. IV.)
	B.C. (That is, from the Common Era A.D.)
</blockquote>

<div class="table-responsive">
	<table class="table table-striped table-sm">

		<tr>
			<th>B.C.</th>
			<th>Principal Events</th>
		</tr>
		<tr>
			<td>1808</td>
			<td>Eli, 40 years.</td>
		</tr>
		<tr>
			<td>1040</td>
			<td>Samuel, 40 years.</td>
		</tr>
		<tr>
			<td>1020</td>
			<td>The "Reformation".&nbsp; 1Sam. 7.</td>
		</tr>
		<tr>
			<td>1000</td>
			<td>
				Ends the 45 years of Acts 13:20, and 490 years from the year they should
				have entered into the Land.
			</td>
		</tr>
		<tr>
			<td>1000</td>
			<td>THE KINGDOM.&nbsp; Saul, 40 years.</td>
		</tr>
		<tr>
			<td>990</td>
			<td>David b.</td>
		</tr>
		<tr>
			<td>974</td>
			<td>David's first anointing (16).</td>
		</tr>
		<tr>
			<td>960</td>
			<td>David, 40 years.&nbsp; Second anointing (30).</td>
		</tr>
		<tr>
			<td>953</td>
			<td>David's third anointing (37).</td>
		</tr>
		<tr>
			<td>920</td>
			<td>Solomon, 40 years.</td>
		</tr>
		<tr>
			<td>917</td>
			<td>
				The Temple begun.&nbsp; 573 years after the Exodus.&nbsp; (Cp. Acts
				13:20-23).
			</td>
		</tr>
		<tr>
			<td>910</td>
			<td>The Temple finished.</td>
		</tr>
		<tr>
			<td>897</td>
			<td>At the end of twenty years, the "two houses" finished (1Kings 9:10).</td>
		</tr>
		<tr>
			<td>880</td>
			<td>The Disruption.&nbsp; Rehoboam, 17 years.</td>
		</tr>
		<tr>
			<td>863</td>
			<td>Abijam, 3 years.</td>
		</tr>
		<tr>
			<td>860</td>
			<td>Asa, 41 years.</td>
		</tr>
		<tr>
			<td>819</td>
			<td>Jehoshaphat, 25 years.</td>
		</tr>
		<tr>
			<td>796</td>
			<td>Jehoram's accession.</td>
		</tr>
		<tr>
			<td>794</td>
			<td>Jehoshaphat d.</td>
		</tr>
		<tr>
			<td>789</td>
			<td>Ahaziah's accession.</td>
		</tr>
		<tr>
			<td>788</td>
			<td>Ahaziah slain by Jehu.</td>
		</tr>
		<tr>
			<td>788-782</td>
			<td>Gap, 6 years.&nbsp; Athaliah's usurpation.</td>
		</tr>
		<tr>
			<td>782</td>
			<td>Jehoash, 41 years.</td>
		</tr>
		<tr>
			<td>743</td>
			<td>Amaziah, 29 years.</td>
		</tr>
		<tr>
			<td>714</td>
			<td>Amaziah ends.</td>
		</tr>
		<tr>
			<td>714-701</td>
			<td>Gap, 13 years.</td>
		</tr>
		<tr>
			<td>701</td>
			<td>Uzziah, 52 years.</td>
		</tr>
		<tr>
			<td>687</td>
			<td>Hosea's prophecies begin?</td>
		</tr>
		<tr>
			<td>649</td>
			<td>Gap.&nbsp; One year between Uzziah's death and Jotham's accession.</td>
		</tr>
		<tr>
			<td>647</td>
			<td>Jotham, 16 years.</td>
		</tr>
		<tr>
			<td>634</td>
			<td>Micah's prophecies begin?</td>
		</tr>
		<tr>
			<td>632</td>
			<td>Ahaz, 16 years.</td>
		</tr>
		<tr>
			<td>617</td>
			<td>Hezekiah's accession.</td>
		</tr>
		<tr>
			<td>616</td>
			<td>Ahaz d.</td>
		</tr>
		<tr>
			<td>615&nbsp;</td>
			<td>Hosea ends?</td>
		</tr>
		<tr>
			<td>613</td>
			<td>Siege of Samaria begun.</td>
		</tr>
		<tr>
			<td>611</td>
			<td>Samaria taken and Israel ends.</td>
		</tr>
		<tr>
			<td>603</td>
			<td>
				Sennacherib invades Judah in the fourteenth year of Hezekiah (2Kings
				18:13).
			</td>
		</tr>
		<tr>
			<td>588</td>
			<td>Manasseh, 55 years.</td>
		</tr>
		<tr>
			<td>584</td>
			<td>Isaiah killed?&nbsp; (Cp. Isa. 7:6).</td>
		</tr>
		<tr>
			<td>533</td>
			<td>Amon, 2 years.</td>
		</tr>
		<tr>
			<td>531</td>
			<td>Josiah, 31 years.</td>
		</tr>
		<tr>
			<td>530</td>
			<td>Zephaniah</td>
		</tr>
		<tr>
			<td>518</td>
			<td>Jeremiah's prophecies begin in Josiah's thirteenth year.</td>
		</tr>
		<tr>
			<td>513</td>
			<td>The Book "found" and the Passover in Josiah's eighteenth year.</td>
		</tr>
		<tr>
			<td>500</td>
			<td>Jehoahaz, 3 months.</td>
		</tr>
		<tr>
			<td>499</td>
			<td>Jehoiakim, 11 years.</td>
		</tr>
		<tr>
			<td>497</td>
			<td>Nebuchadnezzar's first siege of Jerusalem.</td>
		</tr>
		<tr>
			<td>496</td>
			<td>
				Jehoiakim's fourth year, Nebuchadnezzar's first.&nbsp; Daniel
				taken to Babylon.
			</td>
		</tr>
		<tr>
			<td>495</td>
			<td>Jehoiakim burns the roll.</td>
		</tr>
		<tr>
			<td>494</td>
			<td>
				Nebuchadnezzar's second year.&nbsp; His dream of the Great Image. Daniel
				interprets.
			</td>
		</tr>
		<tr>
			<td>489</td>
			<td>
				Jehoiachin, 3 months.&nbsp; Captivity begins in Nebuchadnezzar's eighth
				year (second siege).
			</td>
		</tr>
		<tr>
			<td>488</td>
			<td>Zedekiah, 11 years.</td>
		</tr>
		<tr>
			<td>484</td>
			<td>Ezekiel's prophecies begin.</td>
		</tr>
		<tr>
			<td>478</td>
			<td>Nebuchadnezzar's third siege of Jerusalem begins.&nbsp;</td>
		</tr>
		<tr>
			<td>477</td>
			<td>
				Jerusalem taken and Temple destroyed in Nebuchadnezzar's nineteenth
				year.&nbsp; Jeremiah ends.
			</td>
		</tr>
		<tr>
			<td>473</td>
			<td>Punishment for the murder of Gedaliah (Jer. 52:30).</td>
		</tr>
		<tr>
			<td>462</td>
			<td>Ezekiel's last dated prophecy.</td>
		</tr>
		<tr>
			<td>461-454</td>
			<td>Nebuchadnezzar's seven years of "madness".</td>
		</tr>
		<tr>
			<td>454</td>
			<td>
				Twentieth year of Asteiages (Artaxerxes).&nbsp; The commandment to
				rebuild Jerusalem.&nbsp; (See 50. VI, VII. 5, 12.)&nbsp; Nehemiah's first
				visit to Jerusalem.
			</td>
		</tr>
		<tr>
			<td>452</td>
			<td>Nebuchadnezzar d. after forty-four years' reign.</td>
		</tr>
		<tr>
			<td>452</td>
			<td>Evil-Merodach.&nbsp; Jehoiachin's captivity ends.</td>
		</tr>
		<tr>
			<td>446</td>
			<td>Nabonidus.</td>
		</tr>
		<tr>
			<td>429</td>
			<td>Belshazzar, 3 years.</td>
		</tr>
		<tr>
			<td>426</td>
			<td>
				Belshazzar slain.&nbsp; "Darius the Median" (Asteiages) takes the kingdom.&nbsp;
				Cyrus (Asteiages' son) issues the Decree to rebuild the Temple.&nbsp; Daniel's
				vision of the "seventy sevens".&nbsp; The "seven sevens" begin.&nbsp; Foundations
				of the Temple laid.&nbsp; Nehemiah's second visit to Jerusalem.
			</td>
		</tr>
		<tr>
			<td>421</td>
			<td>Cyrus ends.</td>
		</tr>
		<tr>
			<td>418</td>
			<td>Cambyses makes Nehemiah governor.&nbsp; Nehemiah's third visit to Jerusalem.</td>
		</tr>
		<tr>
			<td>411</td>
			<td>Darius Hystaspis re-enacts the decree of Cyrus.</td>
		</tr>
		<tr>
			<td>410</td>
			<td>
				Haggai and Zechariah begin.&nbsp; The temple superstructure
				commenced and carried on to completion, from the second to the sixth year
				of Darius.
			</td>
		</tr>
		<tr>
			<td>408</td>
			<td>Zechariah's last date.</td>
		</tr>
		<tr>
			<td>405</td>
			<td>
				The Temple finished and dedicated.&nbsp; The "seven sevens" end, and
				the "sixty-two sevens" commence.
			</td>
		</tr>
		<tr>
			<td>404</td>
			<td>The Passover.</td>
		</tr>
		<tr>
			<td>403</td>
			<td>Ezra's last date :&nbsp; 1st of Nisan.</td>
		</tr>
		<tr>
			<td>375?</td>
			<td>Darius Hystaspis d. (according to Herodotus, 63 years old).</td>
		</tr>
		<tr>
			<td>4</td>
			<td>The Nativity.</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td class="subkop">A.D.</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>0</td>
			<td>The Common Era of A.D.</td>
		</tr>
		<tr>
			<td>29</td>
			<td>
				The "sixty-nine sevens" end with the "cutting off of the Messiah",
				483 years from the "going forth of the commandment to build Jerusalem"
				in 454 B.C.
			</td>
		</tr>
		<tr>
			<td>69</td>
			<td>Destruction of Jerusalem by Titus.</td>
		</tr>

	</table>
</div>


@code {

}

@code {

}
