@page "/BibleList/YosephAndYeshuaComparison"
@using MyHebrewBible.Client.Enums;
@using MyHebrewBible.Client.Features.Lists.Components

@using Page = MyHebrewBible.Client.Features.Lists.MenuItemConstants.YosephAndYeshuaComparison
<PageTitle>@Page.Title</PageTitle>

<SubNavBar ActiveMenuItem="@MenuItems.YosephAndYeshuaComparison" />

<SourceAnchor Url="https://jewsforjesus.org/publications/newsletter/july-1985/08_joseph_jesus" />

<BlurbCard>
	The story of Joseph which is told in the last part of Genesis is a type shadow of Yeshua
</BlurbCard>

<div class="table-responsive">
	<table class="table table-condensed table-bordered">
		<tr>
			<th>Parallel</th>
			<th>Joseph</th>
			<th>Yeshua</th>
		</tr>
		<tr>
			<td>BELOVED OF HIS FATHER</td>
			<td>Now Israel loved Joseph more than all his children (Gen. 37:3a).</td>
			<td>This is my beloved Son, in whom I am well pleased (Matt. 3:17b).</td>
		</tr>
		<tr>
			<td>ENVIED AND HATED WITHOUT A CAUSE</td>
			<td>And when his brethren saw that their father loved him more they&#8230;hated him&#8230; (Gen 37:4).</td>
			<td>&#8230;the chief priests had delivered him for envy (Mark 15:10).<br /><br />They hated me without a cause (John 15:25b).</td>
		</tr>
		<tr>
			<td>A ROOT OUT OF DRY GROUND</td>
			<td>&#8230;he was the son of his [Jacob's] old age (Gen. 37:3b).</td>
			<td>&#8230;he [Messiah] shall grow up before him&#8230;like a root out of a dry ground (Isa. 53:2a).</td>
		</tr>
		<tr>
			<td>HE FORETOLD THAT ONE DAY HE WOULD RULE</td>
			<td>&#8230; your sheaves stood&#8230;and made obeisance to my sheaf (Gen. 37:7).</td>
			<td>&#8230;ye [shall] seethe Son of Man sitting on the right hand of power, and coming in the clouds of heaven (Matt. 26:64b).</td>
		</tr>
		<tr>
			<td>ACCUSED OF BEING A DREAMER (beside himself, deluded)</td>
			<td>And they said to one another, Behold, this dreamer cometh (Gen. 37:19).</td>
			<td>&#8230;they said, He is beside himself (Mark 3:21b).</td>
		</tr>
		<tr>
			<td>SENT BY THE FATHER TO SEEK THE BROTHERS' WELFARE</td>
			<td>Go&#8230;see whether it be well with thy brethren (Gen. 37:14a).</td>
			<td>I will send my beloved son&#8230; (Luke 20:13b).</td>
		</tr>
		<tr>
			<td>WENT WILLINGLY AND SOUGHT TILL HE FOUND THEM</td>
			<td>And Joseph went after his brethren, and found them&#8230; (Gen. 37:17b).</td>
			<td>&#8230;Lo, I come, to do thy will, O God (Heb. 10:9b).<br /><br />He came unto his own&#8230; (John 1:11a).</td>
		</tr>
		<tr>
			<td>REJECTED AND CONDEMNED TO DIE</td>
			<td>they conspired against him to slay him (Gen. 37:18b).</td>
			<td>We will not have this man to reign over us (Luke 19:14b).<br /><br />But they cried, saying, Crucify him! Crucify him! (Luke 23:21).</td>
		</tr>
		<tr>
			<td>STRIPPED OF HIS CLOTHING</td>
			<td>&#8230;they stripped Joseph out of his coat&#8230;that was on him (Gen 37:23b).</td>
			<td>And they stripped him (Matt. 27:28a).</td>
		</tr>
		<tr>
			<td>THROWN INTO A PIT (alone, forsaken)</td>
			<td>And they took him, and cast him into a pit (Gen. 37:24a).</td>
			<td>so shall the Son of man be three days and three nights in the heart of the earth (Matt. 12:40b).</td>
		</tr>
		<tr>
			<td>SOLD FOR SILVER INTO THE HANDS OF GENTILES</td>
			<td>&#8230;they sold Joseph to the lshmaelites twenty pieces of silver; and they brought Joseph into Egypt (Gen. 37:28b).</td>
			<td>and they bargained with him [Judas] for thirty pieces of silver (Matt. 26:15b).</td>
		</tr>
		<tr>
			<td>RAISED FROM THE PIT</td>
			<td>&#8230;and they drew and lifted up Joseph out of the pit (Gen. 37:28a).</td>
			<td>&#8230;he rose again the third day according to the scriptures (1 Cor. 15:4b).</td>
		</tr>
		<tr>
			<td>BECAME A SERVANT</td>
			<td>And Joseph was brought down to Egypt&#8230;and he was in the house of his master, the Egyptian (Gen. 39:1-2).</td>
			<td>I am among you as he that serveth (Luke 22:27b).<br /><br />&#8230;took upon him the form of a servant (Phil. 2:7b).</td>
		</tr>
		<tr>
			<td>EVERYTHING HE DID PROSPERED</td>
			<td>And&#8230;the LORD made all that he did to prosper in his hand (Gen. 39:3b).</td>
			<td>and the pleasure of the LORD shall prosper in his hand (Isaiah 53:10b).</td>
		</tr>
		<tr>
			<td>RESISTED TEMPTATION</td>
			<td>The temptation by Potiphar's wife (Read Gen. 39:7-12).</td>
			<td>For such an high priest was fitting&#8230;who is holy, harmless, undefiled, separate from sinners&#8230;(Heb. 7:26).<br /><br />&#8230;[he) was in all points tempted like as we are, yet without sin (Heb. 4:15b).</td>
		</tr>
		<tr>
			<td>FALSELY ACCUSED</td>
			<td>The Hebrew servant, whom thou hast brought unto us, came in unto me to mock me (Gen. 39:17-18).</td>
			<td>At the last came two false witnesses, And said&#8230; (Matt. 26:60b, 61a).</td>
		</tr>
		<tr>
			<td>NUMBERED WITH TRANSGRESSORS</td>
			<td>And Joseph's master&#8230;put him into the prison, a place where the king's prisoners were bound (Gen. 39:20a).</td>
			<td>&#8230;there they crucified him, and the malefactors, one on the right hand, and the other on the left (Luke 23:33).</td>
		</tr>
		<tr>
			<td>PROMISED DELIVERANCE TO A CONDEMNED MAN</td>
			<td>Yet within three days shall Pharaoh lift up thine head, and restore thee&#8230; (Gen. 40:13).</td>
			<td>Today shalt thou be with me in paradise (Luke 23:43b).</td>
		</tr>
		<tr>
			<td>FORETOLD THE FUTURE ACCURATELY</td>
			<td>And it came to pass, as he interpreted to us (Gen. 41:13a).</td>
			<td>Now I tell you before it come, that, when it is come to pass, ye may believe that I am he (John 13:19).</td>
		</tr>
		<tr>
			<td>PROVED TO BE A GREAT COUNSELLOR</td>
			<td>&#8230;Forasmuch as God hath shown thee all this, there is none so discreet and wise as thou art (Gen. 41:39).</td>
			<td>and his name shall be called Wonderful, Counsellor&#8230; (Isa. 9:6b).</td>
		</tr>
		<tr>
			<td>PROMOTED TO HONOR AND GLORY AND GIVEN A NEW NAME</td>
			<td>And Pharaoh said unto Joseph, See I have set thee over all the land of Egypt (Gen. 41:41). (See also Gen. 41:45a.)</td>
			<td>&#8230;God also hath highly exalted him, and given him a new name which is above every name (Phil. 2:9).</td>
		</tr>
		<tr>
			<td>ALL PEOPLE COMMANDED TO BOW TO HIM</td>
			<td>and they cried before him, Bow the knee (Gen. 41:43b).</td>
			<td>That at the name of Yeshua every knee should bow (Phil. 2:10a).</td>
		</tr>
		<tr>
			<td>PROVIDED FOR ALL IN NEED</td>
			<td>And all the countries came&#8230;to Joseph to buy grain (Gen. 41:57a).</td>
			<td>&#8230;I am the bread of life; he that cometh to me shall never hunger (John 6:35a).</td>
		</tr>
		<tr>
			<td>HIS PEOPLE DID NOT RECOGNIZE HIM</td>
			<td>And Joseph knew his brethren, but they knew not him (Gen. 42:8).</td>
			<td>&#8230;Have I been such a long time with you, and yet hast thou not known me&#8230;? (John 14:9a).<br /><br />But their minds were blinded (2 Cor. 3:14a).</td>
		</tr>
		<tr>
			<td>HIS BROTHERS WERE TROUBLED WHEN THEY MET HIM</td>
			<td>&#8230;be not grieved nor angry with yourselves (Gen. 45:5a).v</td>
			<td>They shall look upon me whom they have pierced, and they shall mourn&#8230;and shall be in bitterness&#8230; (Zech. 12:10b).</td>
		</tr>
		<tr>
			<td>ALLOWED HIS BROTHERS TO SUFFER A PERIOD OF TRIBULATION</td>
			<td>Read Gen. 42:6 through 44:34.</td>
			<td>it is even the time of Jacob's trouble (Jer. 30:7b).<br /><br />For then shall be great tribulation (Matt. 24:21a).</td>
		</tr>
		<tr>
			<td>REVELATION AND RECONCILIATION</td>
			<td>I am Joseph&#8230;whom ye sold&#8230;God hath made me lord of all&#8230;come&#8230;unto me&#8230; (Gen. 45:3b-9).</td>
			<td>And so all Israel shall be saved;&#8230;as it is written&#8230;and shall turn away ungodliness from Jacob (Rom. 11:26).</td>
		</tr>
	</table>
</div>

@code {

}
