
<VerseModalTemplate QuotedVerse="Enums.QuotedVerse.Deu_17_18_19">
	<VerseBody>
		<p class="fs-5">
			<sup class="text-primary"><b>18</b></sup> And it shall be, when he sitteth upon the throne of his kingdom, 
			that he shall write him a <b>copy of this law in a book</b> out of that which is before the priests the Levites:
			<sup class="text-primary"><b>19</b></sup> And it shall be with him, and he shall read therein all the days of his life: 
			that he may <b></b>learn to <b>fear the LORD his God</b>, to <b>keep all the words</b> of this <b>law</b> and these <b>statutes</b>, to <b>do them</b>:
		</p>
	</VerseBody>
</VerseModalTemplate>

@code {
}
