
<VerseModalTemplate QuotedVerse="Enums.QuotedVerse.Exo_19_06">
	<VerseBody>
		<p class="fs-5">
			<sup class="text-primary"><b>6</b></sup>
			And ye shall be unto me <b>a kingdom of priests</b>, and an <b>holy nation</b>. 
			These are the words which thou shalt speak unto the children of Israel.
		</p>
	</VerseBody>
</VerseModalTemplate>

@code {

}
