@using MyHebrewBible.Client.Helpers

<VerseModalTemplate QuotedVerse="Enums.QuotedVerse.Gen_02_15">
  <VerseBody>
    <p class="fs-5">
      <sup class="text-primary"><b>15</b></sup> 
      And the LORD God took the man, and put him into the garden of Eden 
      to dress it <b>and to keep it</b> <span class="hebrew">וּלְשָׁמְרָהּ</span> @GlobalEnums.BibleAnchors.StrongsH(8104, "shamar").
    </p>
  </VerseBody>
</VerseModalTemplate>

@code {

}

