<VerseModalTemplate QuotedVerse="Enums.QuotedVerse.Jam_02_18">
	<VerseBody>
		<p class="fs-5">
			<sup class="text-primary"><b>18</b></sup> Yea, a man may say, Thou hast faith, and I have works: 
			shew me thy faith without thy works, and I will shew thee my faith by my works.
		</p>
	</VerseBody>
</VerseModalTemplate>

@code {

}
