@using MyHebrewBible.Client.Helpers

<VerseModalTemplate QuotedVerse="Enums.QuotedVerse.Joh_20_31">
  <VerseBody>
    <p class="fs-5">
      <sup class="text-primary"><b>31</b></sup> 
      But these are written, that ye might believe that Yeshua is the Messiah, 
      the Son of God; and that believing ye might have life through his name.
    </p>
  </VerseBody>
</VerseModalTemplate>

@code {
  //@Enums.BibleAnchors.StrongsG(1391, "doxa")
  const string id = "Joh2031";  // href="#Joh2031"
}
