<VerseModalTemplate QuotedVerse="Enums.QuotedVerse.Mat_22_15_22">
	<VerseBody>
		<p class="fs-5">
			<sup class="text-primary"><b>15</b></sup> Then went the Pharisees, and took counsel how they might entangle him in [his] talk.
			<sup class="text-primary"><b>16</b></sup> And they sent out unto him their disciples with the Herodians, saying, Master, we know that thou art true, and teachest the way of God in truth, neither carest thou for any [man]: for thou regardest not the person of men.
			<sup class="text-primary"><b>17</b></sup> Tell us therefore, What thinkest thou? Is it lawful to give tribute unto Caesar, or not?
			<sup class="text-primary"><b>18</b></sup> But Jesus perceived their wickedness, and said, Why tempt ye me, [ye] hypocrites?
			<sup class="text-primary"><b>19</b></sup> Shew me the tribute money. And they brought unto him a penny.
			<sup class="text-primary"><b>20</b></sup> And he saith unto them, Whose [is] this image and superscription?
			<sup class="text-primary"><b>21</b></sup> They say unto him, Caesar's. Then saith he unto them, Render therefore unto Caesar the things which are Caesar's; and unto God the things that are God's.
			<sup class="text-primary"><b>22</b></sup> When they had heard [these words], they marvelled, and left him, and went their way.
		</p>

	</VerseBody>
</VerseModalTemplate>

@code {

}
