
<VerseModalTemplate  QuotedVerse="Enums.QuotedVerse.Rev_12_17">
	<VerseBody>
		<p class="fs-5">
			<sup class="text-primary"><b>17</b></sup> And the dragon @GlobalEnums.BibleAnchors.StrongsG(1404, "drakōn")
			was wroth with the woman, and went to make war with the remnant of her seed, which <b>keep the commandments of God</b>,
			and <b>have the testimony of Yeshua Messiah</b>.
		</p>
	</VerseBody>
</VerseModalTemplate>

@code {
	// <sup><a href="/Strongs/G1404">G1404</a></sup>
	//@Enums.BibleAnchors.StrongsG(1391, "doxa")
}
