@using H = MyHebrewBible.Client.Features.Haggadah.Helper

<p class="@H.VerseClass">
	<b>@Title</b><br />
	@((MarkupString)H.VerseIcon)
	<sup class="@H.VerseSupClass">16</sup>
	¿Qué porción tenemos en David? No tenemos herencia en el hijo de Isaí.
</p>

@code {

	[Parameter, EditorRequired] public string? Title { get; set; }
}
