<div class="card border-primary mt-2 mb-4">
	<div class="card-header">
		<CardHeader BookAndChapter="BookAndChapter"
								BCV="@Verse!.BCV"
								VerseNumber="Verse!.Verse"
								OnClose="ReturnedCloseEventPassThrough" />
	</div>
	<div class="card-body">
		<ParagraphWithWordButtons ScriptureId="ScriptureId"
															OnWordSelected="ReturnedStrongsPassThrough" />
	</div>
	<HebrewTable ScriptureId="ScriptureId"
							 WordSelected="WordSelected" />
</div>

@code {
	/*
	[Parameter, EditorRequired] public ParashaWithAT? Verse { get; set; }
	[Parameter, EditorRequired] public BookChapterWithAT? Verse { get; set; }
	*/
	[Parameter, EditorRequired] public ReportModel? Verse { get; set; }

	[Parameter, EditorRequired] public BookAndChapter? BookAndChapter { get; set; }
	[Parameter, EditorRequired] public long ScriptureId { get; set; }
	[Parameter, EditorRequired] public WordSelected? WordSelected { get; set; }

	[Parameter] public EventCallback<WordSelected?> OnWordSelected { get; set; }
	[Parameter] public EventCallback OnClose { get; set; }

	private void ReturnedCloseEventPassThrough()
	{
		OnClose.InvokeAsync();
	}

	private void ReturnedStrongsPassThrough(WordSelected wordSelected)
	{
		OnWordSelected.InvokeAsync(wordSelected);
	}

}
