@using MyHebrewBible.Client.Helpers

<button @onclick="ButtonClick" class="btn @GetButtonClass() @BtnSize.Md" title="@GetTitle()">
	<i class='@Icon.Toggle.Get(IsFiltered)'></i>
</button>

@code {
	[Parameter, EditorRequired] public bool IsFiltered { get; set; }
	[Parameter] public EventCallback<bool> OnFilter { get; set; }

	protected string GetButtonClass() => IsFiltered ? BtnColors.Success : BtnOutlineColors.Secondary;
	protected string GetTitle() => IsFiltered ? "  Filtering" : "  Not filtering";

	protected void ButtonClick()
	{
		IsFiltered = !IsFiltered;
		OnFilter.InvokeAsync(IsFiltered);
	}
}
