@using MyHebrewBible.Client.Enums

<div class="card border-warning mb-2">
	<div class="card-header"><h6>@nameof(Typeahead)</h6></div>

	<div class="card-body pb-0">
		<div class="d-flex justify-content-start">

			<div class="pe-2">
				<b>Msg...</b><br /> @Msg
			</div>

			<div class="pe-2">
				<div class="pe-3">
					<b>BibleBookGottenFromParent:</b><br /> @($"{BibleBookGottenFromParent}")	
				</div>
			</div>

			<div class="pe-2">
				<div class="pe-3">
					<b>SelectedBook:</b><br /> @($"{SelectedBook}")
				</div>
			</div>

			<div class="pe-2">
				<div class="pe-3">
					<b>ReturnedBookAndChapterFromChapterButtons:</b><br /> @($"{ReturnedBookAndChapterFromChapterButtons}")
				</div>
			</div>

		</div>
		@*_err: *@
	</div>

</div>

@code {
	[Parameter, EditorRequired] public string? Msg { get; set; }
	[Parameter, EditorRequired] public BibleBook? BibleBookGottenFromParent { get; set; }  
	[Parameter, EditorRequired] public BibleBook? SelectedBook { get; set; }
	[Parameter, EditorRequired] public string? ReturnedBookAndChapterFromChapterButtons { get; set; }
	//


}
