@using MyHebrewBible.Client.Helpers

<p class="float-end">
	<sup class="@TextColors.Info"><i class="@Icon.Hand.Up"></i> </sup>
	<sup class="@TextColors.Danger"><i class="@Icon.Hand.Down"></i> </sup>
</p>

@code {

}
