@using MyHebrewBible.Client.Helpers

<div class="btn-group-vertical btn-group-sm dropstart" role="group" aria-label="Vertical button group">
	<button type="button" class="btn @buttonColor dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
		<i class="fas fa-cogs"></i>
	</button>
	<ul class="dropdown-menu">
		@foreach (var item in Enums.MenuItem.List)
		{
			<li class="dropdown-item">
				<button @onclick="@(e => ButtonClick(item))"
				type="button" class="btn btn-outline-primary">
					<span class="@headerColor">@item.Title</span>
				</button>
			</li>
		}
	</ul>

</div>

@code {
	[Parameter] public EventCallback<Enums.MenuItem> OnMenuItemSelected { get; set; }
	
	string buttonColor => BtnColors.Primary;
	string headerColor => TextColors.Success;
	
	private void ButtonClick(Enums.MenuItem item)
	{
		OnMenuItemSelected.InvokeAsync(item);
	}

}
