@using MyHebrewBible.Client.Layout
@using MyHebrewBible.Client.Features.BookChapter.Toolbar.PreviousNext
@using MyHebrewBible.Client.Features.BookChapter.Toolbar.NumberPad
@using MyHebrewBible.Client.Enums

@inject ILogger<Navbar>? Logger

<nav class="navbar navbar-expand bg-primary-subtle fixed-top">

	<div class="collapse navbar-collapse justify-content-start">
		<div class="ps-1"><HomeDropdown OnBCVSelected="OnBCVSelected" /></div>
	</div>

	@if (CurrentBookAndChapter is null)
	{
		<text><span class="text-center fw-bold fst-italic">CurrentBookAndChapter is null</span></text>
	}
	else
	{
		<div class="collapse navbar-collapse justify-content-center">
			<div class="">
				@if (CurrentBookAndChapter.BibleBook!.NavigationPrevious(CurrentBookAndChapter.Chapter).BibleBook is not null)
				{
					<PreviousOrNextButton BookAndChapter="CurrentBookAndChapter"
																IsPrevious=true
																OnBookAndChapterSelected="ReturnedBookAndChapter" />
				}
				else
				{
					<OnEdgeButton />
				}

			</div>

			<div class="px-1">
				<div class="@MediaQuery.Xs.DivClass">
					<Picker CurrentBCV="CurrentBCV" OnBCVSelected="ReturnedBCV" IsXs="true" />
				</div>
				<div class="@MediaQuery.SmOrMdOrLgOrXl.DivClass">
					<Picker CurrentBCV="CurrentBCV" OnBCVSelected="ReturnedBCV" IsXs="false" />
				</div>

			</div>

			@if (CurrentBookAndChapter.BibleBook!.NavigationNext(CurrentBookAndChapter.Chapter).BibleBook is not null)
			{
				<PreviousOrNextButton BookAndChapter="CurrentBookAndChapter"
															IsPrevious=false
															OnBookAndChapterSelected="ReturnedBookAndChapter" />
			}
			else
			{
				<OnEdgeButton />
			}

		</div>
	}

	<div class="collapse navbar-collapse justify-content-end pe-1">
		<ConfigureDropdown OnMenuItemSelected="@ReturnedMenuItem" />
	</div>
</nav>

@code {
	// Only used by <PreviousOrNextButton>
	[Parameter, EditorRequired] public BookAndChapter? CurrentBookAndChapter { get; set; }
	[Parameter, EditorRequired] public EventCallback<BookAndChapter> OnBookAndChapterSelected { get; set; }

	// Only used by <Picker>
	[Parameter, EditorRequired] public NumberPad.BookChapterVerse? CurrentBCV { get; set; }
	[Parameter, EditorRequired] public EventCallback<NumberPad.BookChapterVerse> OnBCVSelected { get; set; }

	// Only used by <ConfigureDropdown>
	[Parameter, EditorRequired] public EventCallback<Enums.MenuItem> OnMenuItemSelected { get; set; }

	private string TitleOrAbrv => CurrentBookAndChapter!.BibleBook!.Title;

	//Called by <PreviousOrNextButton>
	private void ReturnedBookAndChapter(BookAndChapter bookAndChapter)
	{
		//Logger!.LogInformation("{Method}, BookAndChapter: {BookAndChapter}", nameof(ReturnedBookAndChapter), bookAndChapter);
		OnBookAndChapterSelected.InvokeAsync(bookAndChapter);
	}

	//Called by <Picker>
	private void ReturnedBCV(NumberPad.BookChapterVerse bcv)
	{
		//Logger!.LogInformation("{Method}, BookChapterVerse: {BookChapterVerse}", nameof(ReturnedBCV), bcv);
		OnBCVSelected.InvokeAsync(bcv);
	}

	private void ReturnedMenuItem(Enums.MenuItem item)
	{
		OnMenuItemSelected.InvokeAsync(item);
	}


	// Ignore Spelling: Toolbar
}
