
<nav class="navbar navbar-expand bg-primary-subtle fixed-top">

	<div class="collapse navbar-collapse justify-content-start">
		<div class="ps-1">
			@JustifyStart
		</div>
	</div>

	<div class="collapse navbar-collapse justify-content-center">

		<!--  <div class="">...</div> -->
		@PrevButtonDiv

		<div class="px-1">
			@PickerDiv
		</div>

		<!--  <div class="">...</div> -->
		@NextButtonDiv
	</div>

	<div class="collapse navbar-collapse justify-content-end pe-1">
		@JustifyEnd
	</div>

</nav>

@code {
	[Parameter, EditorRequired] public RenderFragment? JustifyStart { get; set; }
	[Parameter, EditorRequired] public RenderFragment? PrevButtonDiv { get; set; }
	[Parameter, EditorRequired] public RenderFragment? PickerDiv { get; set; }
	[Parameter, EditorRequired] public RenderFragment? NextButtonDiv { get; set; }
	[Parameter, EditorRequired] public RenderFragment? JustifyEnd { get; set; }

	//[Parameter, EditorRequired] public RenderFragment? JustifyCenter { get; set; }
}
