
<PageInstructionModal >
	<ChildHeaderContent>
		<h4 class="modal-title">Drill down to see the Hebrew❗</h4>
	</ChildHeaderContent>
	<ChildBodyContent>
		<p class="mt-3"><b>1<sup>st</sup></b> Click the verse number e.g. <sup class="btn btn-outline-primary py-0 px-1"><b>1</b></sup>.</p>
		<p class="ms-3 mt-1">
			This will highlight selected verse and breaking it down into word segments.
			<br /> e.g. <span class="bg-info-subtle me-2 text-decoration-underline">In the beginning</span> <span class="bg-info-subtle text-decoration-underline me-2">God</span> <span class="bg-info-subtle me-2">...</span>
		</p>
		<p class="mt-4"><b>2<sup>nd</sup></b> Click one of the word segment to see the Hebrew word.</p>
		<p class="ms-3 mt-1">This will show the Hebrew word(s) that correspond to the chosen word segment.</p>
	</ChildBodyContent>
</PageInstructionModal>

@code {
	
}
