@page "/HealthChecks/VerseList"
@using MyHebrewBible.Client.Enums
@using MyHebrewBible.Client.Components

@using Page = MyHebrewBible.Client.Enums.Nav

<PageHeader PageEnum="Page.HealthCheckVerseList" />

<div class="d-flex justify-content-start mb-3">

	<div class="p-2 bd-highlight">
		<ul class="">
			<li class=""><a class="" href="/VerseList/1/2">VerseList/1/2</a></li>
			<li class=""><a class="" href="/VerseList/2/1">VerseList/2/1</a></li>
			<li class=""><a class="" href="/VerseList/1/303">VerseList/1/303</a></li>
		</ul>
	</div>

</div>

@code {

}
