@page "/HealthChecks/VerseList"
@using MyHebrewBible.Client.Enums
@using MyHebrewBible.Client.Components

@using Page = MyHebrewBible.Client.Enums.Nav

<PageHeader PageEnum="Page.HealthCheckVerseList" />

<h5>Api Calls</h5>
<div class="d-flex justify-content-start mb-3">

	<div class="p-2 bd-highlight">
		<ul class="">
			<li class=""><a class="" href="/api/VerseList/99/1/1/1">VerseList/99/1/1/1</a></li>
			<li class=""><a class="" href="/api/VerseList/1/99/1/1">VerseList/1/99/1/1</a></li>
			<li class=""><a class="" href="/api/VerseList/-1/1/1/1">VerseList/-1/1/1/1</a></li>
			<li class=""><a class="" href="/api/VerseList/">VerseList/</a></li>
			<li class=""><a class="" href="/api/VerseList/1/2/3/4">VerseList/1/2/3/4</a></li>
		</ul>
	</div>

</div>

<h5>Page Calls</h5>
<div class="card-body px-0">
	<a href="/VerseList/1/1/1/1">1/1/1/1</a>&nbsp;&nbsp;
	<a href="/VerseList/99/1/1/1">99/1/1/1</a>&nbsp;&nbsp;
	<a href="/VerseList/1/99/1/1">1/99/1/1</a>&nbsp;&nbsp;
	<a href="/VerseList/1/1/99/1">1/1/99/1</a>&nbsp;&nbsp;
	<a href="/VerseList/1/1/1/99">1/1/1/99</a>&nbsp;&nbsp;

	<a href="/VerseList/1/1/0/0">1/1/0/0</a>&nbsp;&nbsp;
	<a href="/VerseList/-1/1/1/1/1">-1/1/1/1</a>&nbsp;&nbsp;
	<a href="/VerseList/1/1/30/30">1/1/30/30</a>&nbsp;&nbsp;
	<a href="/VerseList/1/1/31/31">1/1/31/31</a>&nbsp;&nbsp;
	<a href="/VerseList/1/1/32/32">1/1/32/32</a>&nbsp;&nbsp;
	<a href="/VerseList/1/1/31/30">1/1/31/30</a>&nbsp;&nbsp;
	<a href="/VerseList">/VerseList</a>&nbsp;&nbsp;
</div>



@code {

}
