
&nbsp;<button @onclick="@(e => ButtonClick(ScriptureId))"
				type="button" class="btn btn-outline-primary btn-xs" title="@ScriptureId">
	<i class="fas fa-chevron-down"></i>
</button>


@code {
	[Parameter, EditorRequired] public int ScriptureId { get; set; }
	[Parameter] public EventCallback<int> OnVerseSelected { get; set; }

	private void ButtonClick(int scriptureId)
	{
		//Toast!.ShowWarning($"DrillDown|ButtonClick {scriptureId}!{verse}");
		OnVerseSelected.InvokeAsync(scriptureId);
	}
}
