@page "/BibleList/GospelHarmony"
@using MyHebrewBible.Client.Enums;
@using MyHebrewBible.Client.Features.Lists.Components
@using Page = MyHebrewBible.Client.Features.Lists.MenuItemConstants.GospelHarmony

<PageHeader PageEnum="@MyHebrewBible.Client.Enums.Nav.BibleList" PageTitle="@Page.Title" />
<SubNavBar ActiveMenuItem="@MenuItems.GospelHarmony" />

<p class="text-danger">NOT DONE YET!</p>

<p>
	A sample <a href="https://en.wikipedia.org/wiki/Gospel_harmony" title="Gospel harmony" target="_blank">Gospel harmony</a>. <sup><span class="fa fa-external-link"></span></sup>
	Usually, no parables are associated with the
	<a href="https://en.wikipedia.org/wiki/Gospel_of_John" title="Gospel of John" target="_blank">Gospel of John</a>, <sup><span class="fa fa-external-link"></span></sup>
	just allegories. <sup>[15]</sup>
</p>

<br />

@code {

}
