@page "/HomeMhbVer6/AboutMyReligion"

@using Page = MyHebrewBible.Client.Features.HomeMhbVer6.Enums.MenuItems
@using MyHebrewBible.Client.CommonVerses

<PageHeader PageEnum="@GlobalEnums.Nav.HomeMhbVer6" PageTitle="@Page.AboutMyReligion.Title" />

<SubNavbar ActiveMenuItem="@Enums.MenuItems.AboutMyReligion" />


<div class="card card-border-info my-2">
	<div class="card-header">
		<h4>My Belief</h4>
	</div>
	<div class="card-body">
		<p class='fs-5'>
			Indicative of what you believe in is what you spend your time on and what your passionate about.
			Show me what you do and I will show you your god see <Jam_02_18 />.
			I would say at least from a religious perspective that my passion is studying Scripture and specifically seeking out it’s law form which is Torah.
			There is more to simply understanding Torah you need to do Torah, therefore I am Torah observant.
			I more or less came from a Christian background and so I still believe that Y’shua of Nazareth (whom I use to call Jesus) is the Messiah.
			What I don’t believe anymore from Christianity is that the Torah has been done away with and we are not required to observe it.
			These two beliefs are found in <Rev_12_17 />
		</p>

		<p class="fs-5 ps-3">
			“..keep[s] the commandments of YHVH, and have the testimony of Y’shua the Messiah”.
		</p>

		<p class='fs-5'>
			Having these two beliefs simultaneously confuses a lot of people.
			People ask &quot;are you Jewish or are you Christian, how can you be both?&quot; 
			or they might say &quot;You say that you believe that Y’shua is the Messiah, but culturally you appear very Jewish&quot;.
			They might further say &quot;you can’t subscribe to Judaism and Christianity as they doctrinally disagree on some very fundamental issues&quot;.
			With regard to the doctrinal issues I would agree you can’t be both this is because I try my best to do what Scripture says 
			and don’t let these religious institutions get in my way i.e. 
			<a href="http://en.wikipedia.org/wiki/Sola_scriptura" target="_blank">Sola Scriptura</a>.
		</p>
	</div>
</div>


<div class="card card-border-info my-2">
	<div class="card-header">
		<h4>My Faith</h4>
	</div>
	<div class="card-body">

		<p class='fs-5'>
			My faith is that I have the witness and testimony that Y’shua of Nazareth is the Messiah, 
			the Son of Elohim and that believing I will might have life through his name <Joh_20_31 />
		</p>
		<p class='fs-5'>
			Because of my belief and my faith I can make the following conclusions about what the most important thing you have in your life 
			which is your relationship with the Creator, and that this relationship is articulated as a covenant/contract called the Torah.
			Further, with my covenant/contract it behooves me to 
			<a href="http://en.wikipedia.org/wiki/Shema_Yisrael" target="_blank"><i>Sh'ma</i></a> 
			which is Hebrew for hear and do.	<Deu_06_04 />

			Also with my covenant/contract I want to <em>Shamar</em> which is Hebrew for guard or keep as in Adam was told to "shomer" the garden
			@* <Gen_02_15 />. *@
		</p>

		<div class="card-footer">
			<p class='fs-5'>Shalom, John</p>
		</div>
	</div>
</div>


@code {

}
