@page "/HomeMhbVer6"
@using MyHebrewBible.Client.CommonVerses

<PageHeader PageEnum="@MyHebrewBible.Client.Enums.Nav.HomeMhbVer6" />

<SubNavbar ActiveMenuItem="Enums.MenuItems.Home" />

@using MyHebrewBible.Client.Enums

<div class="text-center">
	<h1 class=""><span class="mhb-site-title text-info">My Hebrew Bible</span></h1>
	<h4 class=""><span class="hebrew text-info">התנ ך שלי</span></h4>
	<h3 class="text-default">A cool place to study scriptures</h3>
	<h6 class="text-warning">*** This is information pulled from the previous version of My Hebrew Bible ***</h6>
</div>

<div class="container">
	<br />
	<IndexContent />
</div>


@*

 namespace MyHebrewBible.Web.Pages.HomeMhbVer6
	public static class PartialViews
	{
		public const string IndexContentAmericanBirthright = "_IndexContentAmericanBirthright";
		public const string IndexContentMarsingsMs = "_IndexContentMarsingsMs";
		public const string IndexContentMoreOnLaw = "_IndexContentMoreOnLaw";
		public const string IndexContentWhyTheName = "_IndexContentWhyTheName";
	}
*@