@page "/HomeMhbVer6/MarsingsMaxim"

@* @using Page = MyHebrewBible.Client.Features.HomeMhbVer6.Enums.MenuItems *@

<PageHeader PageEnum="@GlobalEnums.Nav.HomeMhbVer6" PageTitle="@Enums.MenuItems.MarsingsMaxim.Title" />

<SubNavbar ActiveMenuItem="@Enums.MenuItems.MarsingsMaxim" />

<div class="card card-border-info my-2">
	<div class="card-header">
		<h4>Motto</h4>
	</div>
	<div class="card-body">
		<blockquote>
			<p class="text-danger fs-5">
				Nothing, nothing, nothing is more important than my covenant/contract with the Creator of the Universe
			</p>
			<small>Marsing&apos;s Motto</small>
		</blockquote>
		<p class='fs-5'>
			If this covenant/contract, a spiritual marriage proposal <i>Katubah</i>, given by <b>YHVH</b>, the Creator of the Universe, to Israel,
			is the most awesome the most important thing then the opposite of that would be a <b>Bill of Divorce</b>.
		</p>
	</div>
</div>


<div class="card card-border-info my-2">
	<div class="card-header"><h4>Maxim #1</h4></div>
	<div class="card-body">
		<blockquote>
			<p class=''>It is through law that you will have great clarity regarding your religion</p>
			<small>Marsing&apos;s #1 Maxim <cite title="Source Title">MHB website</cite></small>
		</blockquote>
		<p class='fs-5'>
			For more on this, see the document <b>Pure Religion</b> which quotes the definition for religion from the Webster&apos;s 1828 dictionary.
			This is a great definition for because it uses many legal terms.
		</p>
	</div>
</div>

<div class="card card-border-info my-2">
	<div class="card-header"><h4>Mission Statement</h4></div>
	<div class="card-body">
		<blockquote>
			<p><i>Tikkun olam b&apos;malkhut Shaddai</i>. Translation: Repair the world in the Kingdom of Shaddai (God)</p>
			<small>Marsing&apos;s Mission Statement </small>
		</blockquote>
		<p class='fs-5'>
			<b>Consider these adages</b>
			<ul class="fs-5">
				<li>Fail to plan, plan to fail</li>
				<li>If you never set a goal you will always hit it</li>
			</ul>
		</p>
	</div>
</div>


<div class="card card-border-info my-2">
	<div class="card-header"><h4>Torah Math</h4></div>
	<div class="card-body">
		<blockquote>
			<b>Law = Contract</b> and <b>Contract = Law</b><br />
			<small>Marsing&apos;s Math</small>
		</blockquote>
		<p class='fs-5'>
			<b>Consider this</b><br />
			<ul class="fs-5">
				<li>Show me the contract and I will show you the law</li>
				<li>If you want to make law, make a contract</li>
			</ul>
			<b>Elements of a contract</b><br />
			<ol class="fs-5">
				<li>Offer</li>
				<li>Acceptance</li>
				<li>Consideration - demonstrated/evidenced by payment (<i>quid pro quo</i>)</li>
				<li>T&apos;s and C&apos;s - Terms and Conditions</li>
				<li>Meeting of the Minds</li>
			</ol>
		</p>
	</div>
</div>

@code {

}
