<h3>Sovereign</h3>
<blockquote>
	1. A chief ruler with supreme power; one possessing sovereignty. (q. v.) It is also applied to a king or other magistrate with limited powers.
	<br /><br />
	2. In the <b>United States the sovereignty resides in <u>the body of the people</u></b>. <sup class="text-muted">Vide Rutherf. Inst. 282.</sup>

	<br /><br />
	<small><cite title="Source Title">Bouvier's 1856 Law Dictionary</cite></small>
</blockquote>
<p>
	<b>My Commentary</b> Don't tell me I'm not and can never be a sovereign...take it up with the Supreme Court of the United States as Bouvier's was their Law Dictionary.
	In the United States the sovereignty resides in the body of the people.
	Contrast this with the European view of the divine right of kings.
	I have a king to whom I'm bond and subject, he is the King of kings (sovereigns) Y'shua of Nazareth.
</p>
