@if (BibleVerse == null)
{
	<p><em>BibleVerse is Loading...</em></p>
}
else
{
	<p class="fs-5">

		<sup class="py-0 px-1">
			<b>@BibleVerse.Verse</b>
		</sup>

		@if (BibleVerse.VerseOffset != "NULL")
		{
			<sup class="text-black-50">&nbsp;@BibleVerse.VerseOffset&nbsp;</sup>
		}
		else
		{
			<text>&nbsp;</text>
		}
		@((MarkupString)@BibleVerse.KJV!)
	</p>

}

@code {
	[Parameter, EditorRequired] public BibleVerse? BibleVerse { get; set; }
}
