@if (BibleVerseAT == null)
{
	<p><em>BibleVerseAT is Loading...</em></p>
}
else
{
	<p class="fs-5">

		<sup class="py-0 px-1">
			<b>@BibleVerseAT.Verse</b>
		</sup>

		@if (BibleVerseAT.VerseOffset != "NULL")
		{
			<sup class="text-black-50">&nbsp;@BibleVerseAT.VerseOffset&nbsp;</sup>
		}
		else
		{
			<text>&nbsp;</text>
		}
		@((MarkupString)BibleVerseAT.KJV!)
	</p>

}

@code {
	[Parameter, EditorRequired] public BibleVerseAT? BibleVerseAT { get; set; }
}
