
<PageInstructionModal >
	<ChildHeaderContent>
		<h4 class="modal-title">Introduction</h4>
	</ChildHeaderContent>
	<ChildBodyContent>

		<blockquote>
			<p class="card-text fs-5">
				The importance of these select verses is to show the theme and purpose of why I created <span class="mhb-site-title"><b>MHB</b></span> <sup>&dagger;</sup> and what I am trying to convey.
				How better to express this intent than with the actual words of God by highlighting key verses.
				The page follows the &quot;First state the facts and then give your opinion&quot; <sup>&Dagger;</sup> pattern.
				<br />The theme of this list attempts to show, what <span class="mhb-site-title"><b>MHB</b></span> deems to be, the weightier matters of scripture which is the law and all that law encompasses.
				For example the commentary is full of legal speak which could be thought of as a brief or a
				<a title="memorandum of law" target="_blank"
					 href="http://en.wikipedia.org/wiki/Brief_(law)">
					<b>memorandum of law</b>
				</a>.
				<sup>
					<i class="fas fa-external-link-alt" aria-hidden="true">&nbsp;</i><i class="fab fa-wikipedia-w" aria-hidden="true"></i>
				</sup>
			</p>
			<small class="float-end fs-5"><cite title="Author: John Marsing">John Marsing</cite></small>
		</blockquote>

	</ChildBodyContent>
</PageInstructionModal>

@code {
	
}
