@using MyHebrewBible.Client.Enums
@inject IToastService? Toast

<div class="card mt-4 mb-3 border-warning">
	<div class="card-header">
		<h4 class="text-center">Book Keyboard <i class="far fa-keyboard"></i></h4>
	</div>

	<div class="card-body">
		<QwertyKeyboard OnKeyClick="HandleKeyClick" />
	</div>

</div>

@code {
	private void HandleKeyClick(char key)
	{
		Toast!.ShowInfo($"{key}");
	}
}
