
<button @onclick="@(e => ButtonClick(ScriptureId, VerseNumber))"
				type="button" class="btn btn-outline-primary btn-xs" title="@ScriptureId : @VerseNumber">
	<i class="fas fa-chevron-down"></i>
</button>


@code {
	[Parameter, EditorRequired] public long ScriptureId { get; set; }
	[Parameter, EditorRequired] public long VerseNumber { get; set; }
	[Parameter] public EventCallback<ScriptureIdAndVerseNumber> OnVerseSelected { get; set; }

	private void ButtonClick(long scriptureId, long verse)
	{
		//Toast!.ShowWarning($"DrillDown|ButtonClick {scriptureId}!{verse}");
		OnVerseSelected.InvokeAsync(new ScriptureIdAndVerseNumber(scriptureId, verse));
	}
}
