@page "/Haggadah2"

@using MyHebrewBible.Client.Features.Haggadah.Enums
@using MyHebrewBible.Client.Features.Haggadah.Toolbar
@using Page = MyHebrewBible.Client.Enums.Nav

<PageTitle>@Page.Haggadah.Title</PageTitle>

<NavbarHaggadah Section="Section"
OnMenuItemSelected="ReturnedMenuItem"
OnSectionSelected="ReturnedSection" />

<LoadingProgress>
	<div class="mt-5">
		@if (CurrentContent is not null)
		{
			<ContentSkeleton Content=CurrentContent Language="Language">
				<EngBody>
					@foreach (var detailEng in Enums.ContentDetail.List
															.Where(w => w.ParentId == CurrentContent!.Value)
															.OrderBy(o => o.Value).ToList())
					{
						@((MarkupString)detailEng.EngBody)
					}
				</EngBody>

				<EspBody>
					@foreach (var detailEsp in Enums.ContentDetail.List
															.Where(w => w.ParentId == CurrentContent!.Value)
															.OrderBy(o => o.Value).ToList())
					{
						@((MarkupString)detailEsp.EspBody)
					}
				</EspBody>

			</ContentSkeleton>
		}
		else
		{
			<div class="card border-danger mb-3 mt-5">
				<div class="card-body text-center fs-1">No Haggadah Section Found <br /> (◡︵◡)</div>
			</div>
		}
	</div>

</LoadingProgress>

@code {
	[CascadingParameter] public CascadingAppState? State { get; set; }

	protected int Section;
	protected Enums.Content? CurrentContent;
	protected Enums.DisplayLanguage? Language;

	protected override void OnInitialized()
	{
		Language = GetLanguageState();
		Section = 1;
		CurrentContent = Enums.Content.List.FirstOrDefault(w => w.Value == Section);
	}

	private Enums.DisplayLanguage GetLanguageState()
	{
		int id = State!.AppState!.HaggadahState!.Get();

		Enums.DisplayLanguage? _language;
		if (Enums.DisplayLanguage.TryFromValue(id, out _language))
		{
			return Enums.DisplayLanguage.FromValue(id);
		}
		else
		{
			return Enums.DisplayLanguage.English;
		}
	}

	private async Task ReturnedMenuItem(Enums.DisplayLanguage item)
	{
		Language = item;
		await State!.AppState!.HaggadahState!.UpdateLanguage(item);
	}

	private void ReturnedSection(int section)
	{
		Section = section;
		CurrentContent = Enums.Content.List.FirstOrDefault(w => w.Value == Section);
		// save to local storage
	}

}
