@page "/Haggadah"

@using MyHebrewBible.Client.Features.Haggadah.Toolbar
@using Page = MyHebrewBible.Client.Enums.Nav
@using MyHebrewBible.Client.Layout
@using MyHebrewBible.Client.Enums
@using MyHebrewBible.Client.Features.Haggadah.DetailContent

@inject IToastService? Toast
@inject ILogger<Index>? Logger

<PageTitle>@Page.Haggadah.Title</PageTitle>

<NavSkeleton>

	<JustifyStart><HomeButton /></JustifyStart>

	<PrevButtonDiv>
		<PreviousOrNextButton Section="Section"
													Forward=false
													OnSectionSelected="ReturnedSection" />
	</PrevButtonDiv>

	<ProgressBarDiv>
		<div class="@MediaQuery.XsOrSm.DivClass">
			<Progressbar Section="Section" IsXsOrSm=true />
		</div>
		<div class="@MediaQuery.MdOrLgOrXl.DivClass">
			<Progressbar Section="Section" IsXsOrSm=false />
		</div>
	</ProgressBarDiv>

	<NextButtonDiv>
		<PreviousOrNextButton Section="Section"
													Forward=true
													OnSectionSelected="ReturnedSection" />
	</NextButtonDiv>

	<JustifyEnd>
		<MenuItemModalButtons OnModalSelected="ReturnedMenuItemModal" />
	</JustifyEnd>

</NavSkeleton>

<ModalSkeleton ShowMenuItem="CurrentModalToShow">
	@* Instructions *@
	<InstructionsRF>
		<PageInstructionsModal OnClose="ReturnedCloseEvent" />
	</InstructionsRF>

	@* Appendix *@

	<TenPlaguesRF>
		<ModalTemplate OnClose="ReturnedCloseEvent">
			<HeaderRF>Appendix 10 Plagues</HeaderRF>
			<BodyRF>
				<AppendixTenPlagues />
			</BodyRF>
		</ModalTemplate>
	</TenPlaguesRF>

	<EasterRF>
		<p>ToDo: add content for Appendix What about Easter</p>
		<ModalTemplate OnClose="ReturnedCloseEvent">
			<HeaderRF>Appendix What about Easter?</HeaderRF>
			<BodyRF><AppendixEaster /></BodyRF>
		</ModalTemplate>
	</EasterRF>

	<BibleVersesRF>
		<ModalTemplate OnClose="ReturnedCloseEvent">
			<HeaderRF>Appendix Bible Verses</HeaderRF>
			<BodyRF><VerseIndex /></BodyRF>
		</ModalTemplate>
	</BibleVersesRF>

	@* User Settings *@
	<LanguageRF>

		<ModalTemplate OnClose="ReturnedCloseEvent">
			<HeaderRF>Language</HeaderRF>
			<BodyRF>
				<LanguagePickerButtons OnLanguageSelected="ReturnedLanguageMenuItem" />
			</BodyRF>
		</ModalTemplate>
	</LanguageRF>

</ModalSkeleton>



<LoadingProgress>
	<div class="mt-5">
		@if (CurrentContent is not null)
		{
			if (DetailContentEng is not null && DetailContentEsp is not null)
			{
				<ContentSkeleton Content=CurrentContent Language="Language">
					<EngBody><DynamicComponent Type="DetailContentEng" /></EngBody>
					<EspBody><DynamicComponent Type="DetailContentEsp" /></EspBody>
				</ContentSkeleton>
			}
			else
			{
				<div class="card border-danger mb-3 mt-5">
					<div class="card-body text-center fs-1">DetailContentEng and/or DetailContentEsg are null <br /> (◡︵◡)</div>
				</div>
			}
		}
		else
		{
			<div class="card border-danger mb-3 mt-5">
				<div class="card-body text-center fs-1">No Haggadah Section Found <br /> (◡︵◡)</div>
			</div>
		}
	</div>

</LoadingProgress>

@code {
	[CascadingParameter] public CascadingAppState? State { get; set; }


	protected int Section;
	protected Enums.Content? CurrentContent;
	protected Enums.DisplayLanguage? Language;

	protected override void OnInitialized()
	{
		Language = GetLanguageState();
		Section = 1;
		//Logger!.LogInformation("OnParametersSet: Language: {Language}; Section: {Section}", Language, Section);
		CurrentContent = Enums.Content.List.FirstOrDefault(w => w.Value == Section);
		SetDetail();
	}

	protected Type? DetailContentEng;
	protected Type? DetailContentEsp;

	private void SetDetail()
	{
		//Logger!.LogInformation("{Method}, EngPath: {EngPath}, EspPath: {EspPath}"
		//	, nameof(SetDetail), Constants.DynamicComponentPathEng, Constants.DynamicComponentPathEsp);
		try
		{
			DetailContentEng = Type.GetType($"{Constants.DynamicComponentPathEng}.{CurrentContent!.Name}");
			DetailContentEsp = Type.GetType($"{Constants.DynamicComponentPathEsp}.{CurrentContent!.Name}");

			if (DetailContentEng is null)
			{
				Logger!.LogWarning("{Method}, DetailContentEng IS NULL; CurrentContent: {CurrentContent}"
					, nameof(SetDetail), CurrentContent);
				Toast!.ShowError($"{Global.ToastShowError} {nameof(Index)}!{nameof(OnParametersSetAsync)}");
				return;
			}

			if (DetailContentEsp is null)
			{
				Logger!.LogWarning("{Method}, DetailContentEsp IS NULL; CurrentContent: {CurrentContent}"
					, nameof(SetDetail), CurrentContent);
				Toast!.ShowError($"{Global.ToastShowError} {nameof(Index)}!{nameof(OnParametersSetAsync)}");
				return;
			}

			//Logger!.LogInformation("{Method}, DetailContentEng: {DetailContentEng}, DetailContentEsp: {DetailContentEsp}"
			//	, nameof(SetDetail), DetailContentEng?.ToString() ?? "null", DetailContentEsp?.ToString() ?? "null");
		}
		catch (Exception ex)
		{
			Logger!.LogError(ex, "{Method}", nameof(SetDetail));
			Toast!.ShowError($"{Global.ToastShowError} {nameof(Index)}!{nameof(OnParametersSetAsync)}");
		}
	}

	private Enums.DisplayLanguage GetLanguageState()
	{
		int id = State!.AppState!.HaggadahState!.Get();

		Enums.DisplayLanguage? _language;
		if (Enums.DisplayLanguage.TryFromValue(id, out _language))
		{
			return Enums.DisplayLanguage.FromValue(id);
		}
		else
		{
			return Enums.DisplayLanguage.English;
		}
	}


	private async Task ReturnedLanguageMenuItem(Enums.DisplayLanguage item)
	{
		Language = item;
		await State!.AppState!.HaggadahState!.UpdateLanguage(item);
		CurrentModalToShow = null;
	}

	private void ReturnedSection(int section)
	{
		Section = section;
		CurrentContent = Enums.Content.List.FirstOrDefault(w => w.Value == Section);
		SetDetail();
		// save to local storage
	}


	#region MenuTemplate and ModalSkeleton

	private List<Dictionary<int, string?>> menuItems = Enums.MenuItemModal.List
			.Select(item => new Dictionary<int, string?> { { item.Value, item.Title } })
			.ToList();

	protected Enums.MenuItemModal? CurrentModalToShow { get; set; }


	private void ReturnedMenuItemModal(Enums.MenuItemModal menuItemModal)
	{
		CurrentModalToShow = menuItemModal;
	}

	private void ReturnedCloseEvent()
	{
		CurrentModalToShow = null;
		//Logger!.LogInformation("{Method}, CurrentModalToShow set to null", nameof(ReturnedCloseEvent));
	}

	#endregion

}
