@using H = MyHebrewBible.Client.Features.Haggadah.Helper
@using MyHebrewBible.Client.Features.Haggadah.VerseContent


<div class='bg-info-subtle p-2'>
	<p class="@H.p4CenterBoldClass">What about Easter?</p>
	<p class="fs-4 text-center">Turns out, from a biblical perspective anyway, that's not a thing.</p>
	<ol class='fs-5 mt-2'>
		<li>
			<a href='https://myhebrewbible5.blob.core.windows.net/mhb-container/Article/Acts-12-4-The-one-and-only-occurrence-of-Easter-in-the-King-James.pdf' target='_blank'>
				Acts 12:4 - the one and only occurrence of Easter in the KJB (PDF)
			</a>
		</li>
		<li>
			<a href='https://myhebrewbible5.blob.core.windows.net/mhb-container/Article/Acts-12-4-Easter-only-in-KJV-G3957-H6453-BLB-Translations.jpg' target='_blank'>
				Acts 12:4 Word Study of Easter (Image)
			</a>
		</li>
	</ol>
</div>


@code {

}
