@using H = MyHebrewBible.Client.Features.Haggadah.Helper
@using MyHebrewBible.Client.Features.Haggadah.VerseContent

<p class="@H.pClass">
	@H.Leader("Leader")
	We renounce all false gods and idols, false holidays and worship only the one true God of Israel.
</p>

<Gal_05_22_to_23 Title="Galatians 5:22-23" />

@H.Toast("All Shout")

@code {
	
}
