@using H = MyHebrewBible.Client.Features.Haggadah.Helper
@using MyHebrewBible.Client.Features.Haggadah.DetailContent.VerseContent


@if (Language == Enums.DisplayLanguage.English)
{
	<p class="@H.pClass">ToDo</p>
}
else
{
	<p class="@H.pClass">ToDo</p>
}

@code {
	[Parameter, EditorRequired] public Enums.DisplayLanguage? Language { get; set; } = Enums.DisplayLanguage.English;
	public const string pClass4 = "fs-4 text-center fw-bold";
}
