@using H = MyHebrewBible.Client.Features.Haggadah.Helper

<h3 class='mb-3 text-center'>Welcome to the Feast of Passover</h3>
<h3 class='mb-3 text-center text-primary'>A celebration of the rescue of the House of Israel (Ephraim)</h3>

<p class='@pClass1'>Come my beloved and celebrate the festival of our redemption</p>

<p class='@pClass2'>Where bondage bows to freedom </p>
<p class='@pClass2'>Where darkness bows to light</p>
<p class='@pClass2'>Where despair bows to hope</p>
<p class='text-center text-danger fs-5 mt-1 mb-3'>Where death bows to life</p>

<p class='@pClass2'>Where faith overcomes fear</p>
<p class='@pClass2'>Where good overcomes evil</p>
<p class='@pClass2'>Where truth overcomes falsehood</p>
<p class='text-center text-danger fs-5 mt-1 mb-3'>Where joy overcomes anger</p>

<p class='@pClass2'>Where pride is replaced by humility</p>
<p class='@pClass2'>Where apathy is replaced by love</p>
<p class='@pClass2'>Where chaos is replaced by shalom</p>
<p class='@pClass2'>Where rebellion is replaced by obedience</p>

@code {
	
	public const string pClass1 = "text-center text-danger fs-5 mb-3";
	public const string pClass2 = "text-center text-danger fs-5 my-1";
}
