<p>
	We here at <b>My Hebrew Bible</b> like lists and we like law, so this page lists what Rabbinical Judaism identifies as the 613 commandments called <i>Mitzvot</i> in Hebrew.
	We are well aware that this is not an exhaustive list and that how the number was arrived at is tradition.
</p>

<p>
	Here is our understanding of how this tradition came to be.
	<blockquote>
		And he commanded them, saying, Thus shall ye speak unto my lord Esau; Thy servant Jacob saith thus,
		&nbsp;<b>I have sojourned</b><span class="strongs"><a href="http://www.blueletterbible.org/lang/lexicon/lexicon.cfm?Strongs=H3541&t=KJV"> H1481</a></span>
		with Laban, and stayed there until now:
		<small>
			<cite title="Source Title"><b>Gen 32:4</b></cite>
		</small>
	</blockquote>
</p>

<p>
	Where it says in the English <b>I have sojourned</b> it is transliterated as <span class="jt-enlarged-letter"><i>garti</i></span>.
	To find this word in the Hebrew, which is listed below, you can count the 14<sup>th</sup> word of this verse (reading from right to left) 
	it has also been enlarged and colored <span class="text-warning">yellow</span> so it's easier to see.
</p>

<span class="hebrew">וַיְצַו אֹתָם לֵאמֹר כֹּה תֹאמְרוּן לַאדֹנִי לְעֵשָׂו כֹּה אָמַר עַבְדְּךָ יַעֲקֹב עִמ־לָבָן גַּרְתִּי</span>
<span class="hebrew30 text-warning">גַּרְתִּי</span>
<span class="hebrew">עַד־עָתָּה</span>

<p class="mt-0">
	<small>
		<cite title="Source Title"><b>In the Tanach this is Gen 32:5</b></cite>
	</small>
</p>
<p>
	Using <a href="http://en.wikipedia.org/wiki/Gematria"> <i>gematria</i></a> which is a simple matter of counting the numerical values for each letter of a word,
	this word <span class="jt-enlarged-letter"><i>garti</i></span> has the numerical value of <b>613</b> and can be calculated like this ... <br /><br />
	<blockquote>Gimel = 3 + Resh = 200 + Tav = 400 + Yod = 10 = <b>613</b></blockquote>
</p>

<p>
	The (supposed) deeper interpretation of this is as follows...
	<blockquote>I (Jacob) lived with the wicked Laban, but I kept the <b>613</b> commandments and I did not learn from his evil deeds.</blockquote>
	<b>Commentary</b><br />
	<ul>
		<li>
			It is the position at <b>My Hebrew Bible</b> that Jacob is an excellent person to learn about law specifically the mistakes he made (we learn more from our mistakes than our successes).
			Unfortunately the above mention interpretation is not going to take you far, as this is an example of the critical thinking anti-pattern which goes along the lines that the patriarchs can do no wrong, and their adversaries (e.g. Esau and Laban) can do no good.
		</li>
		<li>
			What is also interesting about the enumerated commandments is the ones that <b>are not</b> added to the traditional list.
			Specifically I'm speaking of Verses Exo 23:20-24 & Deu 18:18-19.  These verses are not listed as part of the 613.
		</li>
	</ul>
</p>
<blockquote>
	<sup>20</sup>  Behold, I send an Angel before thee, to keep thee in the way, and to bring thee into the place which I have prepared.
	<sup>21</sup>  Beware of him, and obey his voice, provoke him not; for he will not pardon your transgressions: for my name is in him.
	<sup>22</sup>  But if thou shalt indeed obey his voice, and do all that I speak; then I will be an enemy unto thine enemies, and an adversary unto thine adversaries.
	<sup>23</sup>  For mine Angel shall go before thee, and bring thee in unto the Amorites, and the Hittites, and the Perizzites, and the Canaanites, the Hivites, and the Jebusites: and I will cut them off.
	<sup>24</sup>  Thou shalt not bow down to their gods, nor serve them, nor do after their works: but thou shalt utterly overthrow them, and quite break down their images.
	<small>
		<cite>
			@*<Anchor ></Anchor>*@
			@*@Html.ActionLink("Exo 23:20-24 KJV", "Verses", "Scripture", new { scriptureID_Beg = 2165, scriptureID_End = 2169, slug = "Exo-23-20-24" }, null)*@
		</cite>
	</small>
</blockquote>
<blockquote>
	<sup>18</sup>  I will raise them up a Prophet from among their brethren, like <b>unto</b> (<span class="text-danger">תא</span>) <b>thee</b>, and will put my words in his mouth; and he shall speak unto them all that I shall command him.
	<sup>19</sup>  And it shall come to pass, that whosoever will not hearken unto my words which he shall speak in my name, I will require it of him.
	<small>
		<cite>
			@*@Html.ActionLink("Deu 18:18-19 KJV", "Verses", "Scripture", new { scriptureID_Beg = 5403, scriptureID_End = 5404, slug = "Deu-18-18-19" }, null)*@
		</cite>
	</small>
</blockquote>
<p>
	<b>More commentary</b><br />
	<ul>
		<li>
			Do not think the above stated comments is just meant to be a criticism of Rabbinical Judaism.   The hearsay testimony of the <b><q>Greek Jesus</q></b> coming from antinomian Christianity which claims that the Torah (at least in part) has been done away with is just as egregious.  Read the very next verse.
		</li>
	</ul>

	<blockquote>
		<sup>20</sup>  But the prophet, which shall presume to speak a word in my name, (<span class="text-warning">תא</span>) which I have not commanded him to speak, or that shall speak in the name of other gods, even that prophet shall die.
		<small>
			<cite>
				@*@Html.ActionLink("Deu 18:20 KJV", "Verses", "Scripture", new { scriptureID_Beg = 5405, scriptureID_End = 5405, slug = "Deu-18-20" }, null)*@
			</cite>
		</small>
	</blockquote>

	<ul>
		<li>
			It’s interesting that in the this verse there’s also another standalone Aleph Tav (which I’ve indicated in the yellow warning color).  Just a thought, but could this be an indicator of the false messiah/prophet.  I’ not suggesting that the standalone Aleph Tav represents the false messiah / prophet (quite the contrary), but is portrayed by as such by the claims of those who are his supposed followers (i.e.  antinomian Christianity).
		</li>
	</ul>
</p>

<p>
	<small>
		<cite>
			<b>More info: </b> see
			<a href="http://www.jewfaq.org/613.htm"> JewFAQ.Org</a> (the source for our list), or this
			<a href="http://en.wikipedia.org/wiki/613_Mitzvot"> Wikipedia</a> entry.
		</cite>
	</small>
</p>
