@using MyHebrewBible.Client.Enums

@if (buttonToShow == ButtonsToShow.Both | buttonToShow == ButtonsToShow.PreviousOnly)
{
	@if (Previous!.BibleBook is not null)
	{
		<button type="button" class="btn btn-outline-primary"
						@onclick="ButtonClick">
			<sup>
				@Previous.ButtonText &nbsp;
			</sup><i class="@Enums.BibleBook.NavigationIcon.Previous"></i>
			@* <br /><small>Prev</small> *@
		</button>
	}
	else
	{
		<OnEdgeButton />
	}
}

@code {
	[Parameter, EditorRequired] public BookAndChapter? PreviousBookAndChapter { get; set; }
	[Parameter, EditorRequired] public ButtonsToShow buttonToShow { get; set; }
	[Parameter] public EventCallback<BookAndChapter> OnBookAndChapterSelected { get; set; }

	BibleBookPrevNext? Previous; // only null when Gen 1

	protected override void OnParametersSet()
	{
		Previous = PreviousBookAndChapter!.BibleBook!.NavigationPrevious(PreviousBookAndChapter.Chapter); 
	}

	private void ButtonClick()
	{
		BookAndChapter? bookAndChapter = new BookAndChapter(Previous!.BibleBook, Previous!.Chapter);
		OnBookAndChapterSelected.InvokeAsync(bookAndChapter);
	}
}