@using Client.Enums

@inject NavigationManager NavigationManager

<button @onclick="@(() => ButtonClicked(Nav!.Value))" title="@Nav!.Title @Nav!.HomeTitleSuffix"
				class="list-group-item list-group-item-warning mt-1 @Nav!.DisabledHtml">
	<div class="d-flex w-100 justify-content-between">
		<i class="@Nav!.Icon fa-fw @IconSize" aria-hidden="true"></i>
		<span class="@FontSize @Nav!.DisabledColor">@Nav!.Title</span>
		<span class="float-end text-info">
			<span class="hebrew">@Nav!.HomeFloatRightHebrew</span>
		</span>
	</div>
</button>

@code {
	[Parameter, EditorRequired] public Nav? Nav { get; set; }
	[Parameter, EditorRequired] public MediaQuery? MediaQuery { get; set; }

	protected string IconSize => $"{(MediaQuery == MediaQuery.Sm ? " fa-2x" : " fa-3x")}";
	protected string FontSize => $"{(MediaQuery == MediaQuery.Sm ? " fs-5" : " fs-4")}";

	private void ButtonClicked(int id)
	{
		NavigationManager!.NavigateTo(Nav.FromValue(id) + "/");
	}
}
