@using Client.Enums

<div class="card-body px-0">
	<div class="list-group">
		@* <FancyFatNavButton Nav="Nav.HebrewRevelation" MediaQuery="MediaQuery.Md" IsFeatured=true /> *@
		<FancyFatNavButton Nav="Nav.Haggadah" MediaQuery="MediaQuery.Md" IsFeatured=true />
	</div>
</div>

@code {

}
