@using MyHebrewBible.Client.Features.Home.Omer

<div class="d-flex justify-content-center">

	<ShabbatMeter />

	@if (OmerCnt > 0 && OmerCnt <= 50)
	{
		<div class="px-1"></div>
		<OmerCard OmerCnt="OmerCnt" OmerCntHebrew="@OmerCntHebrew" />
	}

</div>

@code {
	protected int OmerCnt =  Constants.CountInDays();
	protected string? OmerCntHebrew;

	protected override void OnInitialized()
	{
		OmerCntHebrew = OmerGematriaDictionary.GetHebrew(OmerCnt);
	}

}
