@page "/"
@using MyHebrewBible.Client.Enums

<PageTitle>My Hebrew Bible</PageTitle>
@* <PageTitle>Home | MHB</PageTitle> *@
@* <PageHeader PageEnum="Enums.Nav.Home" /> *@

<div class="text-center">
  @* <img src="/images/MyHebrewBible.svg" class="filter-green" /> *@
	<h2>My Hebrew Bible</h2>
</div>

<div class="card border-info">

	<div class="@MediaQuery.XsOrSm.DivClass">
		<div class="card-body">
		<SidebarButtonsFlex IsXsOrSm="true" />
		</div>
	</div>

	<div class="@MediaQuery.MdOrLgOrXl.DivClass">
		<div class="card-body">
		<SidebarButtonsFlex IsXsOrSm="false" />
		</div>
	</div>

</div>
