<div class="card">
  <div class="card-header">
    My Hebrew Bible
  </div>
  <div class="card-body">
    <h5 class="card-title">Home Page Content</h5>
@*     
    <p class="card-text">ToDo: Upcoming Events</p>
    <p class="card-text">ToDo: Add the ShabbatMeter</p>
 *@  </div>
</div>

@code {

}
