@using Client.Enums

@inject NavigationManager NavigationManager

@if (IsXsOrSm)
{
	<div class="list-group">
		@foreach (var item in Nav.List.ToList()
		.Where(w => w.IsPartOfList(PageListType.Layout))
		.OrderBy(o => o.Sort))
		{
			<FancyFatNavButton Nav="item" />
		}
	</div>
}
else
{
	<div class="row">
		<div class="col-6">
			<div class="list-group">
				@foreach (var item in Nav.List.ToList()
					.Where(w => w.IsPartOfList(PageListType.Layout)).Where(w => w.Value <= 9)
					.OrderBy(o => o.Sort))
				{
					<FancyFatNavButton Nav="item" />
				}
			</div>
		</div>
		<div class="col-6">
			<div class="list-group">
				@foreach (var item in Nav.List.ToList()
					.Where(w => w.IsPartOfList(PageListType.Layout)).Where(w => w.Value > 9)
					.OrderBy(o => o.Sort))
				{
					<FancyFatNavButton Nav="item" />
				}
			</div>
		</div>
	</div>
}

@code {
	[Parameter, EditorRequired] public bool IsXsOrSm { get; set; }

	private void ButtonClicked(int id)
	{
		NavigationManager!.NavigateTo(Nav.FromValue(id) + "/");
	}
}
