@using MyHebrewBible.Client.Helpers

<div class="card border-info  m-3">

	<div class="card-header">
		<div class="d-flex justify-content-center">
			<span class="fs-4 badge bg-warning-subtle text-black">Part 2 Introduction</span>
			<span class="float-end"><ToggleButton OnShowDetails="OnToggleChanged" /></span>
		</div>
	</div>

	@if (showDetails)
	{
		<div class="card-body py-1">

			<p class="card-text">
				<b>Nehemia:</b> So, we are back discussing the <b>Hebrew version of the Book of Revelation</b>, which can be found in the <b>British Library</b>.
				In fact, they have it on their website. It’s <b>manuscript Sloane 273</b>, and I want to get to verse 18,
				because verse 18 is the second most exciting verse in the whole section, for me.
			</p>
		</div>

		<div class="card-footer">
			<p class="card-text">
				<b>JKM References</b>
			</p>
			<ul>
				<li>Hebrew Voices #40 – Hebrew Manuscript of the Book of Revelation: Part 2</li>
				<li><a href="https://myhebrewbible5.blob.core.windows.net/mhb-container/Article/Word-Study-G5498-cheirographon-Col-2-14-Handwriting-Bill-of-Divorce.pdf">Word Study G5498 cheirographon Col 2:14 Handwriting - the Bill of Divorce</a></li>
				<li>
					<a href="https://www.nehemiaswall.com/">NehemiasWall.com/</a>
				</li>
			</ul>
		</div>
	}
</div>

@code {
	private bool showDetails = false;
	private void OnToggleChanged(bool newState)
	{
		showDetails = !showDetails;
	}
}
