<h2>NGI Hebrew Revelation</h2>

<h4>N.G.I. = Nehemia Gordon Interlinear</h4>

<h6>The translation source is a manuscript of Revelations 1:1-2:13 that is written in Hebrew</h6>

<p>
	It was found in the British Library what Nehemia Gordon did was create a 
	<a href="https://audio.nehemiaswall.com/Downloads/A-Hebrew-Manuscript-of-the-Book-of-Revelation-British-Library-Sloane-273.pdf"></a>PDF
	of it.
	The format is two columns, with the first being Nehemia's translation into English and with the second being the Hebrew gotten from the manuscript.
</p>


@* <p>
	this is my first time using the British Library site. is it just me? 
	the search seems awfully clunky. 
	i tried searching for the EXACT title (1500-1699,
	New Testament in Hebrew translation.) and got over 5000 results, 
	Sloane MS 237 nowhere to be found in the first 4 pages. 
	also tried typing in Sloane and 237 and it told me my search item was too short! … 
	the Browse tab seems like a better way to find it. 
	i know Nehemia provided us with a shortcut,
	im just trying to familiarize myself with the site
</p> *@



@code {

}
