@using MyHebrewBible.Client.Helpers

<div class="card border-primary p-2 my-1">

	@if (AddGridHeader)
	{
		@HtmlGeneration.TableHeading3Cols()
	}

	<div class="row mb-2">

		<div class="col-4 fs-5">
			@HtmlGeneration.VerseNoCol(VerseNumber)
			@Col1
		</div>

		<div class="col-4 fs-5">
			@Col2
		</div>

		<div class="col-4 fs-5">
			<div class="@HebrewSize">
				<sup class='text-primary fw-bold'>@VerseHebrew</sup>
				@Col3
			</div>

		</div>

	</div>

	@if (@FootNote is not null)
	{
		<div class="card-body">
			@FootNote
		</div>
	}

	@if (@FootNote2 is not null)
	{
		<div class="card-body">
			@FootNote2
		</div>
	}

	@if (@FootNote3 is not null)
	{
		<div class="card-body">
			@FootNote3
		</div>
	}


</div>


@code {
	[Parameter, EditorRequired] public int VerseNumber { get; set; }
	[Parameter, EditorRequired] public string? VerseHebrew { get; set; }
	[Parameter, EditorRequired] public bool AddGridHeader { get; set; }
	[Parameter, EditorRequired] public RenderFragment? Col1 { get; set; }
	[Parameter, EditorRequired] public RenderFragment? Col2 { get; set; }
	[Parameter, EditorRequired] public RenderFragment? Col3 { get; set; }
	[Parameter] public RenderFragment? FootNote { get; set; }
	[Parameter] public RenderFragment? FootNote2 { get; set; }
	[Parameter] public RenderFragment? FootNote3 { get; set; }

	string HebrewSize = "hebrew"; // hebrew30
}
