
<h2>A freeman must become a servant</h2>

<p>
  So what is Paul trying to communicate here to the Corintians?
  How can this riddle, this paradox of someone becomig a freeman needs to be a servant?

</p>

<h4>Things to consider</h4>
<ul>
  <li>

    <blockquote>
      <b>Freeman (colonial)</b>
      <p>
        Freeman is a term which originated in 12th-century Europe and was common as an English or American Colonial expression in Puritan times.
        In the Bay Colony, a man had to be a member of the Church to be a freeman.
        In Colonial Plymouth, a man did not need to be a member of the Church, but he had to be elected to this privilege by the General Court.
        Being a freeman carried with it the right to vote, and by 1632 only freemen could vote in Plymouth.[1]
        ...
      </p>

      <small><cite title="Source Title">Wikipedia <a href="http://en.wikipedia.org/wiki/Freeman_(Colonial)">Freeman (colonial)</a></cite></small>
    </blockquote>

  </li>
  <li>Contrast this with <a href="http://en.wikipedia.org/wiki/Indentured_servant"></a>Indentured Servant</li>
  <li>
    The only place in the bible where this word is used!  <small>See Word-Study-G558-apeleutheros-freeman-1Co-7-21.doc</small>
  </li>
  <li>
    <blockquote>
      <b>FREEMAN: </b>
      <u>One who is in the enjoyment of the right to do whatever he pleases, not forbidden by law.</u> One in the possession of the civil rights enjoyed by, the people generally. 1 Bouv. Inst. n. 164. See 6 Watts, 556:
      <small><cite title="Source Title">Bouvier's 1856 Law Dictionary</cite></small>
    </blockquote>
  </li>
</ul>

<h4>Abide in YHVH</h4>
<p>
  The five verses <b>1Co 7:20-24</b> are wrapped by these two words G2564 kaleo and abide G3306 meno "...he is called, <sup>G2564 kaleo</sup> ..." and "...abide <sup>G3306 meno</sup> ..."
  <br />
  <b>G2564 <i>kaleo</i></b>:
  Akin to the base of G2753; to &quot;call&quot; (properly aloud, but used in a variety of applications, directly or otherwise): - bid, call (forth), (whose, whose sur-) name (was [called]).
  <br />
  kaleo is the root word of ekklesia (G2753) which is translated assembly or church

  Strong's (From a compound of G1537 and a derivative of G2564;).  The LXX is H3862  lahaqah H6951 qahal .

  <b>G3306 <i>meno</i></b>:
  A primary verb; to stay (in a given place, <b>state</b>, relation or expectancy): - abide, continue, dwell, endure, be present, remain, <b>stand</b>, tarry (for), X thine own.

  <br />
  See H6951 Qahal - H5712 Edah - G1577 Ekklesia - Church - Synagogue.doc
</p>

<h4>Status and Standing</h4>
<p>
  I highlighted these words above because they have powerful legal meaning.
  To say that I abide in YHVH is to stay I operate in his Jurisdiction.
</p>

<h4>Paid for a price</h4>
<p>
  From the perspective of law, it is important that a price  <span class="text-success"><i>timee</i> <sup>G5092</sup></span> is mentioned because you can't have a binding contract without <i>quid-pro-quo</i>.
  Price implies money or something of substance.  This gets into the "400" level topic of the definition for money.<br />
  <ul>
    <li>Is there more than one type of monies of account?</li>
    <li>Don't you use money to pay bills?</li>
    <li>What is the most important <b>Bill</b> in scripture? (most important according to <b>MHB</b>), isn't it the <b>Bill of Divorce</b>?</li>
    <li>If there is no way to pay this bill on my own, but YHVH gives me a remedy (given in the form of a <b>gift</b>), why wouldn't I do that?</li>
  </ul>
</p>

<h4>Key Legal Take Away</h4>
<p class="text-danger">
  ToDo:
</p>

<h4>References</h4>
<ul>
  <li>Word-Study-G5092-timee-honour-price.doc</li>
  <li>Word Study G1198 desmios Prisoner(s), Bond, G1199, G1210.doc</li>
  <li>Word-Study-of-servant-G1401-G1402-as-in-Bond-servant-of-Yshua.doc</li>
</ul>


@*


    <li>The bill in question is of utmost importanance not because I am glad to have a bill  <b>bill</b> in scripture that needs to be paid?</li>
    <li>It's important to me not because I desperately want this bill (who needs more bills) but rather that I want most assuredely want this particular bill to be paid off</li>
    <li>If there is no way that I can pay this bill but a remedy is given to me by someone who can (in the form of a <b>gift</b>) why wouldn't I do that?</li>
   (or discharged).

  <li>Eph 3:1 KJV  For this cause I Paul, the prisoner of Jesus Christ for you Gentiles,</li>
  Word-Study-of-servant-G1401-G1402-as-in-Bond-servant-of-Yshua.doc

  <li>It's important to me not because I desperately want this bill (who needs more bills) but rather that I want this in question to be paid off (or discharged).</li>
*@