
<h4>Various Notes</h4>
<ul>
  <li class="text-danger">NOT DONE</li>
  <li>
    Notes from Botkin; "What was nailed to the cross in Col 2:14"
  </li>
  <li>
    Col 2:14 <a href="https://net.bible.org/#!bible/Colossians+2:11">NET</a>He has destroyed what was against us, a certificate of indebtedness30 expressed in decrees opposed to us. He has taken it away by nailing it to the cross.
  </li>
  <li>
    contrary. Greek hupenantios. Only here and Heb 10:27.
  </li>
</ul>

<h5>Footnotes</h5>
<dl>
  <dt>BDAG</dt>
  <dd>sometimes times the Bauer-Danker see <a href="http://en.wikipedia.org/wiki/Bauer_lexicon">Wikipedia</a></dd>
</dl>

@*

   BDAG or sometimes the 'Bauer-Danker

  Col 2:14 KJV  Blotting out the handwriting of ordinances that was against us, which was contrary to us, and took it out of the way, nailing it to his cross;

*@