
<h4>Context</h4>
<p>The outline of Deuteronomy chapter 17 before verse 14-20 is...</p>
<ul>
  <li><sup>Deu 17:8-11</sup> Hard controversies are to be determined by the priests and judges</li>
  <li><sup>Deu 17:12-13</sup> The one who shows contempt for the judge must die</li>
</ul>

<h4>Note</h4>
<p>First there is the judges (and prophets) and then there is the King, just like the chronology of Israel's history..</p>

