
<h3>Ephesians 2:12-19 <small>verse by verse commentary</small></h3>

<div class="row">
  <div class="col-xs-1">12</div>
  <div class="col-xs-11">
    <p>
      That at that time ye were without Christ, being aliens from the commonwealth of Israel, and strangers from the covenants of promise, having no hope, and without God in the world:
    </p>
  </div>
</div>
<div class="row"><div class="col-xs-2"></div><div class="col-xs-10"><p class="text-muted">Add Comment Here</p></div></div>

<div class="row">
  <div class="col-xs-1">13</div>
  <div class="col-xs-11">
    <p>
      But now in Christ Jesus ye who sometimes were far off are made nigh by the blood of Christ.
    </p>
  </div>
</div>
<div class="row"><div class="col-xs-2"></div><div class="col-xs-10"><p class="text-muted">Add Comment Here</p></div></div>

<div class="row">
  <div class="col-xs-1">14</div>
  <div class="col-xs-11">
    <p>
      For he is our peace, who hath made both one, and hath broken down the middle wall of partition between us;
    </p>
  </div>
</div>
<div class="row"><div class="col-xs-2"></div><div class="col-xs-10"><p class="text-muted">Add Comment Here</p></div></div>

<div class="row">
  <div class="col-xs-1">15</div>
  <div class="col-xs-11">
    <p>
      Having abolished in his flesh the enmity, even the law of commandments contained in ordinances; for to make in himself of twain one new man, so making peace;
    </p>
  </div>
</div>
<div class="row"><div class="col-xs-2"></div><div class="col-xs-10"><p class="text-muted">Add Comment Here</p></div></div>

<div class="row">
  <div class="col-xs-1">16</div>
  <div class="col-xs-11">
    <p>
      And that he might reconcile both unto God in one body by the cross, having slain the enmity thereby:
    </p>
  </div>
</div>
<div class="row"><div class="col-xs-2"></div><div class="col-xs-10"><p class="text-muted">Add Comment Here</p></div></div>

<div class="row">
  <div class="col-xs-1">17</div>
  <div class="col-xs-11">
    <p>
      And came and preached peace to you which were afar off, and to them that were nigh.
    </p>
  </div>
</div>
<div class="row"><div class="col-xs-2"></div><div class="col-xs-10"><p class="text-muted">Add Comment Here</p></div></div>

<div class="row">
  <div class="col-xs-1">18</div>
  <div class="col-xs-11">
    <p>
      For through him we both have access by one Spirit unto the Father.
    </p>
  </div>
</div>
<div class="row"><div class="col-xs-2"></div><div class="col-xs-10"><p class="text-muted">Add Comment Here</p></div></div>

<div class="row">
  <div class="col-xs-1">19</div>
  <div class="col-xs-11">
    <p>
      Now therefore ye are no more strangers and foreigners, but fellowcitizens with the saints, and of the household of God;
    </p>
  </div>
</div>
<div class="row"><div class="col-xs-2"></div><div class="col-xs-10"><p class="text-muted">Add Comment Here</p></div></div>


@*

      {New Man, see Eph_4:24. and 2Co_5:17 (...  any man be in Christ, he is a new creature ...), Col_3:10.}
       -- RSTNE 6151: Eph 2:17 "...And came and proclaimed shalom to you who were far off,  6151 ..." Efrayim, or non-Jewish-Yisrael, as per Dan_9:7, Eze_11:16 and other places.


  <h4>ZZZZZZZZZZZZ</h4>
  <ul>
    <li>
      zzzz
    </li>
    <li>
      zzz
    </li>
  </ul>

  <h4>Conclusions</h4>
  <p>

  </p>

  <h4>Key Legal Take Away</h4>
  <p class="text-danger">

  </p>
*@