<h4>Good Faith</h4>

<h4>Legal Terms <small>Source Bouviers</small></h4>

<ul>
  <li>
    <i><b>ACTIO BONAE FIDEI</b></i>: civil law. An action of good faith.
  </li>
  <li>
    <b>FAITH:</b> Probity; good faith is the very soul of contracts. Faith also signifies confidence, belief; as, full faith and credit ought to be given to the acts of a magistrate while acting within his jurisdiction. Vide <u>Bona fide</u>.
  </li>
  <li>
    <b>BONA FIDE</b><br />
    1. In or with good faith. <br />
    2. The law requires all persons in their transactions to act with good faith and a contract where the parties have not acted bonafide is void at the pleasure of the innocent party ...
  </li>
</ul>

@*<h4>Key Legal Take Away</h4>
<p class="text-danger">

</p>*@
