@*

  Exo 19:3-6 KJV  And Moses went up unto God, and the LORD called unto him out of the mountain, saying,
    Thus shalt thou say to the house of Jacob, and tell the children of Israel;
  (4)  Ye have seen what I did unto the Egyptians, and how I bare you on eagles' wings, and brought you unto myself.
  (5)  Now therefore, if ye will obey my voice indeed, and keep my covenant, then ye shall be a peculiar treasure unto me above all people: for all the earth is mine:
  (6)  And ye shall be unto me a kingdom of priests, and an holy nation. These are the words which thou shalt speak unto the children of Israel.

*@

<p>
  Why does YHBH need a <b>Kingdom of Priests</b>? <br />
  Consider these points of law and legal definitions
</p>

<ul>
  <li>
    <b>To give the earth is mine</b>
  </li>
  <li>
    <b>The earth is mine</b> These goes back to Genesis 1:1 where Elohim made the <u>claim</u> of being the Creator of the Universe.
  </li>
</ul>

<h4>Conclusions</h4>
<p>
  By YHVH giving the covenant to Israel he is, therefore the <b>law giver</b>.
  This spiritual marrage covenant
</p>

@*<h4>Key Legal Take Away</h4>
  <p class="text-danger">

  </p>*@
