
<h4>Word Study on King</h4>
<p>
  The <b>King James</b> translation (no pun intended) translates this as
  <blockquote>The LORD shall reign <sup><span class="text-success">H4427</span> malak</sup> for ever and ever</blockquote>
</p>
@*
  <br />
  Strong's
  A primitive root; to reign; inceptively to ascend the throne; causatively to induct into royalty; hence (by implication) to take counsel: - consult, X indeed, be (make, set a, set up) king, be (make) queen, (begin to, make to) reign (-ing), rule, X surely.

    &quot;
    <ul>
    <li>
      zzzz
    </li>
    <li>
      zzz
    </li>
  </ul>

  <h4>Conclusions</h4>
  <p>

  </p>*@

<h4>Key Legal Take Away</h4>
<p class="text-danger">
  The devine right (power and authority) is not the question, it is rather <u>who</u> is the king
</p>
