
<h4>Consider these questions</h4>
<ul>
  <li>In this most awesome and powerful verse, is not <b>YHVH</b> making a claim that he is the Creator of the Universe?</li>

  <li>
    What other gods have made that claim?
    <ul>
      <li>
        Does the "god" of evolution make that claim?  i.e. if the bible of evolution is "Origin of Species" by Charles Darwin,
        how could one make a claim of a creator using that as their source document?
        I don't see how you can make that claim.
      </li>
      <li>
        Does the god of the Koran make that claim? (Im not a student of the Koran, so I can't make that statment.)
      </li>
    </ul>
  </li>
</ul>

<p>
  Please note, I'm not trying to make fun of or mock anyone's strongly held religious beliefs or convictions.
  My goal is to logically put together a narrative that I call my strongly held religious beliefs and convictions (<b>SHRB&amp;C</b>).
  The best, most powerful way to accomplish this is with law and scriptures.
</p>

<h4>Legal presumptions</h4>
<ul>
  <li>All courts are claims based.</li>
  <li>Failure to state a claim upon which relief can be granted is ... fatal</li>
  <li>The one who is a creator of a thing has ultimate control over it and can do with it however that creator pleases, even it's ultimate destruction</li>
  <li>The American Birth right is predicated on the rights from the Creator as is described in the Declarations of Independences</li>
  <li>
    The bible, and this verse in particular, fall under the Ancient Documents Rules,
    see <a href="http://www.law.cornell.edu/rules/fre/rule_901">FRE 901</a> and
    <a href="http://www.law.cornell.edu/rules/fre/rule_803">FRE 803</a>.
  </li>
</ul>

<h4>Conclusions</h4>
<p>
  Based on the questions I have asked along with some legal presumptions, can we draw some final conclusions.
  If your claiming <b>rights</b> from the <b>Creator</b> you have to make a reasonable argument at the minimum that there is a <b>Creator</b>.
  This is way this verse is on the Favorite List.
</p>

<h4>Key Legal Take Away</h4>
<p class="text-danger">
  Your can't claim <u>C</u>reator <u>G</u>iven <u>U</u>nalienable <u>R</u>ights if can't identify the <b>Creator</b>.
</p>
