
@{
/*
 Templates
 <a class="btn btn-default btn-sm" <a href="@Anchors.Glossary.PageIndexFromRoot" asp-route-id="159">Learn more &raquo;</a></p>
 <a href="@Anchors.VerseList.ByRange" asp-route-begId="29132" asp-route-endid="29132" asp-route-slug="Gal-3-29">Gal 3:29</a>
 <blockquote>the rest is commentary</blockquote>
 */
}

<h4>Necessary elements of a contract</h4>
<ul>
	<li>
		Is this just a simple contract?  If Abram is asleep how can he be competent to enter into a contract/covenant?
	</li>
	<li>
		If it takes two or more to enter into a contract how does Abram, given his state of mind, qualify as one of those parties?
	</li>
	<li>
		If it is only YHVH that is the signature on the contract, then how does one contract with yourself?
	</li>
	<li>
		Why in verse 17 does the Torah describe two entities that went through the pieces (&quot;a smoking furnace, and a burning lamp&quot;)?
	</li>
</ul>

<h4>Conclusions</h4>
<p>
	I am of the belief that the &quot;covenant of the pieces&quot; is describing an estate for Abram and his descendants for which they will be beneficiaries at Mt. Sinai.
	These is what Paul is talking about regarding <b>heirs according to the promise</b> 
	see <a href="https://www.myhebrewbible.com/VerseByScriptureIdRange/29132/29132/slug">Gal-3-29  <i class="fas fa-external-link-alt"></i></a>.
			
			
</p>

<h4>Key Legal Take Away</h4>
<p class="text-danger">
	Understanding the necessary elements that make up a contract are absolutely crucial?
</p>
