
<h4>Conclusions</h4>
<p>
  An obvious connection to the <b>two houses</b>, an obvious connection to the Mt. Sinai covenant being restored and which was terminated by the <b>Bill of Divorce</b> given to the House of Israel.
    
</p>

<h4>Questions</h4>
<ul>
  <li>
    Who are his people?
  </li>
  <li>
    What is the lack of knowledge...how to bake a cake?
  </li>
  <li>
    The lack of knowledge in context is that of the priest, so where do you go to seek this knowledge?
  </li>
</ul>

<p>The context of this verse is about the <b>Bill of Divorce</b> given to one of the houses (Israel/Ephraim) for her sins</p>

@*<h4>Key Legal Take Away</h4>
<p class="text-danger">
  Two House is biblical. The Bill of Divorce given to one of the houses (Israel/Ephraim) is biblical.
</p>*@
