

<h4>Isaiah 2:3</h4>
<p>
  Words of Psalms 122, see the article <u>Pray-for-the-peace-of-Jerusalem-Psa-122.pdf</u>
</p>


<h4>Isaiah 2:4</h4>
<p>
  <b>They</b> shall do these things not Messiah!
  The Messiah will enable them to do these things of peace because first and foremost the Two Houses, Judah and Ephraim, are now united <i>echad</i>.
  Messiah gives us the capacity to stop being &quot;A house divided amongst itself&quot; <sup>Mat 12:25</sup> and to make choices so that we can truly say
  &quot;how good and wonderful it is for brethren to dwell together&quot; <sup>Psa 133:1</sup>.
  <br />see <u>Prince-of-Peace-Sar-Shalom.doc</u>
</p>
