
<h4>Notes</h4>
<ul>
  <li>
    Another powerful two house set of verses
  </li>
  <li>
    Even though it says Judah was more treacherous the Ephraim (The House of Israel), she nevertheless was <b>not</b> give the Bill of Divorce
  </li>
</ul>

<h4>Conclusions</h4>
<p>

</p>

<h4>Key Legal Take Away</h4>
<p class="text-danger">
  Two House is biblical. The Bill of Divorce given to one of the houses (Israel/Ephraim) is biblical.
</p>
