
<h4>a '400' level teaching</h4>

<p>
  This is because it is like a 400 level college course that has many prerequisites that must be mastered first.
  
</p>

<h4>Advanced Topic Items</h4>
<ul>
  <li><b>Biblical Commercial Redemption</b> or <b>Torah Equity</b></li>
  <li>The strugle that Jacob had with Esau and with God</li>
  <li>What is money?</li>
  <li>What are financial instruments?</li>
  <li>How do trusts work</li>
  <li>How do estates work</li>
  <li>What is the role of the Edomites?</li>
  <li>How the Edomites relate to Israel?</li>
  <li>The relvancey of law forms like <b>Admiralty/Maritime</b>, <b>Equity</b>, <b>Ecclesiastical</b></li>
  <li>Many other things</li>

</ul>
