
<h4>This evil report is a pattern for the bill of divorce</h4>
@*  *@
<h4>Context</h4>
<ul>
  <li><sup>Num 13:31-32</sup> The Sacred Contract taken away because of the Evil Report</li>
  <li><sup>Num 14:19-20</sup> a Pardon is requested and given</li>
  <li><sup>Num 14:21-23</sup> The sentence is given (Life without possibility of parol, i.e. they become the walking dead).</li>
  <li><sup>Num 14:26-35</sup> More details of the sentence</li>
</ul>
    @*
        <li>Num 13:31-32 <sup>4107, 4108</sup> The Sacred Contract taken away because of the Evil Report</li>
    <li>Num 14:19-20 <sup>4128, 4129</sup> a Pardon is requested and given</li>
    <li>Num 14:21-23 <sup>4130, 4132</sup> The sentence is given (Life without possibility of parol, i.e. they become the walking dead).</li>
    <li>Num 14:26-35 <sup>4135, 4144</sup> More details of the sentence</li>

    *@



<h4>To Do</h4>
<p>
  Compare and contrast the legal consequences of what happened to this slanderous generation with the House of Israel that got the Bill of Divorce
</p>

