
<h2>Two Levels</h2>

<h3>Level 1 - Hebrew Roots Level</h3>
<p>
  This does <b>NOT</b> say find someone else (e.g. Rabbi, Pastor, Priest and so called <b>Church Fathers</b>) who has studied and you believe is approved unto God, but rather it says find <b>yourself</b> approved.
  Studying is about thinking so you need to spend some time <u>think about thinking</u> (Hermeneutics and PaRDeS for example).
  You need to think about what the weightier matters are and spend more time (weight) on them.
  <br />
  I have to give credit where credit is do, and the people in the Hebrew Roots movement have realized that the Torah has not been done away with and that it should be followed.
  They have for example embraced the Sabbath, the High holydays and the dietary laws.  They are doing these things because it plainly says to do them.
</p>

<h3>Level 2 - 400 Level</h3>
<p>
  Where the Hebrew Roots movement needs growth is to better identify what the weightier matters and for <b>MHB</b> this is clearly the law and all that that entails.
  <br />
  If you accept this then &quot;showing thyself approved&quot; means being competent in law so that you can do God's work.
  It means to be eleemosynary and in alignment with fixing this world according to the kingdom of <i>El Shaddai</i>.
  It means that you have to show that you can be en<u>trust</u>ed with the <i><u>talents</u></i> that have been given to you as a birth right.
  <br />More 400 level discussions latter.
</p>

@*
  See also 2Co_10:16-18
  This means you have to show competency to the current trustees of your <i>Cestui Queue</i> trust that you can take over as trustee and/or gaining access to the assets of the trust.
  The purpose of the trustee is not for anything you fancy, but for God i.e. it has 


*@