@using H = MyHebrewBible.Client.Features.Haggadah.Helper
@using MyHebrewBible.Client.Features.Haggadah.VerseContent


<div class='bg-danger-subtle p-2'>
	<p class="@H.p4CenterBoldClass">Las 10 Plagas</p>
	<ol class="@H.pClass">
		<li>El agua se convirtió en sangre -  <a href='/BookChapter/Exo/7/14/1700'>Éxodo 7:14-24</a></li>
		<li>Ranas -                  <a href='/BookChapter/Exo/8/1/1712'>Éxodo 8:1-15</a></li>
		<li>Piojos  -        <a href='/BookChapter/Exo/8/16/1727'>Éxodo 8:16-19</a></li>
		<li>Moscas  -      <a href='/BookChapter/Exo/8/20/1731'>Éxodo 8:20-32</a></li>
		<li>Enfermedad del ganado -  <a href='/BookChapter/Exo/9/1/1744'>Éxodo 9:1-7</a></li>
		<li>Hervir -                  <a href='/BookChapter/Exo/9/8/1751'>Éxodo 9:8-12</a></li>
		<li>Salve -                   <a href='/BookChapter/Exo/9/13/1756'>Éxodo 9:13-35</a></li>
		<li>Langostas -                <a href='/BookChapter/Exo/10/1/1779'>Éxodo 10:1-20</a></li>
		<li>Oscuridad -               <a href='/BookChapter/Exo/10/21/1799'>Éxodo 10:21-29</a></li>
		<li>Muerte del primogénito - <a href='/BookChapter/Exo/11/10/1808'>Éxodo 11:1-10</a>; <a href='/BookChapter/Exo/12/29/1846'>Éxodo 12:29-36</a> </li>
	</ol>
</div>

<div class='bg-info-subtle p-2'>
	<p class="@H.p4CenterBoldClass">¿Qué hay de la Pascua?</p>
	<p class="fs-4 text-center">Resulta que, desde una perspectiva bíblica de todos modos, eso no es una cosa.</p>
	<ol class='fs-5 mt-2'>
		<li>
			<a href='https://myhebrewbible5.blob.core.windows.net/mhb-container/Article/Acts-12-4-The-one-and-only-occurrence-of-Easter-in-the-King-James.pdf' target='_blank'>
				Acts 12:4 - the one and only occurrence of Easter in the KJB (PDF)
			</a>
		</li>
		<li>
			<a href='https://myhebrewbible5.blob.core.windows.net/mhb-container/Article/Acts-12-4-Easter-only-in-KJV-G3957-H6453-BLB-Translations.jpg' target='_blank'>
				Acts 12:4 Word Study of Easter (Image)
			</a>
		</li>
@* 
		<li>
			Y habiéndole tomado preso, le puso en la cárcel, entregándole a cuatro grupos de cuatro soldados cada uno, 
			para que le custodiasen; y se proponía sacarle al pueblo después de la <b>pascua</b>. <sup>Hect 12.4 RVR60</sup>
		</li>
 *@
	</ol>
</div>

<div class='bg-primary-subtle p-2'>
	<p class="fs-4 text-center">Instrucciones Originales <a href='/BookChapter/Exo/7/14/1700'><b>Éxodo 12 1-16</b></a></p>
</div>


@code {

}
