@using H = MyHebrewBible.Client.Features.Haggadah.Helper

<p class="@H.pClass">
	@H.Leader("Líder")
	Ahora disfrutamos de la dulzura de la Libertad y la Salvación
	Bendito eres Tú, SEÑOR nuestro Dios y Mesías Yeshua por permitirnos saborear la dulzura de la libertad y liberarnos de los pecados de Jeroboam.
	En el Nombre de Yeshua oramos.
</p>

<p class="@H.p4CenterBoldClass">COME ALGO DULCE	<i>CHAROSETW/MATZAH</i></p>

@code {
	

}
