@using H = MyHebrewBible.Client.Features.Haggadah.Helper

<h3 class='mb-3 text-center'>Bienvenidos a la Fiesta de Pascua</h3>
<h3 class='mb-3 text-center'>Una celebración del rescate de la Casa de Israel (Efraím)</h3>
<p class='@pClass1'>Ven, amado mío, y celebra la conmemoracion de nuestra redención</p>

<p class='@pClass2'>Donde la esclavitud se inclina ante la libertad</p>
<p class='@pClass2'>Donde la oscuridad se inclina ante la luz</p>
<p class='@pClass2'>Donde la desesperanza se inclina ante la esperanza</p>
<p class='text-center text-danger fs-5 mt-1 mb-3'>Donde la muerte se inclina ante la vida</p>

<p class='@pClass2'>Donde la fe vence al miedo</p>
<p class='@pClass2'>Donde el bien vence al mal</p>
<p class='@pClass2'>Donde la verdad vence a la falsedad</p>
<p class='text-center text-danger fs-5 mt-1 mb-3'>Donde la alegría vence a la ir</p>

<p class='@pClass2'>Donde el orgullo es reemplazado por la humanidad</p>
<p class='@pClass2'>Donde la apatía es reemplazada por el amor</p>
<p class='@pClass2'>Donde el caos es reemplazado por el shalom</p>
<p class='@pClass2'>Donde la rebelión es reemplazada por la obediencia</p>

@code {
	
	public const string pClass1 = "text-center text-danger fs-5 mb-3";
	public const string pClass2 = "text-center text-danger fs-5 my-1";
}
