@using H = MyHebrewBible.Client.Features.Haggadah.Helper

<p class="@H.pClass">
	@H.ParagraphAllRead("Todos Gritan")
	Yahvé sacó a Yisrael, los guió a través del desierto, reveló Su Presencia en el Monte Sinaí y les dio la Torá.
	Les instruyó que construyeran el Tabernáculo y estableció un Sacerdocio para servirle.
	Ni sus zapatos ni sus ropas se desgastaron.
	Los alimentó con maná, les dio agua de la Roca,
	derrotó a sus enemigos delante de ellos y los llevó a <i>Eretz Yisrael</i>.
	Yahvé hizo lo que prometió; los liberó.
</p>

<p class="@H.p4CenterBoldClass">
	También hará lo que ha prometido para liberar a la Casa de Israel de su dilema en las naciones.
</p>

@code {
	
}
