@using MyHebrewBible.Client.Layout

<nav class="navbar navbar-expand bg-primary-subtle fixed-top">

	<div class="collapse navbar-collapse justify-content-start">

		<div class="px-1">
			<HomeButton />
		</div>

	</div>

	<div class="collapse navbar-collapse justify-content-center">

		<div class="px-1">
			<BookModal CurrentBookChaptersVerses="CurrentBookChaptersVerses"
								 ShowIntroToggle="ShowIntroToggle"
								 OnBookChaptersVersesSelected="ReturnedBookChaptersVerses" />
		</div>

	</div>


	<div class="collapse navbar-collapse justify-content-end">

		@if (ShowIntroToggle)
		{
			<div class="pe-1">
				<a class="btn btn-primary" title="return to intro" @onclick="@(e => ToggleClick())">
					<i class="fas fa-arrow-left"></i>
				</a>
			</div>
		}

		<div class="pe-1">
			<PageInstructions />
		</div>
	</div>
</nav>

@code {
	[Parameter, EditorRequired] public Enums.BookChaptersVerses? CurrentBookChaptersVerses { get; set; }
	[Parameter, EditorRequired] public bool ShowIntroToggle { get; set; }

	[Parameter] public EventCallback<Enums.BookChaptersVerses> OnBookChaptersVersesSelected { get; set; }
	[Parameter] public EventCallback<bool> OnShowIntroSelected { get; set; }

	private void ToggleClick()
	{
		//Toast!.ShowInfo($"{nameof(ChapterList)}!{nameof(ButtonClick)}; chapter{chapter}");
		CurrentBookChaptersVerses = null;
		OnShowIntroSelected.InvokeAsync(!ShowIntroToggle);
	}

	private void ReturnedBookChaptersVerses(Enums.BookChaptersVerses bookChaptersVerses)
	{
		OnBookChaptersVersesSelected.InvokeAsync(bookChaptersVerses);
	}

}
