
<LearnMoreModalTemplate Icon="fas fa-info" IconColor="btn-primary">
	<ChildHeaderContent>
		<h4 class="modal-title">Drill down to see Aleph Tav Verses</h4>
	</ChildHeaderContent>
	<ChildBodyContent>
		<p class="mt-2"><b>1<sup>st</sup></b> Select a bible book from the <span class="bg-info text-black p-2">List box <i class="fas fa-chevron-down"></i> </span></p>

		<p class="mt-4"><b>2<sup>nd</sup></b> Click one of the chapter links to see the verses in those chapters that have a Standalone Aleph Tav <span class="hebrew at-red">את</span></p>
	</ChildBodyContent>
</LearnMoreModalTemplate>

@code {

}
